{% extends "app/base.html" %}
{% load static %}

{% block title %}
<title>退会完了 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span>退会</span>
</h1>

<div class="text-center mb-4">
    <img class="done-check" src="{% static 'img/check.svg' %}">
</div>
<p class="done-text text-center mb-5">退会手続きを完了しました。</p>
<p class="text-center">
    退会手続き完了のメールをお送りさせていただきましたので、内容をご確認ください。<br>
    ご利用ありがとうございました。<br>
    またの機会のご利用、心よりお待ちしております。
</p>
<div class="text-center">
    <a class="profile__btn btn rounded-pill" href="/" ontouchstart="">トップページに戻る</a>
</div>
{% endblock %}