{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block title %}
<title>メールアドレス変更 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span class="px-3">メールアドレス変更</span>
</h1>

<div class="mx-auto text-center">
    <p class="d-inline-block text-left mb-4">
        メールを送信してメールアドレスの変更手続きを行います。<br>
        下記にご希望の新しいメールアドレスをご入力ください。
    </p>
    <form method="POST" class="text-center">
        {% csrf_token %}
        <table class="email-change__form d-table card mx-auto p-sm-3">
            <tbody class="mx-auto">
                <tr>
                    <td id="email-form">
                        {% render_field form.email class="form-control" placeholder="新しいメールアドレス" %}
                        {% for field in form %}
                            <p class="error-msg email_error text-left d-none m-0">
                                {% for error in field.errors %}
                                    ※{{ error }}<br>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p class="error-msg email_error text-left d-none m-0">
                                ※{{ error }}
                            </p>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="email-change__btn btn rounded-pill" ontouchstart="">
            <i class="fas fa-paper-plane fa-fw" aria-hidden="true"></i>送信
        </button>
    </form>
</div>
{% endblock %}

{% block extrajs %}
<script>
    'use strict';

    // エラーメッセージ（メールアドレス）
    const email_error = document.querySelectorAll('.email_error');
    const email = document.getElementById('id_email');
    for ( let i = 0; i < email_error.length; i++ ) {
        if ( email_error[i].textContent.match(/メール/) ) {
            email_error[i].className = 'error-msg m-0 d-block text-left';
            email.className = 'form-control form-error';
        }
        email.addEventListener('click', () => {
            email_error[i].className = 'error-msg email_error d-none text-left m-0'
            email.className = 'form-control'
        })
    }
    // リアルタイムバリデーション
    email.oninput = () => {
        const emailForm = document.getElementById('email-form');
        let settingInfo = (link, carrier)  => {
            const element  = Object.assign(
                document.createElement('p'), {
                    className: 'email-change__form--email-warning text-left mt-1 mb-0',
                    innerHTML: `<i class="email-change__form--email-warning--icon fas fa-exclamation-triangle fa-fw mr-1" aria-hidden="true"></i>\
                        登録変更メールが「spoon.gelato.takasaki@gmail.com」から届きます。<br>\
                        <b>受信許可設定（迷惑メール設定）</b>はお済みですか？\
                        <a class="email-change__form--email-warning--detail" href=${link} target="_blank" rel="noopener">${carrier}</a>`
                }
            );
            emailForm.insertBefore(element, email.nextSibling);
        }
        if ( email.value.match(/ezweb.ne.jp/) && emailForm.children.length == 2 ) {
            settingInfo('https://www.au.com/support/service/mobile/trouble/mail/email/filter/detail/domain/', 'au受信リスト設定');
        } else if ( email.value.match(/softbank.jp/) && emailForm.children.length == 2 ) {
            settingInfo('https://www.softbank.jp/mobile/support/mail/antispam/email-i/white/', 'SoftBank受信リスト設定');
        } else if ( email.value.match(/docomo.ne.jp/) && emailForm.children.length == 2 ) {
            settingInfo('https://www.nttdocomo.co.jp/info/spam_mail/domain/', 'docomo受信リスト設定');
        } else if ( (email.value.match(/ezweb.ne.jp/) || email.value.match(/softbank.jp/) || email.value.match(/docomo.ne.jp/)) && emailForm.children.length == 3 ) {
            ;
        } else if ( (!email.value.match(/ezweb.ne.jp/) || !email.value.match(/softbank.jp/) || !email.value.match(/docomo.ne.jp/)) && emailForm.children.length == 3 ) {
            document.querySelector('.email-change__form--email-warning').remove()
        }
    }
</script>
{% endblock %}