{% extends "app/base.html" %}
{% load static %}

{% block title %}
<title>メールアドレス変更完了 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span class="px-3">メールアドレス変更</span>
</h1>

<div class="text-center mb-4">
    <img class="done-check" src="{% static 'img/check.svg' %}">
</div>
<div class="mx-auto text-center">
    <p class="done-text d-inline-block text-left">メールアドレスの変更を完了しました。</p>
</div>

<div class="text-center">
    <a class="email-change__btn btn rounded-pill" href="/" ontouchstart="" onfocus="this.blur();">トップページに戻る</a>
</div>
{% endblock %}