{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block title %}
<title>メールアドレス変更 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span class="px-3">メールアドレス変更</span>
</h1>

<div class="text-sm-center">
    <div class="text-center mx-auto">
        <p class="d-inline-block text-left mb-4">
            メールを送信してメールアドレスの変更手続きを行います。<br>
            下記にご希望の新しいメールアドレスをご入力ください。
        </p>
    </div>
    <form method="POST" class="text-center">
        {% csrf_token %}
        <table class="email-change__form d-table card mx-auto">
            <tbody class="mx-auto">
                <tr>
                    <td>
                        {% render_field form.email class="form-control" placeholder="新しいメールアドレス" %}
                        {% for field in form %}
                            <p class="error-msg email_error text-left d-none m-0">
                                {% for error in field.errors %}
                                    ※{{ error }}<br>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p class="error-msg email_error text-left d-none m-0">
                                ※{{ error }}
                            </p>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="email-change__btn btn rounded-pill" ontouchstart="" onfocus="this.blur();">
            <i class="fas fa-paper-plane fa-fw" aria-hidden="true"></i>送信
        </button>
    </form>
</div>
{% endblock %}

{% block extrajs %}
<script>
    'use strict';

    // エラーメッセージ（メールアドレス）
    const email_error = document.querySelectorAll('.email_error');
    const email = document.getElementById('id_email');
    for ( let i = 0; i < email_error.length; i++ ) {
        if ( email_error[i].textContent.match(/メール/) ) {
            email_error[i].className = 'error-msg m-0 d-block text-left';
            email.className = 'form-control form-error';
        }
        email.addEventListener('click', () => {
            email_error[i].className = 'error-msg email_error d-none text-left m-0'
            email.className = 'form-control'
        })
    }
</script>
{% endblock %}