{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="login-title">
    <span>LOGIN</span>
</div>

<div class="login col-12">
    <form method="POST" class="login__form">
        {% csrf_token %}
        <div class="login__form--item form-label-group">
            {% render_field form.login class="form-control" placeholder="メールアドレス" %}
        </div>
        <div class="login__form--item form-label-group">
            {% render_field form.password class="form-control" placeholder="パスワード" %}
        </div>
        <button type="submit" class="btn rounded-pill" ontouchstart="">
            <i class="fas fa-sign-in-alt fa-fw" aria-hidden="true"></i>ログイン
        </button>
    </form>
</div>
{% endblock %}