{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block title %}
<title>ログイン | spoon</title>
{% endblock %}

{% block content %}
<div class="title">
    <span>LOGIN</span>
</div>

<div class="login mx-auto">
    <p class="text-center mb-4">アカウントをお持ちでない場合は、<a href="{% url 'account_signup' %}">こちら</a>から会員登録をお願いします。</p>
    {% for field in form %}
        <p class="error-msg text-center m-0">
            {% for error in field.errors %}
                ※{{ error }}<br>
            {% endfor %}
        </p>
    {% endfor %}
    {% for error in form.non_field_errors %}
        <p class="error-msg text-center m-0">
            ※{{ error }}
        </p>
    {% endfor %}
    <form method="POST" class="login__form text-center">
        {% csrf_token %}
        <div class="login__form--field mx-auto mb-3">
            {% render_field form.login class="form-control" placeholder="メールアドレス" %}
        </div>
        <div class="login__form--field mx-auto mb-1">
            {% render_field form.password class="form-control" placeholder="パスワード" %}
            <div class="mt-1 text-right">
                <a href="{% url 'password_reset' %}">パスワードをお忘れの場合</a>
            </div>
        </div>
        <p class="login__form--save mt-4 mb-0">
            <input type="checkbox" name="remember" id="id_remember">
            <label for="id_remember">ログイン状態を保存する</label>
        </p>
        <button type="submit" class="login__form--btn btn rounded-pill" ontouchstart="">
            <i class="fas fa-sign-in-alt fa-fw" aria-hidden="true"></i>ログイン
        </button>
    </form>
</div>
{% endblock %}