{% extends "app/base.html" %}

{% block title %}
<title>ログアウト | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span>ログアウト</span>
</h1>

<div class="mx-auto text-center">
    <p class="d-inline-block text-left">ログアウトしますか？</p>
    <form method="POST" class="text-center">
        {% csrf_token %}
        <button type="submit" class="logout__btn btn rounded-pill" ontouchstart="">
            <i class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></i>ログアウト
        </button>
    </form>
</div>
{% endblock %}