{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block title %}
<title>パスワード変更 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span>パスワード変更</span>
</h1>

<div class="mx-auto text-center">
    <p class="d-inline-block text-left mb-4">下記に現在のパスワードとご希望の新しいパスワードをご入力ください。</p>
    <form method="POST" class="text-center">
        {% csrf_token %}
        <table class="password-change__form d-table card mx-auto p-sm-3">
            <tbody class="mx-auto">
                <tr>
                    <td class="text-left">
                        {% render_field form.old_password class="form-control" placeholder="現在のパスワード" %}
                        {% for field in form %}
                            <p class="error-msg pw_old_error d-none m-0">
                                {% for error in field.errors %}
                                    ※{{ error }}<br>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p class="error-msg pw_old_error d-none m-0">
                                ※{{ error }}
                            </p>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        {% render_field form.new_password1 class="form-control" placeholder="新しいパスワード" %}
                        {% for field in form %}
                            <p class="error-msg pw_error d-none m-0">
                                {% for error in field.errors %}
                                    ※{{ error }}<br>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p class="error-msg pw_error d-none m-0">
                                ※{{ error }}
                            </p>
                        {% endfor %}
                        <span class="help-text mt-1">※8文字以上の半角英数字でご入力ください。</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        {% render_field form.new_password2 class="form-control" placeholder="新しいパスワード（確認用）" %}
                        <span class="help-text mt-1">※確認のためもう一度ご入力ください。</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="password-change__btn btn rounded-pill" ontouchstart="">
            <i class="fas fa-paper-plane fa-fw" aria-hidden="true"></i>送信
        </button>
    </form>
</div>
{% endblock %}


{% block extrajs %}
<script>
    'use strict';

    // エラーメッセージ（現在のパスワード）
    const pw_old_error = document.querySelectorAll('.pw_old_error');
    const pw_old = document.getElementById('id_old_password');
    for ( let i = 0; i < pw_old_error.length; i++ ) {
        if ( pw_old_error[i].textContent.match(/現在/) ) {
            pw_old_error[i].className = 'error-msg m-0 d-block';
            pw_old.className = 'form-control form-error';
        }
        pw_old.addEventListener('click', () => {
            pw_old_error[i].className = 'error-msg pw_old_error d-none m-0'
            pw_old.className = 'form-control'
        })
    }

    // エラーメッセージ（パスワード）
    const pw_error = document.querySelectorAll('.pw_error');
    const pw = document.getElementById('id_new_password1');
    for ( let j = 0; j < pw_error.length; j++ ) {
        console.log(pw_error[j].textContent)
        if (! pw_error[j].textContent.match(/現在/) && pw_error[j].textContent.match(/パスワード/) ) {
            pw_error[j].className = 'error-msg m-0 d-block';
            pw.className = 'form-control form-error';
        }
        pw.addEventListener('click', () => {
            pw_error[j].className = 'error-msg pw_error d-none m-0'
            pw.className = 'form-control'
        })
    }
</script>
{% endblock %}