{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block title %}
<title>パスワードリセット再設定 | spoon</title>
{% endblock %}

{% block content %}
<div class="title">
    <span>PASSWORD RESET</span>
</div>

<div class="login text-center">
    <p class="text-center mb-4">下記にご希望の新しいパスワードを入力してください。</p>
    {% for field in form %}
        <p class="login__error text-center">
            {% for error in field.errors %}
                ※{{ error }}<br>
            {% endfor %}
        </p>
    {% endfor %}
    {% for error in form.non_field_errors %}
        <p class="login__error text-center">
            ※{{ error }}
        </p>
    {% endfor %}
    <form method="POST" class="login__form">
        {% csrf_token %}
        <div class="login__form--field mb-3 mx-auto text-left">
            {% render_field form.new_password1 class="form-control" placeholder="新しいパスワード" %}
            <span>※8文字以上でご入力ください。</span>
        </div>
        <div class="login__form--field mb-3 mx-auto text-left">
            {% render_field form.new_password2 class="form-control" placeholder="新しいパスワード（確認用）" %}
            <span>※確認のためもう一度ご入力ください。</span>
        </div>
        <button type="submit" class="login__form--btn btn rounded-pill" ontouchstart="">
            <i class="fas fa-paper-plane fa-fw" aria-hidden="true"></i>送信
        </button>
    </form>
</div>
{% endblock %}