{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="title">
    <span>PASSWORD RESET</span>
</div>

<div class="login text-center">
    <p class="login__text text-center m-0">メールを送信してパスワードの変更手続きを行います。<br>会員登録時のメールアドレスを入力して送信ボタンを押してください。</p>
    <p class="login__text-help">※メールが届かない場合は入力情報、メール設定をご確認ください。</p>
    <form method="POST" class="login__form">
        {% csrf_token %}
        <div>
            {% render_field form.email class="form-control" placeholder="会員登録時のメールアドレス" %}
        </div>
        {% for field in form %}
            <p class="login__error text-center">
                {% for error in field.errors %}
                    ※{{ error }}<br>
                {% endfor %}
            </p>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p class="login__error text-center">
                ※{{ error }}
            </p>
        {% endfor %}
        <button type="submit" class="login__form--btn btn rounded-pill" ontouchstart="">
            <i class="fas fa-paper-plane fa-fw" aria-hidden="true"></i>送信
        </button>
    </form>
</div>
{% endblock %}