{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="signup-title">
    <span>PASSWORD RESET</span>
</div>

<div class="login col-12">
    <p>メールを送信してパスワードの変更手続きを行います。<br>会員登録時のメールアドレスを入力して送信ボタンを押してください。</p>
    <span>※メールが届かない場合は入力情報、メール設定をご確認ください。</span>
    <form method="POST" class="login__form">
        {% csrf_token %}
        <table class="mx-auto">
            <tr>
                <td class="pb-4">
                    {% render_field form.email class="form-control" placeholder="会員登録時のメールアドレス" %}
                </td>
            </tr>
        </table>
        {% for field in form %}
            {{ field.errors }}
        {% endfor %}
        <button type="submit" class="btn rounded-pill" ontouchstart="">送信</button>
    </form>
</div>
{% endblock %}