{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block title %}
<title>パスワードリセット再設定 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span class="px-2">パスワードリセット</span>
</h1>

<div class="mx-auto text-center">
    <p class="d-inline-block text-left mb-4">下記にご希望の新しいパスワードを入力してください。</p>
    <form method="POST" class="text-center">
        {% csrf_token %}
        <table class="password-reset__form d-table card mx-auto p-sm-3">
            <tbody class="mx-auto">
                <tr>
                    <td class="text-left">
                        {% render_field form.new_password1 class="form-control" placeholder="新しいパスワード" %}
                        {% for field in form %}
                            <p class="error-msg pw_error d-none m-0">
                                {% for error in field.errors %}
                                    ※{{ error }}<br>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p class="error-msg pw_error d-none m-0">
                                ※{{ error }}
                            </p>
                        {% endfor %}
                        <span class="help-text mt-1">※8文字以上の半角英数字でご入力ください。</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        {% render_field form.new_password2 class="form-control" placeholder="新しいパスワード（確認用）" %}
                        <span class="help-text mt-1">※確認のためもう一度ご入力ください。</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="login__form--btn btn rounded-pill" ontouchstart="" onfocus="this.blur();">
            <i class="fas fa-paper-plane fa-fw" aria-hidden="true"></i>送信
        </button>
    </form>
</div>
{% endblock %}


{% block extrajs %}
<script>
    'use strict';

    // エラーメッセージ（パスワード）
    const pw_error = document.querySelectorAll('.pw_error');
    const pw = document.getElementById('id_new_password1');
    for ( let k = 0; k < pw_error.length; k++ ) {
        if ( pw_error[k].textContent.match(/パスワード/) ) {
            pw_error[k].className = 'error-msg m-0 d-block';
            pw.className = 'form-control form-error';
        }
        pw.addEventListener('click', () => {
            pw_error[k].className = 'error-msg pw_error d-none m-0'
            pw.className = 'form-control'
        })
    }
</script>
{% endblock %}