{% extends "app/base.html" %}
{% load static %}

{% block title %}
<title>パスワードリセット完了 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span class="px-2">パスワードリセット</span>
</h1>

<div class="text-center mb-4">
    <img class="done-check" src="{% static 'img/check.svg' %}">
</div>
<div class="mx-auto text-center">
    <p class="done-text d-inline-block text-left">パスワードの再設定を完了しました。</p>
</div>

<div class="text-center">
    <a class="password-reset__btn btn rounded-pill" href="/" ontouchstart="" onfocus="this.blur();">トップページに戻る</a>
</div>
{% endblock %}