{% extends "app/base.html" %}

{% block content %}
<div class="profile-title">
    <span>PROFILE</span>
</div>

<div class="profile">
    <table class="profile__table">
        <tbody>
            <tr>
                <th>お名前</th>
                <td>{{ user_data.name }}</td>
            </tr>
            <tr>
                <th>フリガナ</th>
                <td>{{ user_data.furigana }}</td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>{{ user_data.email }}</td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td>{{ user_data.tel }}</td>
            </tr>
            <tr>
                <th>性別</th>
                <td>{{ user_data.get_gender_display }}</td>
            </tr>
            <tr>
                <th>誕生日</th>
                <td>{{ user_data.birthday }}</td>
            </tr>
        </tbody>
    </table>
    <p class="text-left">パスワードの変更手続きはこちら</p>
    <p class="text-left">会員サービスの退会手続きはこちら</p>
    <a class="btn rounded-pill" href="{% url 'profile_edit' %}" ontouchstart="">
        <i class="fas fa-user-edit fa-fw" aria-hidden="true"></i>編集
    </a>
</div>
{% endblock %}