{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block title %}
<title>プロフィール編集 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span>プロフィール</span>
</h1>

<div class="profile mx-auto">
    <form method="POST" class="text-center">
        {% csrf_token %}
        <table class="profile__table">
            <tbody>
                <tr>
                    <th>お名前</th>
                    <td>{% render_field form.name class="form-control"%}</td>
                </tr>
                <tr>
                    <th>フリガナ</th>
                    <td>{% render_field form.furigana class="form-control"%}</td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><a class="profile__link d-inline-block mt-1" href="{% url 'email_change' %}">メールアドレスの変更手続きはこちら</a></td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td>{% render_field form.tel class="form-control"%}</td>
                </tr>
                <tr>
                    <th>性別</th>
                    {% if user_data.get_gender_display == None %}
                        <td>{% render_field form.gender class="form-select w-25" %}</td>
                    {% else %}
                        <td>{{ user_data.get_gender_display }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>誕生日</th>
                    {% if user_data.birthday == None %}
                        <td class="text-left">
                            <div class="d-flex align-items-center">
                                {% render_field form.birthday class="form-select" %}
                            </div>
                            {% for field in form %}
                                <p class="error-msg birthday_error d-none m-0">
                                    {% for error in field.errors %}
                                        ※{{ error }}<br>
                                    {% endfor %}
                                </p>
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <p class="error-msg birthday_error d-none m-0">
                                    ※{{ error }}
                                </p>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>{{ user_data.birthday }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        <p class="help-text text-left mt-1 mb-0">※性別・誕生日は初回登録以降変更できません。</p>
        <div class="position-relative">
            <button type="button" class="back-btn btn rounded-pill" onclick="history.back()" ontouchstart="">戻る</button>
            <button class="profile__btn btn rounded-pill" type="submit" ontouchstart="">
                <i class="fas fa-user-plus fa-fw" aria-hidden="true"></i>登録
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block extrajs %}
<script>
    'use strict';

    // スマホ用として電話番号の入力に数字キーボードを開く
    let tel = document.getElementById('id_tel');
    tel.setAttribute('type', 'tel');

    // 誕生日に年月日追加
    if ( '{{ user_data.birthday }}' == 'None' || '{{ user_data.birthday }}' == '' ) {
        const year = document.getElementById('id_birthday_year');
        const element = Object.assign(document.createElement('span'),{ className: 'ml-1 mr-4', textContent: '年'});
        year.parentNode.insertBefore(element, year.nextSibling);

        const month = document.getElementById('id_birthday_month');
        const element2 = Object.assign(document.createElement('span'),{ className: 'ml-1 mr-4', textContent: '月'});
        month.parentNode.insertBefore(element2, month.nextSibling);

        const day = document.getElementById('id_birthday_day');
        const element3 = Object.assign(document.createElement('span'),{ className: 'ml-1', textContent: '日'});
        day.parentNode.insertBefore(element3, day.nextSibling);
    }

    // エラーメッセージ（誕生日）
    const birthday_error = document.querySelectorAll('.birthday_error');
    const birthday_day = document.getElementById('id_birthday_day');
    for ( let j = 0; j < birthday_error.length; j++ ) {
        if ( birthday_error[j].textContent.match(/日付/) ) {
            birthday_error[j].className = 'error-msg m-0 d-block';
            birthday_day.className = 'form-control form-error';
        }
        birthday_day.addEventListener('click', () => {
            birthday_error[j].className = 'error-msg birthday_error d-none m-0'
            birthday_day.className = 'form-select'
        })
    }
</script>
{% endblock %}