{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="profile-title">
    <span>PROFILE</span>
</div>

<div class="profile">
    <form method="POST">
        {% csrf_token %}
        <table class="profile__table">
            <tbody>
                <tr>
                    <th>お名前</th>
                    <td>
                        {% render_field form.name class="form-control"%}
                    </td>
                </tr>
                <tr>
                    <th>フリガナ</th>
                    <td>
                        {% render_field form.furigana class="form-control"%}
                    </td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><a href="{% url 'email_change' %}">メールアドレスの変更手続きはこちら</a></td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td>
                        {% render_field form.tel class="form-control"%}
                    </td>
                </tr>
                <tr>
                    <th>性別</th>
                    <td>{{ user_data.get_gender_display }}</td>
                </tr>
                <tr>
                    <th>誕生日</th>
                    <td id="birthday">{{ user_data.birthday }}</td>
                </tr>
            </tbody>
        </table>
        <p class="text-left">※性別・誕生日は変更できません。</p>
        <button class="btn rounded-pill" type="submit" ontouchstart="">
            <i class="fas fa-user-plus fa-fw" aria-hidden="true"></i>登録
        </button>
    </form>
</div>
{% endblock %}

{% block extrajs %}
<script>
    'use strict';

    // 誕生日がNoneの場合は空白表示
    const birthday = document.getElementById('birthday');
    if ( birthday.textContent == 'None') {
        birthday.textContent = '';
    }
</script>
{% endblock %}