{% extends "app/base.html" %}
{% load humanize %}

{% block content %}
<div class="profile-title">
    <span>PROFILE</span>
</div>

<div class="profile">
    <table class="profile__table">
        <tbody>
            <tr>
                <th>お名前</th>
                <td>{{ user_data.name }}</td>
            </tr>
            <tr>
                <th>フリガナ</th>
                <td>{{ user_data.furigana }}</td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>{{ user_data.email }}</td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td>{{ user_data.tel }}</td>
            </tr>
            <tr>
                <th>性別</th>
                <td>{{ user_data.get_gender_display }}</td>
            </tr>
            <tr>
                <th>誕生日</th>
                <td id="birthday">{{ user_data.birthday }}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-left">
        <a href="{% url 'email_change' %}">メールアドレスの変更手続きはこちら</a><br>
        <a href="{% url 'password_change' %}">パスワードの変更手続きはこちら</a><br>
        <a href="{% url 'delete_confirm' %}">会員サービスの退会手続きはこちら</a>
    </div>
    <div class="text-center">
        <a class="btn rounded-pill" href="{% url 'profile_edit' %}" ontouchstart="">
            <i class="fas fa-user-edit fa-fw" aria-hidden="true"></i>編集
        </a>
    </div>
</div>

<div class="profile-title">
    <span>ORDER HISTORY</span>
</div>

<div class="row justify-content-center">
    {% for order in order_data %}
    <div class="col-4">
        <table>
            <tr>
                <th class="text-left pr-4 border-bottom">注文日時</th>
                <td class="border-bottom">{{ order.created | date:"Y年n月j日(l) G:i" | cut:"曜日" }}</td>
            </tr>
            <tr>
                <th class="text-left border-bottom">受取日時</th>
                <td class="border-bottom">{{ order.receipt }}</td>
            </tr>
            {% for cart in order.cart.all %}
                <tr>
                    <th class="text-left border-bottom" rowspan="6">注文商品</th>
                    <td>{{ cart.size_title }}</td>
                    <td>￥{{ cart.size_price }}</td>
                </tr>
                <tr>
                    <td>{{ cart.flavor_title }}</td>
                    <td>+￥{{ cart.flavor_price }}</td>
                </tr>
                <tr>
                    <td>{{ cart.flavor2_title }}</td>
                    {% if cart.flavor2_title != "" %}
                        <td>+￥{{ cart.flavor2_price }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ cart.option_title }}</td>
                    {% if cart.option_title != "" %}
                        <td>+￥{{ cart.option_price }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ cart.option2_title }}</td>
                    {% if cart.option2_title != "" %}
                        <td>+￥{{ cart.option2_price }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ cart.option3_title }}</td>
                    {% if cart.option3_title != "" %}
                        <td>+￥{{ cart.option3_price }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
                <tr>
                    <th>合計金額</th>
                    <td>￥{{ order.get_total | intcomma }}</td>
                </tr>
        </table>
        <button type="button" id="{{ order.id }}" onclick="sameOrder(this);">再度注文</button>
    </div>
    {% empty %}
            <p class="text-center">現在ご注文履歴はありません。<br>ぜひお買い物をお楽しみください。</p>
    {% endfor %}
</div>
<p class="text-center">※現在価格はご注文当時から変更となっている場合がございます。<br>※現在お取り扱いの無い商品が含まれる場合には再注文いたしかねます。ご了承ください。</p>

{% endblock %}

{% block extrajs %}
<script>
    'use strict';

    // 誕生日がNoneの場合は空白表示
    const birthday = document.getElementById('birthday');
    if ( birthday.textContent == 'None') {
        birthday.textContent = '';
    }

    // CSRF対策
    const getCookie = name => {
        if (document.cookie && document.cookie !== '') {
            for (const cookie of document.cookie.split(';')) {
                const [key, value] = cookie.trim().split('=');
                if (key === name) {
                    return decodeURIComponent(value);
                }
            }
        }
    };
    const csrftoken = getCookie('csrftoken');

    // 再注文処理
    const sameOrder = (ele) => {
        let id_value = ele.id;
        var element = document.getElementById(id_value);

        const url = '{% url "profile" %}';
        // URLのクエリパラメータを管理
        const body = new URLSearchParams();
        body.append('id_value', id_value);

        fetch(url, {
            method: 'POST',
            body: body,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
                'X-CSRFToken': csrftoken,
            }
        }).then(response => {
            // JSON形式に変換
            return response.json();
        }).then(response => {
            // 再注文OKならばオーダー画面へ
            if ( response.error.length == 0 ) {
                window.location.href = '{% url "order" %}';
            // 再注文NGならば案内画面へ
            } else {
                let none_item = response.error.join('・');
                window.location.href = '{% url "order" %}?msg=' + none_item
            }
        })
    }
</script>
{% endblock %}