{% extends "app/base.html" %}

{% block title %}
<title>会員情報確認 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span>会員登録</span>
</h1>

<div class="signup-ck mx-auto text-center">
    <p class="d-inline-block text-center mb-4">以下の内容でよろしいでしょうか？</p>
    <table class="signup-ck__table">
        <tbody>
            <tr class="d-block d-sm-table-row">
                <th class="d-block d-sm-table-cell text-center text-sm-left py-1 py-sm-3 px-4">お名前</th>
                <td class="d-block d-sm-table-cell text-center text-sm-left py-3 px-4">{{ name }}</td>
            </tr>
            <tr class="d-block d-sm-table-row">
                <th class="d-block d-sm-table-cell text-center text-sm-left py-1 py-sm-3 px-4">フリガナ</th>
                <td class="d-block d-sm-table-cell text-center text-sm-left py-3 px-4">{{ furigana }}</td>
            </tr>
            <tr class="d-block d-sm-table-row">
                <th class="d-block d-sm-table-cell text-center text-sm-left py-1 py-sm-3 px-4">メールアドレス</th>
                <td class="d-block d-sm-table-cell text-center text-sm-left py-3 px-4 overflow-auto">{{ email }}</td>
            </tr>
            <tr class="d-block d-sm-table-row">
                <th class="d-block d-sm-table-cell text-center text-sm-left py-1 py-sm-3 px-4">電話番号</th>
                <td class="d-block d-sm-table-cell text-center text-sm-left py-3 px-4">{{ tel }}</td>
            </tr>
            <tr class="d-block d-sm-table-row">
                <th class="d-block d-sm-table-cell text-center text-sm-left py-1 py-sm-3 px-4">性別</th>
                {% if gender == None %}
                    <td></td>
                {% else %}
                    <td id="genderArea" class="d-block d-sm-table-cell text-center text-sm-left py-3 px-4">{{ gender }}</td>
                {% endif %}
            </tr>
            <tr class="d-block d-sm-table-row">
                <th class="d-block d-sm-table-cell text-center text-sm-left py-1 py-sm-3 px-4">誕生日</th>
                {% if birthday == None %}
                    <td></td>
                {% else %}
                    <td class="d-block d-sm-table-cell text-center text-sm-left py-3 px-4">{{ birthday }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <div class="position-relative text-center">
        <a class="back-btn d-none d-sm-block btn rounded-pill"  href="{% url 'account_signup' %}" ontouchstart="">戻る</a>
        <a id="signup_done" class="signup__btn btn rounded-pill" href="{% url 'account_signup_done' %}" ontouchstart="">
            <i class="fas fa-user-plus fa-fw" aria-hidden="true"></i>登録
        </a>
    </div>
</div>
{% endblock %}


{% block extrajs %}
<script>
    'use strict';

    //性別を名前表示
    const genderArea = document.getElementById('genderArea');
    if ( '{{ gender }}' == 1 ) {
        genderArea.textContent = '女性';
    } else if ( '{{ gender }}' == 2 ) {
        genderArea.textContent = '男性';
    }

    // CSRF対策
    const getCookie = name => {
        if (document.cookie && document.cookie !== '') {
            for (const cookie of document.cookie.split(';')) {
                const [key, value] = cookie.trim().split('=');
                if (key === name) {
                    return decodeURIComponent(value);
                }
            }
        }
    };
    const csrftoken = getCookie('csrftoken');

    // 登録ボタンクリックで発動
    document.getElementById('signup_done').addEventListener('click', () => {
        const url = '{% url "account_signup_done" %}';

        // 誕生日をYYYY-MM-DD形式に変更
        let birthday = '{{ birthday }}'.replace( /年/g, '-').replace( /月/g, '-').replace( /日/g, '');

        // URLのクエリパラメータを管理
        const body = new URLSearchParams();
        body.append('name', '{{ name }}');
        body.append('furigana', '{{ furigana }}');
        body.append('email', '{{ email }}');
        body.append('tel', '{{ tel }}');
        body.append('gender', '{{ gender }}');
        body.append('birthday', birthday);
        body.append('password', '{{ password }}');

        fetch(url, {
            method: 'POST',
            body: body,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
                'X-CSRFToken': csrftoken,
            }
        })
    });
</script>
{% endblock %}