{% extends "app/base.html" %}

{% block content %}
<div class="signup-title">
    <span>SIGN UP</span>
</div>

<div class="profile">
    <p>以下の内容でよろしいでしょうか？</p>
    <table class="profile__table">
        <tbody>
            <tr>
                <th>お名前</th>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <th>フリガナ</th>
                <td>{{ furigana }}</td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>{{ email }}</td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td>{{ tel }}</td>
            </tr>
            <tr>
                <th>性別</th>
                {% if gender == None %}
                    <td></td>
                {% else %}
                    <td id="genderArea">{{ gender }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>誕生日</th>
                {% if birthday == None %}
                    <td></td>
                {% else %}
                    <td>{{ birthday }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>パスワード</th>
                <td id="pwArea"></td>
                <!-- <td>{{ password }}</td> -->
            </tr>
        </tbody>
    </table>
    <button type="button" onclick=history.back()>戻る</button>
    <a class="btn rounded-pill" href="" ontouchstart="">登録</a>
</div>
{% endblock %}

{% block extrajs %}
<script>
    'use strict';

    //性別を名前表示
    const genderArea = document.getElementById('genderArea');
    if ( '{{ gender }}' == 1 ) {
        genderArea.textContent = '女性';
    } else if ( '{{ gender }}' == 2 ) {
        genderArea.textContent = '男性';
    }

    //パスワードをマスク表示
    const pwArea = document.getElementById('pwArea');
    pwArea.textContent = '*'.repeat('{{ password }}'.length);

</script>
{% endblock %}