.access {
    &__name {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: .5px;
        &--e {
            @include E-font;
            font-size: 25px;
        }
    }
    &__map {
        height: 430px;
        background: #F2F8ED;
        &--img {
            height: 430px;
            object-fit: cover;
        }
    }
}