@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@mixin slideImage {
  left: 50%;
  transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center;
}

@mixin sectionTitle {
  position: relative;
  margin: 0 0 30px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
  span {
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 0 15px;
    background: #fff;
  }
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background: #333;
  }
}

@mixin button {
  position: relative;
  width: 200px;
  margin-top: 20px;
  color: #fff;
  background: #e8435f;
  box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  transition: .3s;
  &:hover {
    color: #fff;
    opacity: .7;
  }
  &:active {
    top: 3px;
    box-shadow: none;
  }
  i {
    margin: 0 8px 0 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

main {
  margin: 50px 0 80px;
}

.container-fluid {
  max-width: 1200px;
}