.contact {
    &__form {
        &--table {
            table-layout: fixed;
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            background: #F2F8ED;
            &--body {
                &--email-warning {
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: .3px;
                    &--icon {
                        color: #E8435F;
                    }
                    &--detail {
                        color: #1B95E0;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        &--btn {
            @include button;
        }
        &--recaptcha {
            margin: 40px 0 0;
            text-align: left !important;
            color: #767676;
            small {
                position: relative;
                display: inline-block;
                padding: 0 0 0 18px;
                font-size: 12px;
                &::before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 0 0 0 20px;
                    width: 14px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-image: url(../img/nav_icon_recaptcha.svg);
                }
                a {
                    color: #1B95E0;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

// reCAPTCHA3
.grecaptcha-badge {
    visibility: hidden;
}

@media screen and ( min-width: 768px ) {
    .contact {
        &__form {
            &--table {
                max-width: 800px;
                border-spacing: 24px 36px;
                &--body {
                    th {
                        width: 208px;
                    }
                }
            }
            &--recaptcha {
                text-align: center !important;
            }
        }
    }
}