.contact {
    &__form {
        &--table {
            table-layout: fixed;
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            background: #F2F8ED;
        }
        &--btn {
            @include button;
        }
    }
}

@media screen and ( min-width: 768px ) {
    .contact {
        &__form {
            &--table {
                max-width: 800px;
                border-spacing: 24px 36px;
                &--body {
                    th {
                        width: 208px;
                    }
                }
            }
        }
    }
}