.email-change {
    &__form {
        table-layout: fixed;
        width: 100%;
        max-width: 600px;
        border-collapse: separate;
        border-spacing: 24px 24px;
        background: #F2F8ED;
        &--email-warning {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: .3px;
            &--icon {
                color: #E8435F;
            }
            &--detail {
                color: #1B95E0;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__btn {
        @include button;
    }
}


@media screen and ( min-width: 576px ) {
    .email-change {
        &__form {
            border-spacing: 36px 36px;
        }
    }
}