.footer {
  margin-top: auto;
  width: 100%;
  font-size: 14px;
  background: #323232;
  &__link {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    &--item {
      margin: 30px 15px 30px 0;
      padding-right: 15px;
      border-right: 1px solid #fff;
      &:last-child {
        border-right: none;
      }
      a {
        color: #fff;
        text-decoration: underline;
        transition: .3s ease;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
  &__copy {
    display: flex;
    justify-content: center;
    small {
      margin: 24px 0;
      text-align: center;
      color: #fff;
    }
  }
}