.footer {
  margin-top: auto;
  width: 100%;
  font-size: 14px;
  background: #323232;
  &__link {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    &--item {
      margin: 30px 15px 30px 0;
      padding-right: 15px;
      border-right: 1px solid #fff;
      &:last-child {
        border-right: none;
      }
      a {
        color: #fff;
        text-decoration: underline;
        transition: .3s ease;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
  &__copy {
    display: flex;
    justify-content: center;
    small {
      margin: 24px 0;
      text-align: center;
      color: #fff;
    }
  }
}

// -----xs(Extra Small)-----
@media screen and (max-width: 576px) {
  .footer {
    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0 15px;
      &--item {
        margin: 0 0 15px;
        padding: 0;
        border: 0;
      }
    }
  }
}

// -----sm(Small)-----
@media screen and (min-width: 577px) and (max-width: 767px) {
  .footer {
    &__link {
      margin: 30px 0;
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr;
      &--item {
        padding: 0;
        border: 0;
        margin: 0;
        &:nth-child(2n-1) {
          text-align: right;
        }
      }
    }
  }
}