.footer {
    width: 100%;
    font-size: 14px;
    background: #323232;
    &__link {
        list-style: none;
        &--item {
            &--menu {
                color: #FFF;
                text-decoration: underline;
                transition: .3s;
                &:hover {
                    opacity: .5;
                    color: #FFF;
                }
            }
        }
    }
&__copy {
    small {
        color: #FFF;
    }
}
}

@media screen and ( min-width: 576px ) {
    .footer {
        &__link {
            &--item {
                border-right: 1px solid #FFF;
            }
        }
    }
}