.header {
    width: 100%;
    height: 132px;
    max-width: 1200px;
    &__logo {
        height: 100px;
    }
    img {
        transition: .3s;
        &:hover {
        opacity: .5;
        }
    }
    &__info {
        position: relative;
        z-index: 2;
        overflow: hidden;
        margin-top: 8px;
        color: #E8435F;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 1;
        transition: .3s;
        border: 3px double #E8435F;
        &--ename {
            @include E-font;
        }
        &--detail {
            margin-bottom: 2px;
            font-size: 10px;
            letter-spacing: 0;
            line-height: 1;
        }
        &--arrow {
            font-size: 18px;
        }
        &:hover {
            // opacity: .5;
            text-decoration: none;
            // color: #E8435F;
            color: #FDFDFD;
        }
        &::before,
        &::after {
            position: absolute;
            z-index: -1;
            display: block;
            content: '';
            transition: .3s;
        }
        &::after {
            // top: 0;
            right: 100%;
            width: 100%;
            height: 100%;
        }
        &:hover::after {
            right: 0;
            background: #E8435F;
        }
    }
    &__link {
        color: #333;
        transition: .3s;
        &:hover {
            opacity: .5;
            text-decoration: none;
            color: #333;
        }
        &--icon {
            height: 35px;
        }
        &--text {
            font-size: 12px;
            letter-spacing: .2px;
        }
        &--badge {
            @include E-font;
            margin-left: -2px;
            padding: 3px 8px;
            font-size: 12px;
            color: #FDFDFD;
            background: #E8435F;
        }
    }
}

.spnav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    &__header {
        position: fixed;
        width: 100%;
        height: 60px;
        background: #FDFDFD;
        border-bottom: 1px solid rgba(0, 0, 0, .125);
        pointer-events: auto;
        &--link {
            &--logo {
                height: 44px;
                transition: .3s;
                &:hover {
                opacity: .5;
                }
            }
        }
        &--btn {
            height: 44px;
            cursor: pointer;
            &--bar1, &--bar2, &--bar3 {
                width: 30px;
                height: 2px;
                background: #aaa;
                transition: .5s;
            }
            &--bar1 {
                margin-top: 4px;
            }
            &--bar2, &--bar3 {
                margin-top: 6px;
            }
            &--menu {
                @include E-font;
                font-size: 10px;
                margin-top: 5px;
                line-height: normal
            }
        }
    }
    &__bg {
        position: absolute;
        width: 100%;
        height: calc(100% - 120px);
        top: 60px;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: .5s ease-out;
        background: #000;
    }
    &__menu {
        position: absolute;
        height: calc(100% - 120px);
        margin-top: 60px;
        width: 85%;
        max-width: 300px;
        top: 0;
        right: 0;
        background: #FDFDFD;
        transform: translateX(100%);
        transition: .5s ease-out;
        &--link {
            text-decoration: none;
            color: #333;
            font-weight: 600;
            transition: .3s;
            &--e {
                @include E-font;
                letter-spacing: 3px;
            }
            &--j {
                vertical-align: 2px;
                letter-spacing: 1px;
                font-size: 12px;
            }
            &:hover {
                background: rgba(0, 0, 0, .1);
                text-decoration: none;
                color: inherit;
                opacity: .5;
            }
        }
    }
}

.bg-change {
    visibility: visible;
    opacity: .6;
    pointer-events: auto;
}

.bar1-change {
    transform: translate3d(0, 8px, 0) rotate(45deg);
}

.bar2-change {
    opacity: 0;
}

.bar3-change {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
}

.menu-change {
    transform: none;
    pointer-events: auto;
}

.spfooter {
    &__info {
        position: fixed;
        width: 100%;
        height: 29px;
        bottom: 60px;
        left: 0;
        z-index: 9999;
        color: #FDFDFD;
        font-weight: bold;
        letter-spacing: 0;
        background: #E8435F;
        transition: .3s;
        &--ename {
            @include E-font;
        }
        &--detail {
            font-size: 10px;
            letter-spacing: 0;
        }
        &--arrow {
            font-size: 18px;
        }
        &:hover {
            opacity: .5;
            text-decoration: none;
            color: #FDFDFD;
        }
    }
    &__menu {
        position: fixed;
        width: 100%;
        height: 60px;
        bottom: 0;
        left: 0;
        z-index: 9999;
        background: #FDFDFD;
        border-top: 1px solid rgba(0, 0, 0, .125);
        justify-content: space-evenly;
        &--link {
            text-decoration: none;
            color: #333;
            transition: .3s;
            &:hover {
                text-decoration: none;
                color: inherit;
                opacity: .5;
            }
            &--icon {
                height: 28px;
            }
            &--text {
                font-size: 10px;
                line-height: normal;
                margin-top: 2px;
            }
            &--badge {
                @include E-font;
                margin-left: -3px;
                padding: 3px 6px;
                font-size: 10px;
                color: #FDFDFD;
                background: #E8435F;
            }
        }
    }
}