.header {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0;
  img {
    transition: .3s;
    &:hover {
      opacity: .5;
    }
  }
  a {
    text-decoration: none;
    color: #333;
  }
  &__link {
    transition: .3s;
    &:hover {
      opacity: .5;
    }
    &--icon {
      height: 40px;
    }
    &--text {
      @include E-font;
      font-size: 12px;
      letter-spacing: .2px;
    }
    &--badge {
      @include E-font;
      margin-left: -2px;
      padding: 3px 8px;
      font-size: 12px;
      color: #FFF;
      background: #E8435F;
    }
  }
}

// -----xs(Extra Small)-----
@media screen and (max-width: 576px) {
  .header {
    &__wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      ul {
        margin: 10px auto;
      }
    }
  }
}