.login {
    &__link {
        font-size: 14px;
        color: #1B95E0;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__form {
        &--table {
            table-layout: fixed;
            width: 100%;
            max-width: 600px;
            border-collapse: separate;
            border-spacing: 24px 24px;
            background: #F2F8ED;
        }
        &--save {
            letter-spacing: 0;
        }
        &--btn {
            @include button;
        }
    }
}


@media screen and ( min-width: 576px ) {
    .login {
        &__form {
            &--table {
                border-spacing: 36px 36px;
            }
        }
    }
}