.login {
  &__error {
    color: #ff0000;
  }
  &__form {
    max-width: 400px;
    margin: 0px auto 80px;
    &--save {
      letter-spacing: 0;
    }
    &--btn {
      @include button;
    }
  }
  // パスワードリセット
  &__text-help {
    font-size: 14px;
    letter-spacing: .5px;
  }
}