.nav {
    &__wrap {
        &--menu {
            justify-content: space-evenly;
            list-style: none;
            &--li {
                &--link {
                    color: #333;
                    transition: .3s;
                    &--e {
                        @include E-font;
                        letter-spacing: 3px;
                        line-height: 22px;
                    }
                    &--j {
                        font-size: 12px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        line-height: normal;
                    }
                    &:hover {
                        opacity: .5;
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }
    }
}