/* ラジオボタンとチェックボックスを非表示 */
.selection-group input[type="radio"],
.selection-group input[type="checkbox"] {
  display: none;
}
/* 画像部分に余白を持たせる */
label img {
  margin: 3px;
  padding: 8px;
}
/* 選択された画像の背景を変える */
.selection-group input[type="radio"]:checked + label img,
.selection-group input[type="checkbox"]:checked + label img {
  background: #ED6D85;
  border-radius: 10%;
}

.order {
  &__step {
    background: #F8DDE3;
  }
  &__img {
    width: 100%;
  }
  &__price {
    color: #E8435F;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    &--icon {
      font-size: 25px;
      color: rgba(0, 0, 0, .125);
    }
  }
  &__ename {
    font-size: 22px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1px;
  }
  &__name {
    line-height: 20px;
  }
  &__add-btn {
    @include button;
    color: #E8435F !important;
    border: 2px solid #E8435F;
    background: #FDF5F7;
    box-shadow: 0 3px 0 #CCC;
    &:hover {
      color: #E8435F !important;
    }
  }
  &__btn {
    @include button;
  }
}

// -----xs(Extra Small)-----
@media screen and (max-width: 576px) {
  .order {
    &__wrap {
      &:first-child {
        padding: 0 0 30px;
      }
      &:last-child {
        padding: 0;
      }
      &--item {
        display: grid;
        grid-template-rows: none;
        grid-template-areas:
          "areaA areaB"
          "areaC areaC";
        margin: 5px 0 0;
        h5 {
          grid-area: areaA;
        }
        p {
          grid-area: areaC;
        }
        &--cancel {
          grid-area: areaB;
          justify-self: flex-end;
        }
      }
      &--subprice {
        justify-content: flex-start;
      }
      &--empty {
        text-align: center;
      }
    }
  }
}

// -----sm(Small)-----
@media screen and (min-width: 577px) and (max-width: 767px) {
  .order {
    &__wrap {
      &:first-child {
        padding: 0 0 30px;
      }
      &:last-child {
        padding: 0;
      }
    }
  }
}