.order {
    &__alert {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 400px;
        border: 1px solid #E8435F;
        border-radius: 8px;
        color: #E8435F;
        background: #FDF5F7;
        font-size: 20px;
        z-index: 9999;
        animation : fadeOut 1.5s ease-in-out .2s forwards;
        @keyframes fadeOut {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        &--btn {
            &:hover {
                color: inherit !important;
            }
            &:focus {
                outline: 0 !important;
            }
        }
    }
    &__reorder {
        z-index: 9999;
        &--btn {
            &:hover {
                color: inherit !important;
            }
            &:focus {
                outline: 0 !important;
            }
        }
    }
    &__step {
        border-left: 8px solid #A3CD7E;
        letter-spacing: 0;
        background: #F2F8ED;
        &--help {
            font-size: 12px;
            line-height: 16px;
        }
    }
    &__select {
        input[type="radio"], input[type="checkbox"] {
            display: none;
        }
        input[type="radio"]:checked + label img,
        input[type="checkbox"]:checked + label img {
            background: #ED6D85;
            border-radius: 10%;
        }
        label {
            width: 100%;
        }
        &--img {
            padding: 8px;
            width: 100%;
            cursor: pointer;
            transition: opacity .3s;
            &:hover {
                opacity: .5;
            }
        }
        &--item {
            line-height: 22px;
            cursor: pointer;
        }
        &--ename {
            font-size: 18px;
            font-family: 'Dancing Script', cursive;
            letter-spacing: 1px;
        }
        &--name {
            line-height: 20px;
        }
        &--price {
            color: #E8435F;
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 0;
        }
        &--cart {
            font-size: 14px;
            line-height: 22px;
            letter-spacing: .5px;
            &--price {
                color: #E8435F;
                margin-right: 25px;
            }
            &--delete {
                font-size: 16px;
                color: #E8435F;
                cursor: pointer;
            }
        }
    }
    &__none {
        text-align: center;
        padding: 8px 0;
        margin: 0;
        font-size: 15px;
        letter-spacing: .1px;
    }
    &__cart {
        &--content {
            background: #F8DDE3;
        }
        &--border {
            border: 1px dashed rgba(0, 0, 0, .125);
        }
    }
    &__btn {
        background-color: #FCFCFC;
        background-image: radial-gradient(#EEE 10%, transparent 20%), radial-gradient(#EEE 10%, transparent 20%);
        background-position: 0 0, 10px 10px;
        background-size: 20px 20px;
        border-top: 3px double rgba(0, 0, 0, .125);
        &--add {
            @include button;
            width: 70%;
            color: #96C56C !important;
            border: 2px solid #A3CD7E;
            background: #F2F8ED;
            box-shadow: 0 3px 0 #96C56C;
            &:hover {
                color: #A3CD7E !important;
            }
        }
        &--next {
            @include button;
            width: 70%;
        }
    }
}

.order-user {
    &__form {
        table-layout: fixed;
        width: 100%;
        max-width: 800px;
        border-collapse: separate;
        border-spacing: 24px 36px;
        background: #F2F8ED;
        &--body {
            th {
                width: 195px;
            }
            &--select {
                &--date {
                    width: 50%;
                }
                &--time {
                    width: 25%;
                }
            }
        }
    }
    &__help {
        max-width: 800px;
    }
    &__btn {
        @include button;
    }
}

.order-ck {
    &__table {
        table-layout: fixed;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 2px;
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
        tr:not(:last-of-type) {
            th, td {
                border-bottom: 1px solid rgba(0, 0, 0, .125);
            }
        }
        th {
            width: 180px;
            background: #F2F8ED;
            border-right: 1px solid rgba(0, 0, 0, .125);
        }
        &--email::-webkit-scrollbar {
            display: none;
            -webkit-appearance: none;
        }
    }
    &__cart {
        &--coupon {
            display: flex;
            justify-content: space-between;
            margin: 0 8px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: .5px;
            color: #E8435F;
        }
    }
    &__coupon {
        background-color: #FCFCFC;
        background-image: radial-gradient(#EEE 10%, transparent 20%), radial-gradient(#EEE 10%, transparent 20%);
        background-position: 0 0, 10px 10px;
        background-size: 20px 20px;
        border-top: 3px double rgba(0, 0, 0, .125);
        &--content {
            position: relative;
            max-width: 280px;
            padding: 10px;
            &--left {
                position: absolute;
                top: 0;
                left: 0;
                width: 85px;
                height: 85px;
                overflow: hidden;
                &--ribbon {
                    @include E-font;
                    display: inline-block;
                    position: absolute;
                    padding: 3px 0;
                    right: -24px;
                    top: 20px;
                    width: 160px;
                    text-align: center;
                    font-size: 12px;
                    line-height: 12px;
                    background: #F3C7D2;
                    color: #FDF5F7;
                    letter-spacing: .8px;
                    transform: rotate(-45deg);
                    box-shadow: 0 0 0 2px #F3C7D2;
                    border-top: dashed 1px rgba(255, 255, 255, 0.65);
                    border-bottom: dashed 1px rgba(255, 255, 255, 0.65);
                }
            }
            &--right {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 85px;
                height: 85px;
                overflow: hidden;
                &--ribbon {
                    @include E-font;
                    display: inline-block;
                    position: absolute;
                    padding: 3px 0;
                    left: -24px;
                    bottom: 20px;
                    width: 160px;
                    text-align: center;
                    font-size: 12px;
                    line-height: 12px;
                    background: #F3C7D2;
                    color: #FDF5F7;
                    letter-spacing: .8px;
                    transform: rotate(-45deg);
                    box-shadow: 0 0 0 2px #F3C7D2;
                    border-top: dashed 1px rgba(255, 255, 255, 0.65);
                    border-bottom: dashed 1px rgba(255, 255, 255, 0.65);
                }
            }
            &--main {
                border: 3px double #E8435F;
                border-radius: 3px;
                &--img {
                    width: auto;
                    height: 80px;
                }
                &--label {
                    font-size: 14px;
                    line-height: 1;
                    font-weight: 600;
                    cursor: pointer;
                    &--header {
                        padding-bottom: 2px;
                        border-bottom: 1px solid #333;
                    }
                    &--sub {
                        color: #E8435F;
                        font-size: 12px;
                    }
                    &--title {
                        color: #E8435F;
                        font-size: 20px;
                        letter-spacing: .3px;
                    }
                }
                &--ckbox {
                    font-size: 12px;
                    cursor: pointer;
                }
            }
            &--error {
                font-size: 14px;
                color: #FF0000;
                line-height: 18px;
                letter-spacing: .5px;
            }
        }
    }
    &__btn {
        @include button;
    }
}


@media screen and ( max-width: 575px ) {
    .order {
        &__alert {
            width: 250px;
            height: 300px;
        }
        &__reorder {
            top: 60px;
        }
        &__header {
            position: fixed;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            top: 60px;
            left: 0;
            z-index: 9998;
            background: #FDFDFD;
            &--menu {
                border-top: 1px solid #A3CD7E;
                border-bottom: 1px solid #A3CD7E;
                transition: .3s;
                cursor: pointer;
                background-image: linear-gradient(to right, #F2F8ED 0%, #FDFDFD 100%);
                &--icon {
                    height: 32px;
                }
                &--text {
                    color: #A3CD7E;
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 12px;
                    margin-top: 2px;
                    letter-spacing: 0;
                }
                &:hover {
                    opacity: .5;
                }
            }
            &--menu:not(:last-of-type) {
                border-right: 1px solid #A3CD7E;
            }
        }
        &__step {
            width: calc( 100vw - calc( 100vw - ( 100% + 30px )));
            margin-left: -15px;
        }
    }

    .order-user {
        &__form {
            border-spacing: 0;
            &--body {
                &--select {
                    &--date {
                        width: 100% !important;
                    }
                    &--time {
                        width: 100% !important;
                    }
                }
            }
        }
    }

    .order-ck {
        &__table {
            max-width: 380px;
            tr:not(:last-of-type) {
                td {
                    border-bottom: 1px solid rgba(0, 0, 0, .125);
                }
            }
            th {
                width: 100%;
                border-bottom: 1px solid rgba(0, 0, 0, .125);
                border-right: 0;
            }
            &--help {
                max-width: 380px;
                &--text {
                    font-size: 13px;
                }
            }
        }
        &__cart {
            max-width: 380px;
            &--help {
                max-width: 380px;
                &--text {
                    font-size: 13px;
                }
            }
        }
    }
}


@media screen and ( min-width: 576px ) and ( max-width: 767px ) {
    .order {
        &__select {
            &--cart {
                font-size: 13px;
            }
        }
    }
}

@media screen and ( max-width: 767px ) {
    .order-user {
        &__form {
            border-spacing: 0;
            &--body {
                &--select {
                    &--date {
                        width: 40%;
                    }
                    &--time {
                        width: 20%;
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: 991px ) {
    .order {
        &__select {
            &--img {
                padding: 5px;
                width: 43%;
                max-width: 200px;
            }
            &--ename {
                font-size: 16px;
            }
        }
    }

    .order-ck {
        &__table {
            max-width: 550px;
            &--help {
                max-width: 550px;
            }
        }
        &__cart {
            max-width: 550px;
            &--help {
                max-width: 550px;
            }
        }
    }
}