.payment-title {
  @include sectionTitle;
}

.payment {
  margin: 50px 0 0;
  &__wrap {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &--item {
      p:first-child {
        font-weight: bold;
      }
      p:nth-child(n+2) {
        margin: 0;
      }
    }
    &--pay {
      display: grid;
      grid-template-areas:
        "title title"
        "label_number label_number"
        "input_number input_number"
        "label_expiry label_cvc"
        "input_expiry input_cvc"
        "errors errors";
      p:first-child {
        font-weight: bold;
        grid-area: title;
      }
      &--number, &--expiry, &--cvc {
        height: 40px;
        padding: 10px 12px;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        background: #F1F1F1;
        transition: box-shadow 150ms;
        &--focus {
          box-shadow: 0 1px 3px 0 #cfd7df;
        }
        &--invalid {
          border-color: #f00;
        }
        &--webkit-autofill {
          background: #fefde5 !important;
        }
      }
      label {
        font-size: 12px;
      }
      label:first-of-type {
        margin: 0;
        grid-area: label_number;
      }
      &--number {
        grid-area: input_number;
      }
      label:nth-of-type(2) {
        margin: 15px 0 0;
        grid-area: label_expiry;
      }
      &--expiry {
        width: 90%;
        grid-area: input_expiry;
      }
      label:last-of-type {
        margin: 15px 0 0;
        grid-area: label_cvc;
      }
      &--cvc {
        grid-area: input_cvc;
      }
      &--errors {
        color: #f00;
        grid-area: errors;
      }
    }
    &--order {
      background: #FCE8EB;
      margin: 0 -20px 16px;
      line-height: 1.6;
    }
    &--price,
    &--tax {
      margin: 0;
      span:first-child {
        font-family: 'Roboto', 'Montserrat', sans-serif;
      }
      span:last-child {
        font-size: 12px;
      }
    }
    &--total {
      span:first-child {
        font-family: 'Roboto', 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #e8435f;
      }
      span:last-child {
        font-size: 12px;
      }
    }
    button {
      @include button;
      margin: 0 0 20px;
    }
  }
}

// -----xs(Extra Small)-----
@media screen and (max-width: 576px) {
  .payment-title {
    span {
      width: 85%;
    }
  }
  
  .payment {
    &__wrap {
      &:first-child {
        padding: 0 0 30px;
      }
      &:last-child {
        padding: 0;
      }
      &--item {
        margin: 0 0 30px;
      }
    }
  }
}

// -----sm(Small)-----
@media screen and (min-width: 577px) and (max-width: 767px) {
  .payment {
    &__wrap {
      &:first-child {
        padding: 0 0 30px;
      }
      &:last-child {
        padding: 0;
      }
      &--item {
        margin: 0 0 30px;
      }
    }
  }
}

// -----md(Medium)-----
@media screen and (min-width: 768px) and (max-width: 991px) {
  .payment {
    &__wrap {
      &--item {
        margin: 0 0 30px;
      }
    }
  }
}