.profile {
    max-width: 600px;
    &__table {
        table-layout: fixed;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 2px;
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
        tr:not(:last-of-type) {
            th, td {
                border-bottom: 1px solid rgba(0, 0, 0, .125);
            }
        }
        th {
            width: 180px;
            background: #F2F8ED;
            border-right: 1px solid rgba(0, 0, 0, .125);
        }
    }
    &__link {
        &--text {
            color: #1B95E0;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__btn {
        @include button;
    }
}

.history {
    max-width: 850px;
    &__header {
        background: #F2F8ED;
        &--wrap {
            &--orderday {
                font-weight: 700;
            }
        }
        &--btn {
            @include button;
            width: 130px;
        }
    }
    &__img {
        width: 100px;
    }
    &__option-img {
        width: 60px;
    }
    &__table {
        table-layout: fixed;
        width: 100%;
        th {
            width: 125px;
        }
    }
    &__border {
        border-top: 1px dashed rgba(0, 0, 0, .1); 
    }
    &__comment {
        max-width: 850px;
    }
}

.delete__text {
    font-size: 20px;
    font-weight: 600;
    color: #E8435F;
}

.deleteno__btn {
    @include button;
        color: #000;
        background: #CED4DA;
        box-shadow: 0 3px 0 #94A0AC;
    &:hover {
        color: #000;
    }
}


@media screen and ( max-width: 396px ) {
    .history {
        &__table {
            line-height: 22px;
            tr, th, td {
                display: block !important;
            }
            tr:not(:last-of-type) {
                td {
                    padding-bottom: 16px;
                }
            }
            td {
                margin-left: 5px;
            }
        }
        &__img {
            width: 70px;
        }
        &__option-img {
            width: 50px;
        }
    }
}

@media screen and ( max-width: 575px ) {
    .profile {
        max-width: 380px;
        &__table {
            tr:not(:last-of-type) {
                td {
                    border-bottom: 1px solid rgba(0, 0, 0, .125);
                }
            }
            th {
                width: 100%;
                border-bottom: 1px solid rgba(0, 0, 0, .125);
                border-right: 0;
            }
            &--birthday {
                display: grid !important;
                grid-template-columns: 1fr auto !important;
                row-gap: 16px;
            }
        }
        &__link {
            max-width: 380px;
        }
    }
    
    .history {
        max-width: 380px;
        &__header {
            &--wrap {
                flex-direction: column !important;
                line-height: 20px;
                margin-bottom: 16px;
            }
            &--btn {
                width: 200px;
            }
        }
    }

    #id_gender {
        width: 100%;
    }
}

@media screen and ( min-width: 576px ) {
    #id_gender {
        width: 33%;
    }
    #id_birthday_month, #id_birthday_day {
        width: 60%;
        padding: 6px;
    }
}

@media screen and ( min-width: 576px ) and ( max-width: 767px ) {
    .history {
        &__img {
            width: 95px;
        }
        &__table {
            line-height: 22px;
            tr:not(:last-of-type) {
                td {
                    padding-bottom: 16px;
                }
            }
            td {
                margin-left: 5px;
            }
        }
    }
}