.profile {
  max-width: 600px;
  &__table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 8px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    tr:not(:last-of-type) {
      th, td {
        border-bottom: 1px solid rgba(0, 0, 0, .125);
      }
    }
    th {
      width: 180px;
      text-align: left;
      padding: 16px 24px;
      background: #fdf5f7;
      border-right: 1px solid rgba(0, 0, 0, .125);
    }
    td {
      text-align: left;
      padding: 16px 24px;
    }
  }
  &__btn {
    @include button;
  }
}

.history {
  &__header {
    background: #fdf5f7;
    &--orderday {
      background: #f5b1be;
      font-weight: 700;
    }
  }
}

// -----xs(Extra Small)-----
@media screen and (max-width: 576px) {
  .profile-title {
    &:after {
      max-width: 300px;
    }
  }

  .profile {
    max-width: 300px;
    &__table {
      table-layout: fixed;
      word-break: break-all;
      word-wrap: break-word;
      th {
        display: block;
        width: 100%;
        padding: 4px 14px;
      }
      td {
        display: block;
        width: 100%;
        padding: 16px 14px;
        border: 0;
      }
    }
  }
}