.profile {
  max-width: 600px;
  &__table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 8px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    tr:not(:last-of-type) {
      th, td {
        border-bottom: 1px solid rgba(0, 0, 0, .125);
      }
    }
    th {
      width: 180px;
      text-align: left;
      padding: 16px 24px;
      background: #F2F8ED;
      border-right: 1px solid rgba(0, 0, 0, .125);
    }
    td {
      text-align: left;
      padding: 16px 24px;
    }
  }
  &__btn {
    @include button;
  }
}

.history {
  max-width: 850px;
  &__header {
    background: #F2F8ED;
    &--orderday {
      font-weight: 700;
    }
    &--btn {
      @include button;
      width: 130px;
    }
  }
  &__content {
    width: 450px;
  }
  &__img {
    width: 100px;
  }
  &__icon {
    font-size: 30px;
    color: rgba(0, 0, 0, .125);
  }
  &__option-img {
    width: 60px;
  }
  &__comment {
    max-width: 850px;
  }
}

.delete__text {
  font-size: 20px;
  font-weight: 600;
  color: #FF0000;
}

.deleteno__btn {
  @include button;
  color: #000;
  background: #CED4DA;
  box-shadow: 0 3px 0 #94A0AC;
  &:hover {
    color: #000;
  }
}

// -----xs(Extra Small)-----
@media screen and (max-width: 576px) {
  .profile-title {
    &:after {
      max-width: 300px;
    }
  }

  .profile {
    max-width: 300px;
    &__table {
      table-layout: fixed;
      word-break: break-all;
      word-wrap: break-word;
      th {
        display: block;
        width: 100%;
        padding: 4px 14px;
      }
      td {
        display: block;
        width: 100%;
        padding: 16px 14px;
        border: 0;
      }
    }
  }
}