.sidebar {
    padding: 0;
    &__store {
        &--img {
            width: 100%;
        }
        &--name {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: .5px;
        }
        &--info {
            letter-spacing: .5px;
            &--map {
                color: #1B95E0;
                text-decoration: none;
                &:hover {
                text-decoration: underline;
                }
            }
        }
    }
}

.iswd-base {
    border: 0 !important;
    background: #F2F8ED !important;
}

.iswd-profile, .iswd-images {
    max-width: 650px !important;
    margin: 0 auto !important;
}

@media screen and ( max-width: 1199px ) {
    .iswd-base {
        width: calc( 100vw - calc( 100vw - ( 100% + 30px ))) !important;
        margin-left: -15px !important;
        margin-bottom: -80px !important;
    }
}

@media screen and ( min-width: 1200px ) {
    .sidebar {
        padding-left: 55px;
    }
}