.signup {
  &__error {
    color: #ff0000;
  }
  &__required {
    color: #FF0000;
    font-weight: 700;
  }
  &__form {
    margin: 0px auto 80px;
    &--table {
      max-width: 650px;
      th {
        width: 260px;
      }
      td {
        width: 390px;
      }
    }
    &--btn {
      @include button;
    }
  }
}

.terms {
  width: 650px;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}