.signup {
  &__required {
    color: #FF0000;
    font-weight: 700;
  }
  &__form {
    margin: 0px auto 80px;
    &--table {
      width: 400px;
    }
    &--terms {
      max-width: 650px;
      height: 300px;
      overflow-y: scroll;
    }
    &--btn {
      @include button;
    }
  }
}
