.thanks {
  text-align: center;
  margin: 0 0 80px;
  p:first-of-type {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px;
  }
  p:last-of-type {
    margin: 0 0 30px;
  }
  a {
    @include button;
    background: #a85413;
    box-shadow: 0 3px 0 #492408;
  }
}