.top {
    &__item {
        &--image1 {
            @include slideImage;
            background-image: url("/static/img/slide_1.png");
        }
        &--image2 {
            @include slideImage;
            background-image: url("/static/img/slide_2.png");
        }
        &--image3 {
            @include slideImage;
            background-image: url("/static/img/slide_3.png");
        }
    }
    &__news {
        &--date {
            color: #e8435f;
        }
    }
    &__pick {
        width: 200px;
        &--ename {
            font-size: 25px;
            font-family: 'Dancing Script', cursive;
            letter-spacing: 1px;
        }
        &--price {
            color: #E8435F;
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 0;
        }
    }
}