@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  letter-spacing: .8px;
  line-height: 25px;
  background: #FDFDFD;
  color: #333;
}

main {
  margin: 50px 0 80px;
}

.title {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  position: relative;
  margin: 0 0 40px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
}

.title span {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0 30px;
  background: #FDFDFD;
}

.title:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background: #333;
}

.done-check {
  width: 100px;
}

.done-text {
  font-size: 20px;
  font-weight: 600;
}

.help-text {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: .5px;
}

.back-btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  left: 0;
  width: 70px;
  color: #212529;
  background: #CED4DA;
  -webkit-box-shadow: 0 3px 0 #94A0AC;
          box-shadow: 0 3px 0 #94A0AC;
}

.back-btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.back-btn i {
  margin: 0 5px 0 0;
}

.back-btn:hover {
  color: #212529;
}

.error-msg {
  color: #FF0000;
}

.form-error {
  border: 2px solid #FF0000;
  background: #FDF5F7;
}

.container-fluid {
  max-width: 1200px;
}

*:focus {
  outline: none !important;
}

.btn:focus {
  outline: none;
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card {
  background: #FDFDFD;
}

@media screen and (max-width: 576px) {
  body {
    padding: 0 0 68px;
  }
}

.back-to-top {
  display: block;
  position: fixed;
  width: 40px;
  height: 40px;
  right: 15px;
  bottom: 15px;
  z-index: 9998;
  text-align: center;
  font-size: 20px;
  line-height: 38px;
  color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.back-to-top:hover {
  color: #FDFDFD;
  border: none;
  background: #E8435F;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.sctl {
  margin-top: 64px;
  max-width: 700px;
  list-style: none;
}

.sctl__li--heading {
  font-weight: bold;
  border-left: 8px solid #ED6D85;
  background: #ECECED;
}

.sctl__li--text--ename {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@media screen and (max-width: 575px) {
  .sctl-title {
    letter-spacing: 1.4px;
  }
}

.privacy {
  margin-top: 64px;
  max-width: 900px;
  list-style: none;
}

.privacy__li--heading {
  font-weight: bold;
  border-left: 8px solid #ED6D85;
  background: #ECECED;
}

.privacy__li--text--ul {
  padding-left: 64px;
  padding-right: 24px;
  list-style-type: lower-alpha;
}

.privacy__li--text--markul {
  padding-left: 64px;
  padding-right: 24px;
  list-style-type: disc;
}

.privacy__li--text--marknone {
  list-style-type: none;
}

@media screen and (max-width: 575px) {
  .privacy-title {
    letter-spacing: 1.4px;
  }
}

.company {
  table-layout: fixed;
  border-collapse: collapse;
}

.company tr {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.company tr th {
  width: 132px;
}

.company tr:first-of-type {
  border-top: 0;
}

@media screen and (max-width: 575px) {
  .company tr th {
    width: 120px;
  }
}

.access__map {
  max-width: 700px;
  background: #F2F8ED;
}

.access__info--name {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .5px;
}

.access__info--name--e {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 25px;
}

.access__info--table {
  table-layout: fixed;
  border-collapse: collapse;
}

.access__info--table tr {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.access__info--table tr th {
  padding: 17.8px 0;
  width: 94px;
}

.access__info--table tr--map {
  color: #1B95E0;
  text-decoration: none;
}

.access__info--table tr--map:hover {
  text-decoration: underline;
}

@media screen and (min-width: 992px) {
  .access {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .access__info--table {
    width: 100%;
  }
}

.header {
  width: 100%;
  height: 132px;
  max-width: 1200px;
}

.header__logo {
  height: 100px;
}

.header img {
  -webkit-transition: .3s;
  transition: .3s;
}

.header img:hover {
  opacity: .5;
}

.header__info {
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-top: 8px;
  color: #E8435F;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1;
  -webkit-transition: .3s;
  transition: .3s;
  border: 3px double #E8435F;
}

.header__info--detail {
  margin-bottom: 2px;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 1;
}

.header__info--arrow {
  font-size: 18px;
}

.header__info:hover {
  text-decoration: none;
  color: #FDFDFD;
}

.header__info::before, .header__info::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  -webkit-transition: .3s;
  transition: .3s;
}

.header__info::after {
  right: 100%;
  width: 100%;
  height: 100%;
}

.header__info:hover::after {
  right: 0;
  background: #E8435F;
}

.header__link {
  color: #333;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__link:hover {
  opacity: .5;
  text-decoration: none;
  color: #333;
}

.header__link--icon {
  height: 35px;
}

.header__link--text {
  font-size: 12px;
  letter-spacing: .2px;
}

.header__link--badge {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin-left: -2px;
  padding: 3px 8px;
  font-size: 12px;
  color: #FDFDFD;
  background: #E8435F;
}

.spnav__header {
  width: 100%;
  height: 60px;
  background: #FDFDFD;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  pointer-events: auto;
}

.spnav__header--link--logo {
  height: 44px;
  -webkit-transition: .3s;
  transition: .3s;
}

.spnav__header--link--logo:hover {
  opacity: .5;
}

.spnav__header--btn {
  height: 44px;
  cursor: pointer;
}

.spnav__header--btn--bar1, .spnav__header--btn--bar2, .spnav__header--btn--bar3 {
  width: 30px;
  height: 2px;
  background: #aaa;
  -webkit-transition: .5s;
  transition: .5s;
}

.spnav__header--btn--bar1 {
  margin-top: 4px;
}

.spnav__header--btn--bar2, .spnav__header--btn--bar3 {
  margin-top: 6px;
}

.spnav__header--btn--menu {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 10px;
  margin-top: 5px;
  line-height: normal;
}

.spnav__bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 60px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  background: #000;
}

.spnav__menu {
  position: fixed;
  height: 100vh;
  width: 85%;
  max-width: 300px;
  z-index: 10;
  right: 0;
  background: #FDFDFD;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  overflow-y: scroll;
}

.spnav__menu::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

.spnav__menu--link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  -webkit-transition: .3s;
  transition: .3s;
}

.spnav__menu--link--e {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 3px;
}

.spnav__menu--link--j {
  vertical-align: 2px;
  letter-spacing: 1px;
  font-size: 12px;
}

.spnav__menu--link:hover {
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  opacity: .5;
}

.bg-change {
  visibility: visible;
  opacity: .7;
  pointer-events: auto;
}

.bar1-change {
  -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
          transform: translate3d(0, 8px, 0) rotate(45deg);
}

.bar2-change {
  opacity: 0;
}

.bar3-change {
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
          transform: translate3d(0, -8px, 0) rotate(-45deg);
}

.menu-change {
  pointer-events: auto;
  -webkit-transform: none;
          transform: none;
}

.scroll-ng {
  height: 100%;
  overflow: hidden;
}

.spfooter__info {
  position: fixed;
  width: 100%;
  height: 37px;
  bottom: 68px;
  left: 0;
  z-index: 9998;
  color: #FDFDFD;
  font-weight: bold;
  letter-spacing: 0;
  background: #E8435F;
  -webkit-transition: .3s;
  transition: .3s;
}

.spfooter__info--detail {
  font-size: 10px;
  letter-spacing: 0;
  line-height: 1.7;
}

.spfooter__info--arrow {
  font-size: 18px;
}

.spfooter__info:hover {
  opacity: .5;
  text-decoration: none;
  color: #FDFDFD;
}

.spfooter__menu {
  position: fixed;
  width: 100%;
  height: 68px;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background: #FDFDFD;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.spfooter__menu--link {
  text-decoration: none;
  color: #333;
  -webkit-transition: .3s;
  transition: .3s;
}

.spfooter__menu--link:hover {
  text-decoration: none;
  color: inherit;
  opacity: .5;
}

.spfooter__menu--link--icon {
  height: 28px;
}

.spfooter__menu--link--text {
  font-size: 10px;
  line-height: normal;
  margin-top: 2px;
}

.spfooter__menu--link--badge {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin-left: -3px;
  padding: 3px 6px;
  font-size: 10px;
  color: #FDFDFD;
  background: #E8435F;
}

.top__coupon {
  position: fixed;
  width: 300px;
  height: 460px;
  top: 40%;
  left: 50%;
  background: #FDF5F7;
  z-index: 9999;
  border: 0;
  border-radius: 0;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top__coupon--btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.top__coupon--btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.top__coupon--btn i {
  margin: 0 5px 0 0;
}

.top__coupon--close--btn:hover {
  color: #E8435F !important;
}

.top__bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: .7;
  background: #000;
  z-index: 9999;
}

.top__item--image1 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url("/static/img/slide1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 17% 100%;
}

.top__item--image2 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url("/static/img/slide2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 50%;
}

.top__item--image3 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url("/static/img/slide3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 51% 0;
}

.top__news--date {
  color: #E8435F;
}

.top__pick--img {
  width: 100%;
  max-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top__pick--name--e {
  font-size: 25px;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 1px;
}

.top__pick--name--j {
  font-size: 18px;
}

.top__pick--size--price {
  color: #E8435F;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
}

@media screen and (max-width: 575px) {
  .top__pick--name {
    max-width: 300px;
  }
  .top__pick--size {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .top__item--image1, .top__item--image2, .top__item--image3 {
    height: calc(100vh - 165px);
    height: calc(var(--vh, 1vh)*100 - 165px);
  }
  .top__item--image2 {
    background-position: 67% 100%;
  }
}

@media screen and (min-width: 768px) {
  .top__coupon {
    width: 450px;
    height: 673px;
  }
  .top__coupon img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .top__coupon--btn {
    margin: 35px 0 !important;
    width: 250px;
    font-size: 18px;
  }
}

.nav__wrap--menu {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.nav__wrap--menu--li--link {
  color: #333;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__wrap--menu--li--link--e {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 3px;
  line-height: 22px;
}

.nav__wrap--menu--li--link--j {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: normal;
}

.nav__wrap--menu--li--link:hover {
  opacity: .5;
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .nav__wrap--menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .nav__wrap--menu--li {
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  .nav__wrap--menu--li--link {
    display: block;
    height: 60px;
  }
  .nav__wrap--menu--li--link:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.about {
  margin: 80px 0;
}

.about__subheading {
  color: #E8435F;
  font-size: 20px;
  font-weight: 600;
}

.about__fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 575px) {
  .about {
    margin: 80px 0;
  }
  .about__subheading {
    font-size: 18px;
  }
  .about__msg {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .5px;
  }
}

.order__alert {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  border: 1px solid #E8435F;
  border-radius: 8px;
  color: #E8435F;
  background: #FDF5F7;
  font-size: 20px;
  z-index: 9999;
  -webkit-animation: fadeOut 2s ease-in-out .2s forwards;
          animation: fadeOut 2s ease-in-out .2s forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.order__alert--btn:hover {
  color: inherit !important;
}

.order__reorder {
  z-index: 9999;
}

.order__reorder--btn:hover {
  color: inherit !important;
}

.order__step {
  border-left: 8px solid #A3CD7E;
  letter-spacing: 0;
  background: #F2F8ED;
  font-weight: bold;
}

.order__step--help {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.order__select {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
}

.order__select input[type="radio"], .order__select input[type="checkbox"] {
  display: none;
}

.order__select input[type="radio"]:checked + label img,
.order__select input[type="checkbox"]:checked + label img {
  border: 6px solid #ED6D85;
  border-radius: 10%;
}

.order__select label {
  width: 100%;
}

.order__select--img {
  padding: 8px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.order__select--img:hover {
  opacity: .5;
}

.order__select--item {
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

.order__select--name {
  line-height: 20px;
}

.order__select--price {
  color: #E8435F;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
}

.order__select--cart {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .5px;
}

.order__select--cart--price {
  color: #E8435F;
  margin-right: 25px;
}

.order__select--cart--delete {
  font-size: 16px;
  color: #E8435F;
  cursor: pointer;
}

.order__none {
  text-align: center;
  padding: 8px 0;
  margin: 0;
  font-size: 15px;
  letter-spacing: .1px;
}

.order__cart--content {
  background: #F8DDE3;
}

.order__cart--border {
  border: 1px dashed rgba(0, 0, 0, 0.125);
}

.order__btn--add {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  width: 70%;
  color: #96C56C !important;
  border: 2px solid #A3CD7E;
  background: #F2F8ED;
  -webkit-box-shadow: 0 3px 0 #96C56C;
          box-shadow: 0 3px 0 #96C56C;
}

.order__btn--add:hover {
  color: #FDFDFD;
  opacity: .7;
}

.order__btn--add i {
  margin: 0 5px 0 0;
}

.order__btn--add:hover {
  color: #A3CD7E !important;
}

.order__btn--next {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  width: 70%;
}

.order__btn--next:hover {
  color: #FDFDFD;
  opacity: .7;
}

.order__btn--next i {
  margin: 0 5px 0 0;
}

.order-user__form {
  table-layout: fixed;
  width: 100%;
  max-width: 800px;
  border-collapse: separate;
  border-spacing: 24px 36px;
  background: #F2F8ED;
}

.order-user__form--body th {
  width: 195px;
}

.order-user__form--body--select--date {
  width: 50%;
}

.order-user__form--body--select--time {
  width: 25%;
}

.order-user__help {
  max-width: 800px;
}

.order-user__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.order-user__btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.order-user__btn i {
  margin: 0 5px 0 0;
}

.order-ck__table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.order-ck__table tr:not(:last-of-type) th, .order-ck__table tr:not(:last-of-type) td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.order-ck__table th {
  width: 180px;
  background: #F2F8ED;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.order-ck__table--email::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

.order-ck__cart--coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 8px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .5px;
  color: #E8435F;
}

.order-ck__coupon {
  background-color: #FCFCFC;
  background-image: radial-gradient(#EEE 10%, transparent 20%), radial-gradient(#EEE 10%, transparent 20%);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  border-top: 3px double rgba(0, 0, 0, 0.125);
}

.order-ck__coupon--content {
  position: relative;
  max-width: 280px;
  padding: 10px;
}

.order-ck__coupon--content--left {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 85px;
  overflow: hidden;
}

.order-ck__coupon--content--left--ribbon {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: inline-block;
  position: absolute;
  padding: 3px 0;
  right: -24px;
  top: 20px;
  width: 160px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  background: #F3C7D2;
  color: #FDF5F7;
  letter-spacing: .8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-shadow: 0 0 0 2px #F3C7D2;
          box-shadow: 0 0 0 2px #F3C7D2;
  border-top: dashed 1px rgba(255, 255, 255, 0.65);
  border-bottom: dashed 1px rgba(255, 255, 255, 0.65);
}

.order-ck__coupon--content--right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 85px;
  height: 85px;
  overflow: hidden;
}

.order-ck__coupon--content--right--ribbon {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: inline-block;
  position: absolute;
  padding: 3px 0;
  left: -24px;
  bottom: 20px;
  width: 160px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  background: #F3C7D2;
  color: #FDF5F7;
  letter-spacing: .8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-shadow: 0 0 0 2px #F3C7D2;
          box-shadow: 0 0 0 2px #F3C7D2;
  border-top: dashed 1px rgba(255, 255, 255, 0.65);
  border-bottom: dashed 1px rgba(255, 255, 255, 0.65);
}

.order-ck__coupon--content--main {
  border: 3px double #E8435F;
  border-radius: 3px;
}

.order-ck__coupon--content--main--img {
  width: auto;
  height: 80px;
}

.order-ck__coupon--content--main--label {
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  cursor: pointer;
}

.order-ck__coupon--content--main--label--header {
  padding-bottom: 2px;
  border-bottom: 1px solid #333;
}

.order-ck__coupon--content--main--label--sub {
  color: #E8435F;
  font-size: 12px;
}

.order-ck__coupon--content--main--label--title {
  color: #E8435F;
  font-size: 20px;
  letter-spacing: 0;
}

.order-ck__coupon--content--main--ckbox {
  font-size: 12px;
  cursor: pointer;
}

.order-ck__coupon--error {
  display: inline-block;
  margin: 0;
  text-align: left;
  color: #FF0000;
}

.order-ck__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.order-ck__btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.order-ck__btn i {
  margin: 0 5px 0 0;
}

@media screen and (max-width: 575px) {
  .order__alert {
    width: 250px;
    height: 300px;
  }
  .order__header {
    position: fixed;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    left: 0;
    bottom: 68px;
    z-index: 9998;
    background: #FDFDFD;
  }
  .order__header--menu {
    border-top: 1px solid #A3CD7E;
    border-bottom: 1px solid #A3CD7E;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    background-image: -webkit-gradient(linear, left top, right top, from(#F2F8ED), to(#FDFDFD));
    background-image: linear-gradient(to right, #F2F8ED 0%, #FDFDFD 100%);
  }
  .order__header--menu--icon {
    height: 32px;
  }
  .order__header--menu--text {
    color: #A3CD7E;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    margin-top: 2px;
    letter-spacing: 0;
  }
  .order__header--menu:hover {
    opacity: .5;
  }
  .order__header--menu:not(:last-of-type) {
    border-right: 1px solid #A3CD7E;
  }
  .order__step {
    width: calc( 100vw - calc( 100vw - ( 100% + 30px )));
    margin-left: -15px;
  }
  .order-user__form {
    border-spacing: 0;
  }
  .order-user__form--body--select--date {
    width: 100% !important;
  }
  .order-user__form--body--select--time {
    width: 100% !important;
  }
  .order-ck__table {
    max-width: 380px;
  }
  .order-ck__table tr:not(:last-of-type) td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .order-ck__table th {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 0;
  }
  .order-ck__table--help {
    max-width: 380px;
  }
  .order-ck__table--help--text {
    font-size: 13px;
  }
  .order-ck__cart {
    max-width: 380px;
  }
  .order-ck__cart--help {
    max-width: 380px;
  }
  .order-ck__cart--help--text {
    font-size: 13px;
  }
  .order-ck__coupon--error {
    max-width: 380px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .order__select--cart {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .order-user__form {
    border-spacing: 0;
  }
  .order-user__form--body--select--date {
    width: 40%;
  }
  .order-user__form--body--select--time {
    width: 20%;
  }
}

@media screen and (max-width: 991px) {
  .order__select--img {
    width: 43%;
    max-width: 200px;
  }
  .order-ck__table {
    max-width: 550px;
  }
  .order-ck__table--help {
    max-width: 550px;
  }
  .order-ck__cart {
    max-width: 550px;
  }
  .order-ck__cart--help {
    max-width: 550px;
  }
  .order-ck__coupon--error {
    max-width: 380px;
  }
}

.footer {
  width: 100%;
  font-size: 14px;
  background: #323232;
}

.footer__link {
  list-style: none;
}

.footer__link--item--menu {
  color: #FDFDFD;
  text-decoration: underline;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__link--item--menu:hover {
  opacity: .5;
  color: #FDFDFD;
}

.footer__copy small {
  color: #FDFDFD;
}

@media screen and (min-width: 576px) {
  .footer__link--item {
    border-right: 1px solid #FDFDFD;
  }
}

.login__link {
  font-size: 14px;
  color: #1B95E0;
  text-decoration: none;
}

.login__link:hover {
  text-decoration: underline;
}

.login__form--table {
  table-layout: fixed;
  width: 100%;
  max-width: 600px;
  border-collapse: separate;
  border-spacing: 24px 24px;
  background: #F2F8ED;
}

.login__form--save {
  letter-spacing: 0;
}

.login__form--btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.login__form--btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.login__form--btn i {
  margin: 0 5px 0 0;
}

@media screen and (min-width: 576px) {
  .login__form--table {
    border-spacing: 36px 36px;
  }
}

.logout__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.logout__btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.logout__btn i {
  margin: 0 5px 0 0;
}

.signup__required {
  color: #E8435F;
  font-weight: 700;
}

.signup__table {
  table-layout: fixed;
  width: 100%;
  max-width: 1000px;
  border-collapse: separate;
  border-spacing: 0;
  background: #F2F8ED;
}

.signup__terms {
  max-width: 1000px;
  height: 300px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .5px;
  overflow-y: scroll;
}

.signup__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.signup__btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.signup__btn i {
  margin: 0 5px 0 0;
}

.signup-ck {
  max-width: 600px;
}

.signup-ck__table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.signup-ck__table tr:not(:last-of-type) th, .signup-ck__table tr:not(:last-of-type) td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.signup-ck__table th {
  width: 180px;
  background: #F2F8ED;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.signup-ck__table--email::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

@media screen and (max-width: 575px) {
  .signup__table--birthday {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr auto !important;
        grid-template-columns: 1fr auto !important;
    row-gap: 16px;
  }
  .signup__table th {
    letter-spacing: .6px;
  }
  .signup-ck__table {
    max-width: 380px;
  }
  .signup-ck__table tr:not(:last-of-type) td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .signup-ck__table th {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .signup__table {
    max-width: 800px;
    border-spacing: 24px 36px;
  }
  .signup__table--body th {
    width: 230px;
  }
}

.profile {
  max-width: 600px;
}

.profile__table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.profile__table tr:not(:last-of-type) th, .profile__table tr:not(:last-of-type) td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.profile__table th {
  width: 180px;
  background: #F2F8ED;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.profile__table--email::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

.profile__link--text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .5;
  color: #1B95E0;
  text-decoration: none;
}

.profile__link--text:hover {
  text-decoration: underline;
}

.profile__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.profile__btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.profile__btn i {
  margin: 0 5px 0 0;
}

.history {
  max-width: 900px;
}

.history__header {
  background: #F2F8ED;
}

.history__header--wrap--orderday {
  font-weight: 700;
}

.history__header--wrap--coupon {
  color: #FF0000;
}

.history__header--btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  width: 130px;
}

.history__header--btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.history__header--btn i {
  margin: 0 5px 0 0;
}

.history__size-img {
  max-height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.history__flavor-img {
  max-height: 95px;
  -o-object-fit: contain;
     object-fit: contain;
}

.history__option-img {
  width: 70px;
  height: 70px;
}

.history__table {
  table-layout: fixed;
  width: 100%;
}

.history__table th {
  width: 125px;
}

.history__border {
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
}

.history__comment {
  max-width: 850px;
}

.delete__text {
  font-size: 20px;
  font-weight: 600;
  color: #E8435F;
}

.deleteno__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  color: #000;
  background: #CED4DA;
  -webkit-box-shadow: 0 3px 0 #94A0AC;
          box-shadow: 0 3px 0 #94A0AC;
}

.deleteno__btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.deleteno__btn i {
  margin: 0 5px 0 0;
}

.deleteno__btn:hover {
  color: #000;
}

@media screen and (max-width: 396px) {
  .history__table {
    line-height: 22px;
  }
  .history__table tr, .history__table th, .history__table td {
    display: block !important;
  }
  .history__table tr:not(:last-of-type) td {
    padding-bottom: 16px;
  }
  .history__table td {
    margin-left: 5px;
  }
  .history__size-img {
    max-height: 95px;
  }
  .history__flavor-img {
    max-height: 65px;
  }
  .history__option-img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 575px) {
  .profile {
    max-width: 380px;
  }
  .profile__table tr:not(:last-of-type) td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .profile__table th {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 0;
  }
  .profile__table--birthday {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr auto !important;
        grid-template-columns: 1fr auto !important;
    row-gap: 16px;
  }
  .profile__link {
    max-width: 380px;
  }
  .history {
    max-width: 380px;
  }
  .history__header--wrap {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    line-height: 20px;
    margin-bottom: 16px;
  }
  .history__header--btn {
    width: 200px;
  }
  #id_gender {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  #id_gender {
    width: 33%;
  }
  #id_birthday_month, #id_birthday_day {
    width: 60%;
    padding: 6px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .history__table {
    line-height: 22px;
  }
  .history__table tr:not(:last-of-type) td {
    padding-bottom: 16px;
  }
  .history__table td {
    margin-left: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 817px) {
  .history__header--wrap {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: .7px;
  }
}

.contact__form--table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: #F2F8ED;
}

.contact__form--btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact__form--btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.contact__form--btn i {
  margin: 0 5px 0 0;
}

@media screen and (min-width: 768px) {
  .contact__form--table {
    max-width: 800px;
    border-spacing: 24px 36px;
  }
  .contact__form--table--body th {
    width: 208px;
  }
}

.sidebar {
  padding: 0;
}

.sidebar__store--img {
  width: 100%;
}

.sidebar__store--name {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .5px;
}

.sidebar__store--map {
  color: #1B95E0;
  text-decoration: none;
}

.sidebar__store--map:hover {
  text-decoration: underline;
}

.iswd-base {
  border: 0 !important;
  background: #F2F8ED !important;
}

.iswd-profile, .iswd-images {
  max-width: 650px !important;
  margin: 0 auto !important;
}

@media screen and (max-width: 1199px) {
  .iswd-base {
    width: calc( 100vw - calc( 100vw - ( 100% + 30px ))) !important;
    margin-left: -15px !important;
    margin-bottom: -80px !important;
  }
}

@media screen and (min-width: 1200px) {
  .sidebar {
    padding-left: 60px;
  }
}

.guide {
  max-width: 800px;
}

.guide__top {
  margin-bottom: 60px;
}

.guide__top--img {
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

.guide__top--title {
  font-size: 25px;
  line-height: 1.3;
  font-weight: 700;
  color: #E8435F;
}

.guide__top--content {
  font-size: 17px;
  line-height: 1.7;
}

.guide__merit {
  margin-bottom: 60px;
}

.guide__merit--title {
  font-size: 18px;
  font-weight: 700;
  border-left: 8px solid #A3CD7E;
  background: #F2F8ED;
}

.guide__merit--ul {
  list-style: none;
}

.guide__merit--ul--part {
  position: relative;
  width: 72px;
  height: 62px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1;
  background: #F8DDE3;
  border-radius: 50%;
}

.guide__merit--ul--part:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px;
  margin-top: -16px;
  border: 15px solid transparent;
  border-left: 22px solid #F8DDE3;
  z-index: 0;
}

.guide__merit--ul--part--num {
  font-size: 20px;
}

.guide__merit--ul--benefits {
  color: #E8435F;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #faf082));
  background: linear-gradient(transparent 70%, #faf082 70%);
}

.guide__exuse {
  margin-bottom: 60px;
}

.guide__exuse--title {
  font-size: 18px;
  font-weight: 700;
  border-left: 8px solid #A3CD7E;
  background: #F2F8ED;
}

.guide__exuse--ul {
  list-style: none;
}

.guide__exuse--ul--header {
  color: #E8435F;
  font-weight: bold;
  line-height: 1.2;
  border-bottom: 1px solid #E8435F;
}

.guide__exuse--ul--msg {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .5;
}

.guide__info {
  margin-bottom: 60px;
}

.guide__info--title {
  margin-bottom: 34px;
  font-size: 18px;
  font-weight: 700;
  border-left: 8px solid #A3CD7E;
  background: #F2F8ED;
}

.guide__info--step--box {
  position: relative;
  width: 190px;
  font-size: 20px;
  font-weight: 700;
  color: #faf082;
  background: #E8435F;
  border-radius: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.guide__info--step--box--part {
  position: absolute;
  padding-top: 13px;
  width: 60px;
  height: 60px;
  top: -18px;
  left: -10px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  color: #E8435F;
  background: #FDFDFD;
  border: 2px solid #E8435F;
  border-radius: 50%;
}

.guide__info--step--box--part--num {
  font-size: 25px;
}

.guide__info--step--box--img {
  height: 60px;
}

.guide__info--step a:hover {
  opacity: .5;
  text-decoration: none;
  color: #faf082;
}

.guide__info--step--arrow {
  font-size: 50px;
  color: #E8435F;
}

.guide__info--ul {
  list-style: none;
}

.guide__info--ul--header {
  line-height: 1.2;
  font-weight: bold;
  border-bottom: 1px solid #333;
}

.guide__info--ul--msg {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .5;
}

.guide__fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
}

.guide__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.guide__btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.guide__btn i {
  margin: 0 5px 0 0;
}

@media screen and (max-width: 575px) {
  .guide__merit--ul--part {
    width: 45px;
    height: 95px;
  }
  .guide__info--step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guide__info--step--box {
    width: 250px;
  }
  .guide__info--step--arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media screen and (max-width: 767px) {
  .guide__top--img {
    height: 300px;
  }
  .guide__top--title {
    font-size: 18px;
  }
  .guide__top--content {
    font-size: 15px;
  }
}

.email-change__form {
  table-layout: fixed;
  width: 100%;
  max-width: 600px;
  border-collapse: separate;
  border-spacing: 24px 24px;
  background: #F2F8ED;
}

.email-change__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.email-change__btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.email-change__btn i {
  margin: 0 5px 0 0;
}

@media screen and (min-width: 576px) {
  .email-change__form {
    border-spacing: 36px 36px;
  }
}

.password-change__form {
  table-layout: fixed;
  width: 100%;
  max-width: 600px;
  border-collapse: separate;
  border-spacing: 24px 24px;
  background: #F2F8ED;
}

.password-change__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.password-change__btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.password-change__btn i {
  margin: 0 5px 0 0;
}

@media screen and (min-width: 576px) {
  .password-change__form {
    border-spacing: 36px 36px;
  }
}

.password-reset__form {
  table-layout: fixed;
  width: 100%;
  max-width: 600px;
  border-collapse: separate;
  border-spacing: 24px 24px;
  background: #F2F8ED;
}

.password-reset__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.password-reset__btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.password-reset__btn i {
  margin: 0 5px 0 0;
}

@media screen and (min-width: 576px) {
  .password-reset__form {
    border-spacing: 36px 36px;
  }
}

.delete__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 0px;
  color: #FDFDFD;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.delete__btn:hover {
  color: #FDFDFD;
  opacity: .7;
}

.delete__btn i {
  margin: 0 5px 0 0;
}
