@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  letter-spacing: .8px;
  line-height: 25px;
}

main {
  margin: 50px 0 80px;
}

.title {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  position: relative;
  margin: 0 0 40px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
}

.title span {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0 15px;
  background: #fff;
}

.title:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background: #333;
}

.done-check {
  width: 100px;
}

.done-text {
  font-size: 20px;
  font-weight: 600;
}

.help-text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .5px;
}

.back-btn {
  position: relative;
  width: 200px;
  margin-top: 50px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  left: 0;
  width: 70px;
  color: #000;
  background: #CED4DA;
  -webkit-box-shadow: 0 3px 0 #94A0AC;
          box-shadow: 0 3px 0 #94A0AC;
}

.back-btn:hover {
  color: #fff;
  opacity: .7;
}

.back-btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.back-btn i {
  margin: 0 5px 0 0;
}

.back-btn:hover {
  color: #000;
}

.error-msg {
  color: #FF0000;
}

.form-error {
  border: 2px solid #FF0000;
  background: #FDF5F7;
}

.container-fluid {
  max-width: 1200px;
}

.header {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0;
}

.header img {
  -webkit-transition: .3s;
  transition: .3s;
}

.header img:hover {
  opacity: .5;
}

.header a {
  text-decoration: none;
  color: #000;
}

.header__link {
  -webkit-transition: .3s;
  transition: .3s;
}

.header__link:hover {
  opacity: .5;
}

.header__link--icon {
  width: 40px;
}

.header__link--text {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.header__link--badge {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 3px 8px;
  font-size: 12px;
  vertical-align: 3px;
  color: #fff;
  background: #e8435f;
}

@media screen and (max-width: 576px) {
  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__wrap ul {
    margin: 10px auto;
  }
}

.top__item--image1 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url("/static/img/slide_1.png");
}

.top__item--image2 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url("/static/img/slide_2.png");
}

.top__item--image3 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url("/static/img/slide_3.png");
}

.top__news--date {
  color: #e8435f;
}

.top__pick {
  width: 200px;
}

.top__pick--ename {
  font-size: 25px;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 1px;
}

.top__pick--price {
  color: #E8435F;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
}

.store-img {
  width: 100%;
}

.store-name {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .5px;
}

.iswd-base {
  border: none !important;
  background: #FCE8EB !important;
}

@media screen and (max-width: 576px) {
  .top__item--image1 {
    height: 400px;
  }
  .top__item--image2 {
    height: 400px;
  }
  .top__item--image3 {
    height: 400px;
  }
}

.nav__wrap {
  max-width: 1000px;
}

.nav__wrap ul {
  width: 100%;
}

.nav__wrap ul li a {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: center;
  letter-spacing: 3px;
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__wrap ul li a:hover {
  opacity: .5;
}

.nav__wrap ul li a span {
  vertical-align: 2px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .nav {
    padding-bottom: 0;
  }
  .nav ul {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav ul li span {
    margin-left: 8px;
  }
  .nav ul hr {
    margin: 8px 0;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .nav__wrap ul li a {
    letter-spacing: 2px;
  }
  .nav__wrap ul li a span {
    font-size: 11px;
  }
}

/* ラジオボタンとチェックボックスを非表示 */
.selection-group input[type="radio"],
.selection-group input[type="checkbox"] {
  display: none;
}

/* 画像部分に余白を持たせる */
label img {
  margin: 3px;
  padding: 8px;
}

/* 選択された画像の背景を変える */
.selection-group input[type="radio"]:checked + label img,
.selection-group input[type="checkbox"]:checked + label img {
  background: #ED6D85;
  border-radius: 10%;
}

.order__alert {
  z-index: 9999;
  -webkit-animation: fadeOut 1s ease-in-out 2s forwards;
          animation: fadeOut 1s ease-in-out 2s forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.order__step {
  background: #F8DDE3;
}

.order__img {
  width: 100%;
  cursor: pointer;
}

.order__item {
  cursor: pointer;
}

.order__price {
  color: #E8435F;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
}

.order__price--icon {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.125);
}

.order__price--cart {
  color: #E8435F;
  margin-right: 30px;
}

.order__price--cart--delete-icon {
  font-size: 16px;
  color: #E8435F;
  cursor: pointer;
}

.order__price--cart--icon {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.125);
}

.order__ename {
  font-size: 22px;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 1px;
}

.order__name {
  line-height: 20px;
}

.order__add-btn {
  position: relative;
  width: 200px;
  margin-top: 50px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  color: #E8435F !important;
  border: 2px solid #E8435F;
  background: #FDF5F7;
  -webkit-box-shadow: 0 3px 0 #CCC;
          box-shadow: 0 3px 0 #CCC;
}

.order__add-btn:hover {
  color: #fff;
  opacity: .7;
}

.order__add-btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.order__add-btn i {
  margin: 0 5px 0 0;
}

.order__add-btn:hover {
  color: #E8435F !important;
}

.order__btn {
  position: relative;
  width: 200px;
  margin-top: 50px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.order__btn:hover {
  color: #fff;
  opacity: .7;
}

.order__btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.order__btn i {
  margin: 0 5px 0 0;
}

.order-user__form {
  margin: 0px auto 80px;
}

.order-user__form--table {
  width: 100%;
  max-width: 350px;
}

.order-confirm__table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.order-confirm__table tr:not(:last-of-type) th, .order-confirm__table tr:not(:last-of-type) td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.order-confirm__table th {
  width: 180px;
  text-align: left;
  padding: 16px 24px;
  background: #FDF5F7;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.order-confirm__table td {
  text-align: left;
  padding: 16px 24px;
}

@media screen and (max-width: 576px) {
  .order__wrap:first-child {
    padding: 0 0 30px;
  }
  .order__wrap:last-child {
    padding: 0;
  }
  .order__wrap--item {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: none;
        grid-template-rows: none;
        grid-template-areas: "areaA areaB" "areaC areaC";
    margin: 5px 0 0;
  }
  .order__wrap--item h5 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: areaA;
  }
  .order__wrap--item p {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: areaC;
  }
  .order__wrap--item--cancel {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: areaB;
    justify-self: flex-end;
  }
  .order__wrap--subprice {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .order__wrap--empty {
    text-align: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .order__wrap:first-child {
    padding: 0 0 30px;
  }
  .order__wrap:last-child {
    padding: 0;
  }
}

.thanks {
  text-align: center;
  margin: 0 0 80px;
}

.thanks p:first-of-type {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 10px;
}

.thanks p:last-of-type {
  margin: 0 0 30px;
}

.thanks a {
  position: relative;
  width: 200px;
  margin-top: 50px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  background: #a85413;
  -webkit-box-shadow: 0 3px 0 #492408;
          box-shadow: 0 3px 0 #492408;
}

.thanks a:hover {
  color: #fff;
  opacity: .7;
}

.thanks a:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.thanks a i {
  margin: 0 5px 0 0;
}

.footer {
  margin-top: auto;
  width: 100%;
  font-size: 14px;
  background: #323232;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__link--item {
  margin: 30px 15px 30px 0;
  padding-right: 15px;
  border-right: 1px solid #fff;
}

.footer__link--item:last-child {
  border-right: none;
}

.footer__link--item a {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.footer__link--item a:hover {
  opacity: .5;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copy small {
  margin: 24px 0;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0 15px;
  }
  .footer__link--item {
    margin: 0 0 15px;
    padding: 0;
    border: 0;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .footer__link {
    margin: 30px 0;
    display: -ms-grid;
    display: grid;
    gap: 30px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer__link--item {
    padding: 0;
    border: 0;
    margin: 0;
  }
  .footer__link--item:nth-child(2n-1) {
    text-align: right;
  }
}

.login__form {
  margin: 0px auto 80px;
}

.login__form--field {
  max-width: 400px;
}

.login__form--save {
  letter-spacing: 0;
}

.login__form--error {
  color: #ff0000;
}

.login__form--btn {
  position: relative;
  width: 200px;
  margin-top: 50px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.login__form--btn:hover {
  color: #fff;
  opacity: .7;
}

.login__form--btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login__form--btn i {
  margin: 0 5px 0 0;
}

.logout {
  max-width: 500px;
}

.logout__form {
  margin: 0px auto 80px;
}

.logout__form--btn {
  position: relative;
  width: 200px;
  margin-top: 50px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.logout__form--btn:hover {
  color: #fff;
  opacity: .7;
}

.logout__form--btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.logout__form--btn i {
  margin: 0 5px 0 0;
}

.signup__required {
  color: #FF0000;
  font-weight: 700;
}

.signup__form {
  margin: 0px auto 80px;
}

.signup__form--table {
  width: 400px;
}

.signup__form--terms {
  max-width: 650px;
  height: 300px;
  overflow-y: scroll;
}

.signup__form--btn {
  position: relative;
  width: 200px;
  margin-top: 50px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.signup__form--btn:hover {
  color: #fff;
  opacity: .7;
}

.signup__form--btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signup__form--btn i {
  margin: 0 5px 0 0;
}

.profile {
  max-width: 600px;
}

.profile__table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.profile__table tr:not(:last-of-type) th, .profile__table tr:not(:last-of-type) td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.profile__table th {
  width: 180px;
  text-align: left;
  padding: 16px 24px;
  background: #FDF5F7;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.profile__table td {
  text-align: left;
  padding: 16px 24px;
}

.profile__btn {
  position: relative;
  width: 200px;
  margin-top: 50px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.profile__btn:hover {
  color: #fff;
  opacity: .7;
}

.profile__btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.profile__btn i {
  margin: 0 5px 0 0;
}

.history {
  max-width: 850px;
}

.history__header {
  background: #FDF5F7;
}

.history__header--orderday {
  font-weight: 700;
}

.history__header--btn {
  position: relative;
  width: 200px;
  margin-top: 50px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  width: 130px;
}

.history__header--btn:hover {
  color: #fff;
  opacity: .7;
}

.history__header--btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.history__header--btn i {
  margin: 0 5px 0 0;
}

.history__content {
  width: 450px;
}

.history__img {
  width: 100px;
}

.history__icon {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.125);
}

.history__option-img {
  width: 60px;
}

.history__comment {
  max-width: 850px;
}

.delete__text {
  font-size: 20px;
  font-weight: 600;
  color: #FF0000;
}

.deleteno__btn {
  position: relative;
  width: 200px;
  margin-top: 50px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  color: #000;
  background: #CED4DA;
  -webkit-box-shadow: 0 3px 0 #94A0AC;
          box-shadow: 0 3px 0 #94A0AC;
}

.deleteno__btn:hover {
  color: #fff;
  opacity: .7;
}

.deleteno__btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.deleteno__btn i {
  margin: 0 5px 0 0;
}

.deleteno__btn:hover {
  color: #000;
}

@media screen and (max-width: 576px) {
  .profile-title:after {
    max-width: 300px;
  }
  .profile {
    max-width: 300px;
  }
  .profile__table {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
  }
  .profile__table th {
    display: block;
    width: 100%;
    padding: 4px 14px;
  }
  .profile__table td {
    display: block;
    width: 100%;
    padding: 16px 14px;
    border: 0;
  }
}

.contact__form {
  margin: 0px auto 80px;
}

.contact__form--table {
  max-width: 350px;
}

.contact__form--btn {
  position: relative;
  width: 200px;
  margin-top: 50px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact__form--btn:hover {
  color: #fff;
  opacity: .7;
}

.contact__form--btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact__form--btn i {
  margin: 0 5px 0 0;
}
