@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  letter-spacing: .8px;
  line-height: 25px;
  color: #333;
}

main {
  margin: 50px 0 80px;
}

.title {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  position: relative;
  margin: 0 0 40px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
}

.title span {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0 30px;
  background: #fff;
}

.title:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background: #333;
}

.done-check {
  width: 100px;
}

.done-text {
  font-size: 20px;
  font-weight: 600;
}

.help-text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .5px;
}

.back-btn {
  position: relative;
  width: 200px;
  margin: 50px 0 80px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  left: 0;
  width: 70px;
  color: #212529;
  background: #CED4DA;
  -webkit-box-shadow: 0 3px 0 #94A0AC;
          box-shadow: 0 3px 0 #94A0AC;
}

.back-btn:hover {
  color: #fff;
  opacity: .7;
}

.back-btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.back-btn i {
  margin: 0 5px 0 0;
}

.back-btn:hover {
  color: #212529;
}

.error-msg {
  color: #FF0000;
}

.form-error {
  border: 2px solid #FF0000;
  background: #FDF5F7;
}

.container-fluid {
  max-width: 1200px;
}

.access__name {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .5px;
}

.access__name--e {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 25px;
}

.access__map {
  height: 430px;
  background: #F2F8ED;
}

.access__map--img {
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
}

.access__adress--map {
  color: #1B95E0;
  text-decoration: none;
}

.access__adress--map:hover {
  text-decoration: underline;
}

.header {
  width: 100%;
  height: 70px;
  max-width: 1200px;
}

.header__logo {
  height: 70px;
}

.header img {
  -webkit-transition: .3s;
  transition: .3s;
}

.header img:hover {
  opacity: .5;
}

.header a {
  text-decoration: none;
  color: #333;
}

.header__link {
  -webkit-transition: .3s;
  transition: .3s;
}

.header__link:hover {
  opacity: .5;
}

.header__link--icon {
  height: 35px;
}

.header__link--text {
  font-size: 12px;
  letter-spacing: .2px;
}

.header__link--badge {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin-left: -2px;
  padding: 3px 8px;
  font-size: 12px;
  color: #FFF;
  background: #E8435F;
}

.spnav {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

.spnav__header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.spnav__header--link--logo {
  height: 44px;
  -webkit-transition: .3s;
  transition: .3s;
}

.spnav__header--link--logo:hover {
  opacity: .5;
}

.spnav__header--btn {
  cursor: pointer;
}

.spnav__header--btn--bar1, .spnav__header--btn--bar2, .spnav__header--btn--bar3 {
  width: 30px;
  height: 2px;
  background: #aaa;
  -webkit-transition: .5s;
  transition: .5s;
}

.spnav__header--btn--bar2, .spnav__header--btn--bar3 {
  margin-top: 6px;
}

.spnav__header--btn--menu {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 10px;
  margin-top: 5px;
  line-height: normal;
}

.spnav__bg {
  position: absolute;
  width: 100%;
  height: calc(100% - 120px);
  top: 60px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  background: #000;
}

.spnav__menu {
  position: absolute;
  height: calc(100% - 120px);
  margin-top: 60px;
  width: 90%;
  max-width: 300px;
  top: 0;
  right: 0;
  background: #FFF;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.spnav__menu--link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  -webkit-transition: .3s;
  transition: .3s;
}

.spnav__menu--link--e {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 3px;
}

.spnav__menu--link--j {
  vertical-align: 2px;
  letter-spacing: 1px;
  font-size: 12px;
}

.spnav__menu--link:hover {
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  opacity: .5;
}

.bg-change {
  visibility: visible;
  opacity: .6;
}

.bar1-change {
  -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
          transform: translate3d(0, 8px, 0) rotate(45deg);
}

.bar2-change {
  opacity: 0;
}

.bar3-change {
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
          transform: translate3d(0, -8px, 0) rotate(-45deg);
}

.menu-change {
  -webkit-transform: none;
          transform: none;
}

.spfooter {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;
  background: #FFF;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  z-index: 9999;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.spfooter__menu {
  text-decoration: none;
  color: #333;
  -webkit-transition: .3s;
  transition: .3s;
}

.spfooter__menu:hover {
  text-decoration: none;
  color: inherit;
  opacity: .5;
}

.spfooter__menu--icon {
  height: 28px;
}

.spfooter__menu--text {
  font-size: 10px;
  line-height: normal;
  margin-top: 2px;
}

.spfooter__menu--badge {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin-left: -3px;
  padding: 3px 6px;
  font-size: 10px;
  color: #FFF;
  background: #E8435F;
}

.top__item--image1 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url("/static/img/slide_1.png");
}

.top__item--image2 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url("/static/img/slide_2.png");
}

.top__item--image3 {
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url("/static/img/slide_3.png");
}

.top__news--date {
  color: #e8435f;
}

.top__pick {
  width: 200px;
}

.top__pick--ename {
  font-size: 25px;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 1px;
}

.top__pick--price {
  color: #E8435F;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
}

.nav__wrap {
  max-width: 1000px;
}

.nav__wrap ul {
  width: 100%;
}

.nav__wrap ul li a {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: center;
  letter-spacing: 3px;
  color: #333;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__wrap ul li a:hover {
  opacity: .5;
  text-decoration: none;
}

.nav__wrap ul li a span {
  vertical-align: 2px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.about {
  margin: 80px 0;
}

.about__subheading {
  color: #E8435F;
  font-size: 20px;
  font-weight: 600;
}

/* ラジオボタンとチェックボックスを非表示 */
.selection-group input[type="radio"],
.selection-group input[type="checkbox"] {
  display: none;
}

/* 画像部分に余白を持たせる */
label img {
  margin: 3px;
  padding: 8px;
}

/* 選択された画像の背景を変える */
.selection-group input[type="radio"]:checked + label img,
.selection-group input[type="checkbox"]:checked + label img {
  background: #ED6D85;
  border-radius: 10%;
}

.order__alert {
  z-index: 9999;
  -webkit-animation: fadeOut 1s ease-in-out 2s forwards;
          animation: fadeOut 1s ease-in-out 2s forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.order__step {
  background: #F2F8ED;
}

.order__content {
  background: #F8DDE3;
}

.order__img {
  width: 100%;
  cursor: pointer;
}

.order__item {
  cursor: pointer;
}

.order__price {
  color: #E8435F;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
}

.order__price--icon {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.125);
}

.order__price--cart {
  color: #E8435F;
  margin-right: 25px;
}

.order__price--cart--delete-icon {
  font-size: 16px;
  color: #E8435F;
  cursor: pointer;
}

.order__price--cart--icon {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.125);
}

.order__ename {
  font-size: 22px;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 1px;
}

.order__name {
  line-height: 20px;
}

.order__add-btn {
  position: relative;
  width: 200px;
  margin: 50px 0 80px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  color: #E8435F !important;
  border: 2px solid #E8435F;
  background: #FDF5F7;
  -webkit-box-shadow: 0 3px 0 #CCC;
          box-shadow: 0 3px 0 #CCC;
}

.order__add-btn:hover {
  color: #fff;
  opacity: .7;
}

.order__add-btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.order__add-btn i {
  margin: 0 5px 0 0;
}

.order__add-btn:hover {
  color: #E8435F !important;
}

.order__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 80px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.order__btn:hover {
  color: #fff;
  opacity: .7;
}

.order__btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.order__btn i {
  margin: 0 5px 0 0;
}

.order-user__form--table {
  border-collapse: separate;
  border-spacing: 24px 36px;
  max-width: 1000px;
  background: #F2F8ED;
}

.order-user__form--table td {
  width: 500px;
}

.order-confirm__table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.order-confirm__table tr:not(:last-of-type) th, .order-confirm__table tr:not(:last-of-type) td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.order-confirm__table th {
  width: 180px;
  text-align: left;
  padding: 16px 24px;
  background: #F2F8ED;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.order-confirm__table td {
  text-align: left;
  padding: 16px 24px;
}

.footer {
  margin-top: auto;
  width: 100%;
  font-size: 14px;
  background: #323232;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__link--item {
  margin: 30px 15px 30px 0;
  padding-right: 15px;
  border-right: 1px solid #fff;
}

.footer__link--item:last-child {
  border-right: none;
}

.footer__link--item a {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.footer__link--item a:hover {
  opacity: .5;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copy small {
  margin: 24px 0;
  text-align: center;
  color: #fff;
}

.login__link {
  color: #1B95E0;
  text-decoration: none;
}

.login__link:hover {
  text-decoration: underline;
}

.login__form--table {
  border-collapse: separate;
  border-spacing: 24px 36px;
  max-width: 600px;
  background: #F2F8ED;
}

.login__form--table td {
  width: 500px;
}

.login__form--save {
  letter-spacing: 0;
}

.login__form--btn {
  position: relative;
  width: 200px;
  margin: 50px 0 80px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.login__form--btn:hover {
  color: #fff;
  opacity: .7;
}

.login__form--btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login__form--btn i {
  margin: 0 5px 0 0;
}

.logout__form--btn {
  position: relative;
  width: 200px;
  margin: 50px 0 80px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.logout__form--btn:hover {
  color: #fff;
  opacity: .7;
}

.logout__form--btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.logout__form--btn i {
  margin: 0 5px 0 0;
}

.signup__required {
  color: #E8435F;
  font-weight: 700;
}

.signup__form--table {
  border-collapse: separate;
  border-spacing: 24px 36px;
  max-width: 1000px;
  background: #F2F8ED;
}

.signup__form--table td {
  width: 500px;
}

.signup__form--terms {
  max-width: 1000px;
  height: 300px;
  overflow-y: scroll;
}

.signup__form--btn {
  position: relative;
  width: 200px;
  margin: 50px 0 80px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.signup__form--btn:hover {
  color: #fff;
  opacity: .7;
}

.signup__form--btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signup__form--btn i {
  margin: 0 5px 0 0;
}

.profile {
  max-width: 600px;
}

.profile__table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.profile__table tr:not(:last-of-type) th, .profile__table tr:not(:last-of-type) td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.profile__table th {
  width: 180px;
  text-align: left;
  padding: 16px 24px;
  background: #F2F8ED;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.profile__table td {
  text-align: left;
  padding: 16px 24px;
}

.profile__link {
  color: #1B95E0;
  text-decoration: none;
}

.profile__link:hover {
  text-decoration: underline;
}

.profile__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 80px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.profile__btn:hover {
  color: #fff;
  opacity: .7;
}

.profile__btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.profile__btn i {
  margin: 0 5px 0 0;
}

.history {
  max-width: 850px;
}

.history__header {
  background: #F2F8ED;
}

.history__header--orderday {
  font-weight: 700;
}

.history__header--btn {
  position: relative;
  width: 200px;
  margin: 50px 0 80px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  width: 130px;
}

.history__header--btn:hover {
  color: #fff;
  opacity: .7;
}

.history__header--btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.history__header--btn i {
  margin: 0 5px 0 0;
}

.history__content {
  width: 450px;
}

.history__img {
  width: 100px;
}

.history__option-img {
  width: 60px;
}

.history__comment {
  max-width: 850px;
}

.delete__text {
  font-size: 20px;
  font-weight: 600;
  color: #E8435F;
}

.deleteno__btn {
  position: relative;
  width: 200px;
  margin: 50px 0 80px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  color: #000;
  background: #CED4DA;
  -webkit-box-shadow: 0 3px 0 #94A0AC;
          box-shadow: 0 3px 0 #94A0AC;
}

.deleteno__btn:hover {
  color: #fff;
  opacity: .7;
}

.deleteno__btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.deleteno__btn i {
  margin: 0 5px 0 0;
}

.deleteno__btn:hover {
  color: #000;
}

.contact__form--table {
  border-collapse: separate;
  border-spacing: 24px 36px;
  max-width: 1000px;
  background: #F2F8ED;
}

.contact__form--table td {
  width: 600px;
}

.contact__form--btn {
  position: relative;
  width: 200px;
  margin: 50px 0 80px;
  color: #fff;
  background: #E8435F;
  -webkit-box-shadow: 0 3px 0 #AC1531;
          box-shadow: 0 3px 0 #AC1531;
  border: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact__form--btn:hover {
  color: #fff;
  opacity: .7;
}

.contact__form--btn:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact__form--btn i {
  margin: 0 5px 0 0;
}

.sidebar {
  padding-left: 60px;
}

.sidebar__store--img {
  width: 100%;
}

.sidebar__store--name {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .5px;
}

.sidebar__store--map {
  color: #1B95E0;
  text-decoration: none;
}

.sidebar__store--map:hover {
  text-decoration: underline;
}

.iswd-base {
  border: 0 !important;
  background: #F2F8ED !important;
}

.guide__title {
  font-size: 28px;
  font-weight: 700;
  color: #E8435F;
}

.guide__help {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.guide__step {
  position: relative;
  margin: 60px 0 40px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: 700;
  color: #E8435F;
}

.guide__step span {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0 20px;
  background: #fff;
}

.guide__step:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 40%;
  height: 2px;
  content: '';
  background: #E8435F;
}

.guide__three--box {
  font-size: 20px;
  font-weight: 700;
  color: #FFF000;
  background: #E8435F;
  border-radius: 20px;
}

.guide__three--box--step {
  font-family: "Montserrat", "Roboto", "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", MeiryoKe_PGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -18px;
  left: -10px;
  font-size: 25px;
  font-weight: 700;
  color: #E8435F;
  background: #FFF;
  border: 2px solid #E8435F;
  border-radius: 50%;
}

.guide__three--arrow {
  font-size: 50px;
  color: #E8435F;
}
