.selector-available,
.selector-chooser,
.selector-clearall {
    display: none !important;
}

.selector-chosen {
    width: 90%;
    height: 300px;
}

#id_cart_to {
    overflow: scroll;
    width: 100%;
    height: 262px !important;
}

.selector select {
    max-height: 300px !important;
}