{% extends "app/base.html" %}
{% load static %}

{% block title %}
<title>spoonについて | spoon</title>
{% endblock %}

{% block content %}
<div class="row px-3">
    <div class="col-xl-9 p-0">
        <h1 class="title">
            <span>spoonについて</span>
        </h1>
        <div class="about row justify-content-center">
            <div class="col-sm-10 col-md-6 col-lg-5 col-xl-6 about__fadein">
                <img class="w-100" src="{% static 'img/about1.png' %}">
            </div>
            <div class="col-sm-10 col-md-6 col-lg-7 col-xl-6">
                <h2 class="about__subheading mt-3 mt-md-0 about__fadein">手づくりジェラート専門店</h2>
                <p class="about__msg about__fadein">spoonのジェラートを口に入れた瞬間、ほわっと、ふんわりした舌ざわりとともに、素材の味が香り豊かに広がります。それぞれに使用する材料や配合、甘さのバランスにもとことんこだわり、さっぱりした後味もその魅力の一つ。お客様のもっと食べたい！また食べたい！を目指して、他のジェラートとは違うspoonならではの味を追求しています。</p>
            </div>
        </div>
        <div class="about row justify-content-center">
            <div class="col-sm-10 col-md-6 col-lg-7 col-xl-6 order-2 order-md-1">
                <h2 class="about__subheading mt-3 mt-md-0 about__fadein">30種類以上のオリジナルフレーバー</h2>
                <p class="about__msg about__fadein">見た目でも楽しむことのできるspoonのジェラート。お店に入ると色鮮やかに並ぶたくさんのジェラートに驚かれることでしょう。そんなワクワク感と選ぶ楽しみもご提供したく、現在は30種類以上のジェラートを取り揃えております（季節限定含む）。<a href="{% url 'order_guide' %}">spoonのお持ち帰り予約</a>でご注文いただくと、WEB限定フレーバーも含めて全種類お楽しみいただけます。ぜひ自分好みのフレーバーを見つけてみてください。</p>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-5 col-xl-6 flex-first order-1 order-md-2 about__fadein">
                <img class="w-100" src="{% static 'img/about2.png' %}">
            </div>
        </div>
        <div class="about row justify-content-center">
            <div class="col-sm-10 col-md-6 col-lg-5 col-xl-6 about__fadein">
                <img class="w-100" src="{% static 'img/about3.png' %}">
            </div>
            <div class="col-sm-10 col-md-6 col-lg-7 col-xl-6 mb-0">
                <h2 class="about__subheading mt-3 mt-md-0 about__fadein">ご自宅でも楽しめるspoonジェラート</h2>
                <p class="about__msg about__fadein">大切な方への手みやげに、一つ一つ丁寧に手づくりしたジェラートはいかがでしょう？お店で選び、その場で食べることもジェラートショップならではの楽しみ方ですが、その美味しさをお持ち帰りしたいとのお声もいただきます。<a href="{% url 'order_guide' %}">spoonのお持ち帰り予約</a>でご注文いただけば、お持ち帰りでも口あたりなめらかな、ひんやりジェラートをご提供できます。ぜひお試しください。</p>
            </div>
        </div>
        <p class="help-text px-3">※写真はすべてイメージです。spoonのお持ち帰り予約サービスのご利用には<a href="{% url 'account_signup' %}">無料会員登録</a>が必要です。</p>
    </div>
    {% include 'app/sidebar.html' %}
</div>
{% endblock %}


{% block extrajs %}
<script>
    'use strict';

    animation('.about__fadein');
    // スクロールで発動
    window.addEventListener('scroll', () => {
        animation('.about__fadein');
    });
</script>
{% endblock %}