{% extends "app/base.html" %}
{% load static %}

{% block title %}
<title>アクセス | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span>アクセス</span>
</h1>

<div class="access row justify-content-center m-0">
    <img class="access__map card col-lg-7 p-0 h-100" src="{% static 'img/spoon_map.svg' %}">
    <div class="access__info col-lg-5 pl-0 pl-lg-4 pt-5 pt-lg-0 pr-0">
        <p class="access__info--name ml-lg-3 mb-5 text-center text-lg-left">
            <span class="access__info--name--e mr-2">spoon</span>
            ジェラート＆焼菓子
        </p>
        <table class="access__info--table mx-auto">
            <tbody>
                <tr>
                    <th class="pl-4">住所</th>
                    <td class="pl-4 pr-3">
                        <a class="access__info--table--map" href="https://www.google.co.jp/maps/place/%E3%80%92370-3522+%E7%BE%A4%E9%A6%AC%E7%9C%8C%E9%AB%98%E5%B4%8E%E5%B8%82%E8%8F%85%E8%B0%B7%E7%94%BA%EF%BC%91%EF%BC%92%EF%BC%94%EF%BC%93%E2%88%92%EF%BC%99/@36.3803438,139.0080042,17z/data=!3m1!4b1!4m5!3m4!1s0x601e8c8d4e95f6e7:0x5882f4339e9e0814!8m2!3d36.3803395!4d139.0101929?hl=ja">群馬県高崎市菅谷町1243-10</a>
                    </td>
                </tr>
                <tr>
                    <th class="pl-4">電話番号</th>
                    <td class="pl-4">027-310-0112</td>
                </tr>
                <tr>
                    <th class="pl-4">営業時間</th>
                    <td class="access__info--table--time pl-4 py-3">
                        <!-- 11:00～18:00 -->
                        平　日　12:30～18:00<br>
                        土日祝　11:00～18:00
                        <span class="access__info--table--time--help help-text">※材料が終わり次第、営業終了になることもございます。</span>
                    </td>
                </tr>
                <tr>
                    <th class="pl-4">定休日</th>
                    <td class="pl-4">不定休</td>
                </tr>
                <tr>
                    <th class="pl-4">駐車場</th>
                    <td class="pl-4">あり（5台）</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}