{% extends "app/base.html" %}
{% load static %}

{% block title %}
<title>アクセス | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span>アクセス</span>
</h1>

<div class="access row m-0">
    <div class="access__map col-7 card p-0">
        <img class="access__map--img" src="{% static 'img/spoon_地図.svg' %}">
    </div>
    <div class="col-5 pl-5 pr-0">
        <p class="access__name ml-3 mb-5">
            <span class="access__name--e mr-3">spoon</span>
            ジェラート＆焼菓子
        </p>
        <hr>
        <div class="ml-3">
            <span class="mr-5">住所　　</span>
            <a class="access__adress--map" href="https://www.google.co.jp/maps/place/spoon+%E3%82%B8%E3%82%A7%E3%83%A9%E3%83%BC%E3%83%88%EF%BC%86%E7%84%BC%E3%81%8D%E8%8F%93%E5%AD%90/@36.3803419,139.0091424,469m/data=!3m2!1e3!4b1!4m5!3m4!1s0x601e8dfaabf8e28b:0x3b529be4bc41202a!8m2!3d36.3803397!4d139.0102367?hl=ja">群馬県高崎市菅谷町1243-10</a>
        </div>
        <hr>
        <div class="ml-3">
            <span class="mr-5">電話番号</span>
            <span>027-310-0112</span>
        </div>
        <hr>
        <div class="ml-3">
            <span class="mr-5">営業時間</span>
            <span>11:00～18:00</span>
        </div>
        <hr>
        <div class="ml-3">
            <span class="mr-5">定休日　</span>
            <span>不定休</span>
        </div>
        <hr>
        <div class="ml-3">
            <span class="mr-5">駐車場　</span>
            <span>あり（5台）</span>
        </div>
        <hr>
        <div class="ml-3">
            <span class="mr-5">席数　　</span>
            <span>2席</span>
        </div>
        <hr>
    </div>
</div>
{% endblock %}