{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block title %}
        {% endblock %}
    </head>

    <body>
        <!-- header -->
        <header class="header d-flex justify-content-between">
            <a href="/">
                <img src="{% static 'img/logo.png' %}">
            </a>
            <div class="d-flex align-items-center">
                <a class="header__link text-center mr-5" href="/">
                    <img class="header__link--icon" src="{% static 'img/home.svg' %}" alt="ホーム"><br>
                    <span class="header__link--text">ホーム</span>
                </a>
                {% if user.is_authenticated %}
                    <a class="header__link text-center mr-5" href="{% url 'profile' %}">
                        <img class="header__link--icon" src="{% static 'img/mypage.svg' %}" alt="マイページ"><br>
                        <span class="header__link--text">マイページ</span>
                    </a>
                    <a class="header__link text-center mr-5" href="{% url 'order' %}">
                        <img class="header__link--icon" src="{% static 'img/cart.svg' %}" alt="カート"><br>
                        <span class="header__link--text">カート</span>
                        <span class="header__link--badge badge">{{ count }}</span>
                    </a>
                    <a class="header__link text-center" href="{% url 'account_logout' %}">
                        <img class="header__link--icon" src="{% static 'img/logout.svg' %}" alt="ログアウト"><br>
                        <span class="header__link--text">ログアウト</span>
                    </a>
                {% else %}
                    <a class="header__link text-center mr-5" href="{% url 'account_signup' %}">
                        <img class="header__link--icon" src="{% static 'img/signup.svg' %}" alt="会員登録"><br>
                        <span class="header__link--text">会員登録</span>
                    </a>
                    <a class="header__link text-center" href="{% url 'account_login' %}">
                        <img class="header__link--icon" src="{% static 'img/login.svg' %}" alt="ログイン"><br>
                        <span class="header__link--text">ログイン</span>
                    </a>
                {% endif %}
            </div>
        </header>

        <!-- Image Slider -->
        {% block slider %}
        {% endblock %}

        <!-- Navigation-->
        <nav class="nav navbar navbar-expand py-3 px-2">
        <div class="nav__wrap container-fluid m-auto">
            <ul class="navbar-nav justify-content-between">
                <li>
                    <a class="nav-link" href="{% url 'about' %}">
                        ABOUT<br class="d-none d-sm-block">
                        <span>-当店について-</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a class="nav-link" href="{% url 'order_guide' %}">
                        GUIDE<br class="d-none d-sm-block">
                        <span>-ご利用方法-</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a class="nav-link" href="{% url 'order' %}">
                        ORDER<br class="d-none d-sm-block">
                        <span>-ご予約注文-</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a class="nav-link" href="{% url 'access' %}">
                        ACCESS<br class="d-none d-sm-block">
                        <span>-当店のご案内-</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a class="nav-link" href="{% url 'contact' %}">
                        CONTACT<br class="d-none d-sm-block">
                        <span>-お問い合わせ-</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
        
        <main>
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer class="footer">
            <ul class="footer__link">
                <li class="footer__link--item">
                    <a href="/">特定商取引法に基づく表記</a>
                </li>
                <li class="footer__link--item">
                    <a href="/">プライバシーポリシー</a>
                </li>
                <li class="footer__link--item">
                    <a href="/">会社概要</a>
                </li>
            </ul>
            <div class="footer__copy">
                <small>&copy; Praline 2020</small>
            </div>
        </footer>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
        {% block extrajs %}
        {% endblock %}
    </body>
</html>