{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head prefix="og: http://ogp.me/ns#">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="ジェラート,アイスクリーム,アイス,群馬,高崎,おしゃれ,インスタ映え,美味しい,夏,手づくり,写真,スプーン">
        <meta name="description" content="群馬県高崎市にあるジェラートと焼菓子のお店「spoon」です。旬の素材をたっぷりと使った手づくりジェラートを提供しています。あっさりした味わいや濃厚な味わいのジェラートまで常時20種類をご用意。是非ご賞味ください。">
        <meta property="og:title" content="spoon ジェラート＆焼菓子">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://spoon-gelato.jp">
        <meta property="og:image" content="https://spoon-gelato.jp/static/img/sns.png">
        <meta property="og:site_name" content="spoon ジェラート＆焼菓子">
        <meta property="og:description" content="旬の素材をたっぷりと使った手づくりジェラートを提供しています。あっさりした味わいや濃厚な味わいのジェラートまで常時20種類をご用意。是非ご賞味ください。">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'ico/spoon.ico' %}">
        {% block title %}
        {% endblock %}
    </head>

    <body>
        <!-- Back To Top -->
        <div class="back-to-top" data-toggle="tooltip" data-placement="left" title="Back to Top">
            <i class="fas fa-angle-up" aria-hidden="true"></i>
        </div>
        
        <!-- スマホ・タブレット用ヘッダー -->
        <header class="spnav d-sm-none">
            <div class="spnav__header d-flex justify-content-between align-items-center p-2">
                <a class="spnav__header--link d-block" href="/">
                    <img class="spnav__header--link--logo" src="{% static 'img/spoon_logo_1c.svg' %}">
                </a>
                <div class="spnav__header--btn d-flex flex-column align-items-center justify-content-center">
                    <span class="spnav__header--btn--bar1"></span>
                    <span class="spnav__header--btn--bar2"></span>
                    <span class="spnav__header--btn--bar3"></span>
                    <span class="spnav__header--btn--menu">MENU</span>
                </div>
            </div>
            <div class="spnav__bg"></div>
            <div class="spnav__menu d-flex flex-column">
                <a class="spnav__menu--link row mb-2 mt-0 mx-0 py-3 justify-content-center" href="/">
                    <span class="spnav__menu--link--e col-5 p-0">HOME</span>
                    <span class="spnav__menu--link--j col-5 p-0">-トップページ-</span>
                </a>
                <a class="spnav__menu--link row mb-2 mt-0 mx-0 py-3 justify-content-center" href="{% url 'about' %}">
                    <span class="spnav__menu--link--e col-5 p-0">ABOUT</span>
                    <span class="spnav__menu--link--j col-5 p-0">-当店について-</span>
                </a>
                <a class="spnav__menu--link row mb-2 mt-0 mx-0 py-3 justify-content-center" href="{% url 'order_guide' %}">
                    <span class="spnav__menu--link--e col-5 p-0">GUIDE</span>
                    <span class="spnav__menu--link--j col-5 p-0">-ご利用方法-</span>
                </a>
                <a class="spnav__menu--link row mb-2 mt-0 mx-0 py-3 justify-content-center" href="{% url 'order' %}">
                    <span class="spnav__menu--link--e col-5 p-0">ORDER</span>
                    <span class="spnav__menu--link--j col-5 p-0">-お持ち帰り予約-</span>
                </a>
                <a class="spnav__menu--link row mb-2 mt-0 mx-0 py-3 justify-content-center" href="{% url 'access' %}">
                    <span class="spnav__menu--link--e col-5 p-0">ACCESS</span>
                    <span class="spnav__menu--link--j col-5 p-0">-アクセス-</span>
                </a>
                <a class="spnav__menu--link row m-0 py-3 justify-content-center" href="{% url 'contact' %}">
                    <span class="spnav__menu--link--e col-5 p-0">CONTACT</span>
                    <span class="spnav__menu--link--j col-5 p-0">-お問い合わせ-</span>
                </a>
            </div>
        </header>

        <!-- タブレット・PC用ヘッダー -->
        <header class="header pl-3 pl-xl-0 py-3 mx-auto d-none d-sm-flex justify-content-between">
            <a class="mr-3" href="/">
                <img class="header__logo" src="{% static 'img/spoon_logo.svg' %}">
            </a>
            <div class="d-flex flex-column justify-content-center">
                <div class="d-flex align-items-center">
                    <a class="header__link d-flex flex-column mr-4" href="/">
                        <img class="header__link--icon" src="{% static 'img/home.svg' %}" alt="ホーム">
                        <span class="header__link--text text-center">ホーム</span>
                    </a>
                    {% if user.is_authenticated %}
                        <a class="header__link d-flex flex-column mr-4" href="{% url 'profile' %}">
                            <img class="header__link--icon" src="{% static 'img/mypage.svg' %}" alt="マイページ">
                            <span class="header__link--text text-center">マイページ</span>
                        </a>
                        <a class="header__link cart-jump d-flex flex-column mr-4" href="{% url 'order' %}">
                            <img class="header__link--icon" src="{% static 'img/cart.svg' %}" alt="カート">
                            <span class="header__link--text text-center">カート
                                <span class="header__link--badge badge">{{ count }}</span>
                            </span>
                        </a>
                        <a class="header__link d-flex flex-column mr-4" href="{% url 'account_logout' %}">
                            <img class="header__link--icon" src="{% static 'img/logout.svg' %}" alt="ログアウト">
                            <span class="header__link--text text-center">ログアウト</span>
                        </a>
                    {% else %}
                        <a class="header__link d-flex flex-column mr-4" href="{% url 'account_signup' %}">
                            <img class="header__link--icon" src="{% static 'img/signup.svg' %}" alt="会員登録">
                            <span class="header__link--text text-center">会員登録</span>
                        </a>
                        <a class="header__link d-flex flex-column mr-4" href="{% url 'account_login' %}">
                            <img class="header__link--icon" src="{% static 'img/login.svg' %}" alt="ログイン">
                            <span class="header__link--text text-center">ログイン</span>
                        </a>
                    {% endif %}
                </div>
                {% block info %}
                {% endblock %}
            </div>
        </header>

        <!-- Image Slider -->
        {% block slider %}
        {% endblock %}

        <!-- Navigation-->
        <nav class="nav__wrap d-none d-sm-block container-fluid my-md-4 p-0">
            <ul class="nav__wrap--menu d-md-flex p-0 m-0">
                <li class="nav__wrap--menu--li text-center">
                    <a class="nav__wrap--menu--li--link d-flex flex-column justify-content-center" href="/">
                        <span class="nav__wrap--menu--li--link--e">HOME</span>
                        <span class="nav__wrap--menu--li--link--j">-トップページ-</span>
                    </a>
                </li>
                <li class="nav__wrap--menu--li text-center">
                    <a class="nav__wrap--menu--li--link d-flex flex-column justify-content-center" href="{% url 'about' %}">
                        <span class="nav__wrap--menu--li--link--e">ABOUT</span>
                        <span class="nav__wrap--menu--li--link--j">-当店について-</span>
                    </a>
                </li>
                <li class="nav__wrap--menu--li text-center">
                    <a class="nav__wrap--menu--li--link d-flex flex-column justify-content-center" href="{% url 'order_guide' %}">
                        <span class="nav__wrap--menu--li--link--e">GUIDE</span>
                        <span class="nav__wrap--menu--li--link--j">-ご利用方法-</span>
                    </a>
                </li>
                <li class="nav__wrap--menu--li text-center">
                    <a class="nav__wrap--menu--li--link d-flex flex-column justify-content-center" href="{% url 'order' %}">
                        <span class="nav__wrap--menu--li--link--e">ORDER</span>
                        <span class="nav__wrap--menu--li--link--j">-お持ち帰り予約-</span>
                    </a>
                </li>
                <li class="nav__wrap--menu--li text-center">
                    <a class="nav__wrap--menu--li--link d-flex flex-column justify-content-center" href="{% url 'access' %}">
                        <span class="nav__wrap--menu--li--link--e">ACCESS</span>
                        <span class="nav__wrap--menu--li--link--j">-アクセス-</span>
                    </a>
                </li>
                <li class="nav__wrap--menu--li text-center">
                    <a class="nav__wrap--menu--li--link d-flex flex-column justify-content-center" href="{% url 'contact' %}">
                        <span class="nav__wrap--menu--li--link--e">CONTACT</span>
                        <span class="nav__wrap--menu--li--link--j">-お問い合わせ-</span>
                    </a>
                </li>
            </ul>
        </nav>
        
        {% block order %}
        {% endblock %}

        <main>
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer class="footer mt-auto">
            <ul class="footer__link d-sm-flex justify-content-center p-0 my-4">
                <li class="footer__link--item mr-sm-3 pr-sm-3 text-center">
                    <a class="footer__link--item--menu" href="{% url 'sctl' %}">特定商取引法に基づく表記</a>
                </li>
                <li class="footer__link--item mr-sm-3 pt-2 pr-sm-3 pt-sm-0 text-center">
                    <a class="footer__link--item--menu" href="{% url 'privacy' %}">プライバシーポリシー</a>
                </li>
                <li class="footer__link--item border-right-0 pt-2 pt-sm-0 text-center">
                    <a class="footer__link--item--menu" href="{% url 'company' %}">会社概要</a>
                </li>
            </ul>
            <div class="footer__copy d-flex justify-content-center">
                <small class="my-4 text-center">&copy; Praline 2020</small>
            </div>
        </footer>

        <!-- スマホ用フッター -->
        <nav class="d-sm-none">
            {% block footer_info %}
            {% endblock %}
            <div class="spfooter__menu d-flex align-items-center">
                <a class="spfooter__menu--link d-flex flex-column" href="/">
                    <img class="spfooter__menu--link--icon" src="{% static 'img/home.svg' %}" alt="ホーム">
                    <span class="spfooter__menu--link--text">ホーム</span>
                </a>
                {% if user.is_authenticated %}
                <a class="spfooter__menu--link d-flex flex-column" href="{% url 'profile' %}">
                    <img class="spfooter__menu--link--icon" src="{% static 'img/mypage.svg' %}" alt="マイページ">
                    <span class="spfooter__menu--link--text">マイページ</span>
                </a>
                <a class="spfooter__menu--link cart-jump d-flex flex-column" href="{% url 'order' %}">
                    <img class="spfooter__menu--link--icon" src="{% static 'img/cart.svg' %}" alt="カート">
                    <span class="spfooter__menu--link--text">カート
                        <span class="spfooter__menu--link--badge badge">{{ count }}</span>
                    </span>
                </a>
                <a class="spfooter__menu--link d-flex flex-column" href="{% url 'account_logout' %}">
                    <img class="spfooter__menu--link--icon" src="{% static 'img/logout.svg' %}" alt="ログアウト">
                    <span class="spfooter__menu--link--text">ログアウト</span>
                </a>
                {% else %}
                <a class="spfooter__menu--link d-flex flex-column" href="{% url 'account_signup' %}">
                    <img class="spfooter__menu--link--icon" src="{% static 'img/signup.svg' %}" alt="会員登録">
                    <span class="spfooter__menu--link--text">会員登録</span>
                </a>
                <a class="spfooter__menu--link d-flex flex-column" href="{% url 'account_login' %}">
                    <img class="spfooter__menu--link--icon" src="{% static 'img/login.svg' %}" alt="ログイン">
                    <span class="spfooter__menu--link--text">ログイン</span>
                </a>
                {% endif %}
            </div>
        </nav>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script>
            'use strict';

            // スマホ用メニューバー
            document.querySelector('.spnav__header--btn').addEventListener('click', () => {
                document.querySelector('.spnav__bg').classList.toggle('bg-change');
                document.querySelector('.spnav__header--btn--bar1').classList.toggle('bar1-change');
                document.querySelector('.spnav__header--btn--bar2').classList.toggle('bar2-change');
                document.querySelector('.spnav__header--btn--bar3').classList.toggle('bar3-change');
                document.querySelector('.spnav__menu').classList.toggle('menu-change');
            });
            document.querySelector('.spnav__bg').addEventListener('click', () => {
                document.querySelector('.spnav__bg').classList.toggle('bg-change');
                document.querySelector('.spnav__header--btn--bar1').classList.toggle('bar1-change');
                document.querySelector('.spnav__header--btn--bar2').classList.toggle('bar2-change');
                document.querySelector('.spnav__header--btn--bar3').classList.toggle('bar3-change');
                document.querySelector('.spnav__menu').classList.toggle('menu-change');
            });

            // スクロール量が300に達したらボタン表示。300未満は非表示
            window.addEventListener('scroll', () => {
                const pageTopBtn = document.querySelector('.back-to-top');
                let scroll = document.documentElement.scrollTop || document.body.scrollTop;
                if (scroll > 300) {
                    pageTopBtn.style.opacity = '1';
                } else {
                    pageTopBtn.style.opacity = null;
                }
            });

            // スムーススクロールのフォーマット
            const scrollFunc = Point => {
                const point = document.querySelector(Point);　// スクロール先の対象を取得
                let elemY = point.getBoundingClientRect().top;　// 画面の上端から要素の上端までの距離を取得
                let scrollY = window.pageYOffset; // 現在のスクロール量を取得
                let top = elemY + scrollY + (-140); // 対象までのスクロール量を算出
                
                window.scroll({
                    top: top, // スクロール量の設定
                    behavior: 'smooth' // スクロール動作の設定
                });
            }
            // ページトップへスムーススクロール
            document.querySelector('.back-to-top').addEventListener('click', e => {
                e.preventDefault();
                scrollFunc('html, body');
            });

            // フェードイン
            const animation = target => {
                const point = document.querySelectorAll(target);　// 対象
                let scroll = window.pageYOffset; // スクロール量
                let windowHeight = window.innerHeight; // ウィンドウの高さ
                for (let i = 0; i < point.length; i++) {
                    let elemY = point[i].getBoundingClientRect().top;　// 対象の位置
                    var delay = .15 * i;
                    if (scroll > scroll + elemY - windowHeight + 100) {
                        point[i].style.opacity = '1';
                        point[i].style.transform = 'translateY(0)';
                        if (scroll == 0) {
                            point[i].style.transitionDelay = delay + 's';
                        }
                    }
                }
            }
        </script>
        {% block extrajs %}
        {% endblock %}
    </body>
</html>