{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block title %}
        {% endblock %}
    </head>

    <body>
        <!-- スマホ用ヘッダー -->
        <header class="spnav d-sm-none">
            <div class="spnav__header d-flex justify-content-between align-items-center p-2">
                <a class="spnav__header--link d-block" href="/">
                    <img class="spnav__header--link--logo" src="{% static 'img/spoon_logo.svg' %}">
                </a>
                <div class="spnav__header--btn d-flex flex-column align-items-center">
                    <span class="spnav__header--btn--bar1"></span>
                    <span class="spnav__header--btn--bar2"></span>
                    <span class="spnav__header--btn--bar3"></span>
                    <span class="spnav__header--btn--menu">MENU</span>
                </div>
            </div>
            <div class="spnav__bg"></div>
            <div class="spnav__menu d-flex flex-column">
                <a class="spnav__menu--link row m-0 py-3 justify-content-center" href="/">
                    <span class="spnav__menu--link--e col-5 p-0">HOME</span>
                    <span class="spnav__menu--link--j col-5 p-0">-トップページ-</span>
                </a>
                <a class="spnav__menu--link row m-0 py-3 justify-content-center" href="{% url 'about' %}">
                    <span class="spnav__menu--link--e col-5 p-0">ABOUT</span>
                    <span class="spnav__menu--link--j col-5 p-0">-当店について-</span>
                </a>
                <a class="spnav__menu--link row m-0 py-3 justify-content-center" href="{% url 'order_guide' %}">
                    <span class="spnav__menu--link--e col-5 p-0">GUIDE</span>
                    <span class="spnav__menu--link--j col-5 p-0">-ご利用方法-</span>
                </a>
                <a class="spnav__menu--link row m-0 py-3 justify-content-center" href="{% url 'order' %}">
                    <span class="spnav__menu--link--e col-5 p-0">ORDER</span>
                    <span class="spnav__menu--link--j col-5 p-0">-ご予約注文-</span>
                </a>
                <a class="spnav__menu--link row m-0 py-3 justify-content-center" href="{% url 'access' %}">
                    <span class="spnav__menu--link--e col-5 p-0">ACCESS</span>
                    <span class="spnav__menu--link--j col-5 p-0">-アクセス-</span>
                </a>
                <a class="spnav__menu--link row m-0 py-3 justify-content-center" href="{% url 'contact' %}">
                    <span class="spnav__menu--link--e col-5 p-0">CONTACT</span>
                    <span class="spnav__menu--link--j col-5 p-0">-お問い合わせ-</span>
                </a>
            </div>
        </header>

        <!-- タブレット・PC用ヘッダー -->
        <header class="header px-3 p-xl-0 m-3 mx-auto d-none d-sm-flex justify-content-between">
            <a href="/">
                <img class="header__logo" src="{% static 'img/spoon_logo.svg' %}">
            </a>
            <div class="d-flex align-items-center">
                <a class="spfooter__menu d-block text-center mr-4" href="/">
                    <img class="spfooter__menu--icon" src="{% static 'img/home.svg' %}" alt="ホーム"><br>
                    <span class="spfooter__menu--text">ホーム</span>
                </a>
                {% if user.is_authenticated %}
                    <a class="spfooter__menu d-block text-center mr-4" href="{% url 'profile' %}">
                        <img class="spfooter__menu--icon" src="{% static 'img/mypage.svg' %}" alt="マイページ"><br>
                        <span class="spfooter__menu--text">マイページ</span>
                    </a>
                    <a class="spfooter__menu d-block text-center mr-4" href="{% url 'order' %}">
                        <img class="spfooter__menu--icon" src="{% static 'img/cart.svg' %}" alt="カート"><br>
                        <span class="spfooter__menu--text">カート</span>
                        <span class="spfooter__menu--badge badge">{{ count }}</span>
                    </a>
                    <a class="spfooter__menu d-block text-center" href="{% url 'account_logout' %}">
                        <img class="spfooter__menu--icon" src="{% static 'img/logout.svg' %}" alt="ログアウト"><br>
                        <span class="spfooter__menu--text">ログアウト</span>
                    </a>
                {% else %}
                    <a class="spfooter__menu d-block text-center mr-4" href="{% url 'account_signup' %}">
                        <img class="spfooter__menu--icon" src="{% static 'img/signup.svg' %}" alt="会員登録"><br>
                        <span class="spfooter__menu--text">会員登録</span>
                    </a>
                    <a class="spfooter__menu d-block text-center" href="{% url 'account_login' %}">
                        <img class="spfooter__menu--icon" src="{% static 'img/login.svg' %}" alt="ログイン"><br>
                        <span class="spfooter__menu--text">ログイン</span>
                    </a>
                {% endif %}
            </div>
        </header>

        <!-- Image Slider -->
        {% block slider %}
        {% endblock %}

        <!-- Navigation-->
        <nav class="nav navbar navbar-expand py-3 px-2 d-none d-sm-block">
        <div class="nav__wrap container-fluid mx-auto p-0 d-none d-sm-block">
            <ul class="navbar-nav justify-content-between">
                <li>
                    <a class="nav-link" href="/">
                        HOME<br class="d-none d-sm-block">
                        <span>-トップページ-</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a class="nav-link" href="{% url 'about' %}">
                        ABOUT<br class="d-none d-sm-block">
                        <span>-当店について-</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a class="nav-link" href="{% url 'order_guide' %}">
                        GUIDE<br class="d-none d-sm-block">
                        <span>-ご利用方法-</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a class="nav-link" href="{% url 'order' %}">
                        ORDER<br class="d-none d-sm-block">
                        <span>-ご予約注文-</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a class="nav-link" href="{% url 'access' %}">
                        ACCESS<br class="d-none d-sm-block">
                        <span>-アクセス-</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a class="nav-link" href="{% url 'contact' %}">
                        CONTACT<br class="d-none d-sm-block">
                        <span>-お問い合わせ-</span>
                    </a>
                </li>
            </ul>
        </div>
        </nav>
        
        <main>
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer class="footer">
            <ul class="footer__link">
                <li class="footer__link--item">
                    <a href="/">特定商取引法に基づく表記</a>
                </li>
                <li class="footer__link--item">
                    <a href="/">プライバシーポリシー</a>
                </li>
                <li class="footer__link--item">
                    <a href="/">会社概要</a>
                </li>
            </ul>
            <div class="footer__copy">
                <small>&copy; Praline 2020</small>
            </div>
        </footer>

        <!-- スマホ用フッター -->
        <nav class="spfooter d-flex align-items-center d-sm-none">
            <a class="spfooter__menu d-flex flex-column" href="/">
                <img class="spfooter__menu--icon" src="{% static 'img/home.svg' %}" alt="ホーム">
                <span class="spfooter__menu--text">ホーム</span>
            </a>
            {% if user.is_authenticated %}
                <a class="spfooter__menu d-flex flex-column" href="{% url 'profile' %}">
                    <img class="spfooter__menu--icon" src="{% static 'img/mypage.svg' %}" alt="マイページ">
                    <span class="spfooter__menu--text">マイページ</span>
                </a>
                <a class="spfooter__menu d-flex flex-column" href="{% url 'order' %}">
                    <img class="spfooter__menu--icon" src="{% static 'img/cart.svg' %}" alt="カート">
                    <span class="spfooter__menu--text">カート
                        <span class="spfooter__menu--badge badge">{{ count }}</span>
                    </span>
                </a>
                <a class="spfooter__menu d-flex flex-column" href="{% url 'account_logout' %}">
                    <img class="spfooter__menu--icon" src="{% static 'img/logout.svg' %}" alt="ログアウト">
                    <span class="spfooter__menu--text">ログアウト</span>
                </a>
            {% else %}
                <a class="spfooter__menu d-flex flex-column" href="{% url 'account_signup' %}">
                    <img class="spfooter__menu--icon" src="{% static 'img/signup.svg' %}" alt="会員登録">
                    <span class="spfooter__menu--text">会員登録</span>
                </a>
                <a class="spfooter__menu d-flex flex-column" href="{% url 'account_login' %}">
                    <img class="spfooter__menu--icon" src="{% static 'img/login.svg' %}" alt="ログイン">
                    <span class="spfooter__menu--text">ログイン</span>
                </a>
            {% endif %}
        </nav>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        {% block extrajs %}
            <script>
                'use strict';

                // スマホ用メニューバー
                document.querySelector('.spnav__header--btn').addEventListener('click', () => {
                    document.querySelector('.spnav__bg').classList.toggle('bg-change');
                    document.querySelector('.spnav__header--btn--bar1').classList.toggle('bar1-change');
                    document.querySelector('.spnav__header--btn--bar2').classList.toggle('bar2-change');
                    document.querySelector('.spnav__header--btn--bar3').classList.toggle('bar3-change');
                    document.querySelector('.spnav__menu').classList.toggle('menu-change');
                });
            </script>
        {% endblock %}
    </body>
</html>