{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block title %}
<title>お問い合わせ | spoon</title>
{% endblock %}

{% block content %}
<div class="title">
    <span>CONTACT</span>
</div>

<form method="POST">
    {% csrf_token %}
    <table class="mx-auto">
        <tr>
            <td class="text-left pb-4">
                <label for="id_name">お名前</label>
            </td>
            <td class="pb-4">
                {% render_field form.name class="form-control" placeholder="お名前" %}
            </td>
        </tr>
        <tr>
            <td class="text-left pb-4">
                <label for="id_email">メールアドレス</label>
            </td>
            <td class="pb-4">
                {% render_field form.email class="form-control" placeholder="メールアドレス" %}
            </td>
        </tr>
        <tr>
            <td class="text-left pb-4">
                <label for="id_message">メッセージ</label>
            </td>
            <td class="pb-4">
                {% render_field form.message class="form-control" placeholder="メッセージ" %}
            </td>
        </tr>
    </table>
    <div class="text-center mb-3">
        <button class="btn btn-warning" type="submit">
            <i class="fas fa-paper-plane"></i> 送信
        </button>
    </div>
</form>
{% endblock %}