{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block title %}
<title>お問い合わせ | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span>お問い合わせ</span>
</h1>

<div class="contact mx-auto text-center">
    <p class="d-inline-block text-left mb-4">ご質問やご要望がありましたら、どうぞお気軽にお問い合わせください。</p>
    <form method="POST" class="contact__form text-center">
        {% csrf_token %}
        <table class="contact__form--table d-table mx-auto card p-4 p-md-3">
            <tbody class="contact__form--table--body mx-auto">
                <tr class="d-block d-md-table-row">
                    <th class="d-block d-md-table-cell text-left text-md-right align-top">
                        <label for="id_name" class="m-0">お名前
                            <span class="signup__required">【必須】</span>
                        </label>
                    </th>
                    <td class="d-block d-md-table-cell mb-4">
                        {% render_field form.name class="form-control" placeholder="お名前" %}
                    </td>
                </tr>
                <tr class="d-block d-md-table-row">
                    <th class="d-block d-md-table-cell text-left text-md-right align-top">
                        <label for="id_email" class="m-0">メールアドレス
                            <span class="signup__required">【必須】</span>
                        </label>
                    </th>
                    <td class="d-block d-md-table-cell text-left mb-4">
                        {% render_field form.email class="form-control" placeholder="メールアドレス" %}
                        {% for field in form %}
                            <p class="error-msg email_error d-none m-0">
                                {% for error in field.errors %}
                                    ※{{ error }}<br>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p class="error-msg email_error d-none m-0">
                                ※{{ error }}
                            </p>
                        {% endfor %}
                    </td>
                </tr>
                <tr class="d-block d-md-table-row">
                    <th class="d-block d-md-table-cell text-left text-md-right align-top">
                        <label for="id_message" class="m-0">メッセージ
                            <span class="signup__required">【必須】</span>
                        </label>
                    </th>
                    <td class="d-block d-md-table-cell">
                        {% render_field form.message class="form-control" placeholder="メッセージ" %}
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="contact__form--btn btn rounded-pill" ontouchstart="">
            <i class="fas fa-paper-plane fa-fw" aria-hidden="true"></i>送信
        </button>
    </form>
</div>
{% endblock %}

{% block extrajs %}
<script>
    'use strict';

    // エラーメッセージ（メールアドレス）
    const email_error = document.querySelectorAll('.email_error');
    const email = document.getElementById('id_email');
    for ( let i = 0; i < email_error.length; i++ ) {
        if ( email_error[i].textContent.match(/メール/) ) {
            email_error[i].className = 'error-msg m-0 d-block';
            email.className = 'form-control form-error';
        }
        email.addEventListener('click', () => {
            email_error[i].className = 'error-msg email_error d-none m-0'
            email.className = 'form-control'
        })
    }
</script>
{% endblock %}