{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block title %}
<title>お問い合わせ | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span>お問い合わせ</span>
</h1>

<div class="contact mx-auto text-center">
    <p class="d-inline-block text-left mb-4">ご質問やご要望がありましたら、どうぞお気軽にお問い合わせください。</p>
    <form method="POST" class="contact__form text-center">
        {% csrf_token %}
        <table class="contact__form--table d-table mx-auto card p-4 p-md-3">
            <tbody class="contact__form--table--body mx-auto">
                <tr class="d-block d-md-table-row">
                    <th class="d-block d-md-table-cell text-left text-md-right align-top">
                        <label for="id_name" class="m-0">お名前
                            <span class="signup__required">【必須】</span>
                        </label>
                    </th>
                    <td class="d-block d-md-table-cell mb-4">
                        {% render_field form.name class="form-control" placeholder="お名前" %}
                    </td>
                </tr>
                <tr class="d-block d-md-table-row">
                    <th class="d-block d-md-table-cell text-left text-md-right align-top">
                        <label for="id_email" class="m-0">メールアドレス
                            <span class="signup__required">【必須】</span>
                        </label>
                    </th>
                    <td id="email-form" class="d-block d-md-table-cell text-left mb-4">
                        {% render_field form.email class="form-control" placeholder="メールアドレス" %}
                        {% for field in form %}
                            <p class="error-msg email_error d-none m-0">
                                {% for error in field.errors %}
                                    ※{{ error }}<br>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p class="error-msg email_error d-none m-0">
                                ※{{ error }}
                            </p>
                        {% endfor %}
                    </td>
                </tr>
                <tr class="d-block d-md-table-row">
                    <th class="d-block d-md-table-cell text-left text-md-right align-top">
                        <label for="id_message" class="m-0">メッセージ
                            <span class="signup__required">【必須】</span>
                        </label>
                    </th>
                    <td class="d-block d-md-table-cell">
                        {% render_field form.message class="form-control" placeholder="メッセージ" %}
                    </td>
                </tr>
                {{ form.captcha }}
            </tbody>
        </table>
        <button type="submit" class="contact__form--btn btn rounded-pill" ontouchstart="">
            <i class="fas fa-paper-plane fa-fw" aria-hidden="true"></i>送信
        </button>
        <div class="contact__form--recaptcha">
            <small>このサイトはreCAPTCHAによって保護されています。Googleの<a href="https://policies.google.com/privacy" target="_blank" rel="noopener">プライバシーポリシー</a>と<a href="https://policies.google.com/terms" target="_blank" rel="noopener">利用規約</a>が適用されます。</small>
        </div>
    </form>
</div>
{% endblock %}

{% block extrajs %}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    'use strict';
    // エラーメッセージ（メールアドレス）
    const email_error = document.querySelectorAll('.email_error');
    const email = document.getElementById('id_email');
    for ( let i = 0; i < email_error.length; i++ ) {
        if ( email_error[i].textContent.match(/メール/) ) {
            email_error[i].className = 'error-msg m-0 d-block';
            email.className = 'form-control form-error';
        }
        email.addEventListener('click', () => {
            email_error[i].className = 'error-msg email_error d-none m-0'
            email.className = 'form-control'
        })
    }

    // リアルタイムバリデーション
    email.oninput = () => {
        const emailForm = document.getElementById('email-form');
        let settingInfo = (link, carrier)  => {
            const element  = Object.assign(
                document.createElement('p'), {
                    className: 'contact__form--table--body--email-warning text-left mt-1 mb-0',
                    innerHTML: `<i class="contact__form--table--body--email-warning--icon fas fa-exclamation-triangle fa-fw mr-1" aria-hidden="true"></i>\
                        お問い合わせ内容の確認メールが「spoon.gelato.takasaki@gmail.com」から届きます。\
                        <b>受信許可設定（迷惑メール設定）</b>はお済みですか？\
                        <a class="contact__form--table--body--email-warning--detail" href=${link} target="_blank" rel="noopener">${carrier}</a>`
                }
            );
            emailForm.insertBefore(element, email.nextSibling);
        }
        if ( email.value.match(/ezweb.ne.jp/) && emailForm.children.length == 4 ) {
            settingInfo('https://www.au.com/support/service/mobile/trouble/mail/email/filter/detail/domain/', 'au受信リスト設定');
        } else if ( email.value.match(/softbank.jp/) && emailForm.children.length == 4 ) {
            settingInfo('https://www.softbank.jp/mobile/support/mail/antispam/email-i/white/', 'SoftBank受信リスト設定');
        } else if ( email.value.match(/docomo.ne.jp/) && emailForm.children.length == 4 ) {
            settingInfo('https://www.nttdocomo.co.jp/info/spam_mail/domain/', 'docomo受信リスト設定');
        } else if ( (email.value.match(/ezweb.ne.jp/) || email.value.match(/softbank.jp/) || email.value.match(/docomo.ne.jp/)) && emailForm.children.length == 5 ) {
            ;
        } else if ( (!email.value.match(/ezweb.ne.jp/) || !email.value.match(/softbank.jp/) || !email.value.match(/docomo.ne.jp/)) && emailForm.children.length == 5 ) {
            document.querySelector('.contact__form--table--body--email-warning').remove()
        }
    }
</script>
{% endblock %}