{% extends "app/base.html" %}
{% load static %}

{% block title %}
<title>お問い合わせ完了 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span>お問い合わせ</span>
</h1>

<div class="text-center mb-4">
    <img class="done-check" src="{% static 'img/check.svg' %}">
</div>
<div class="mx-auto text-center">
    <p class="done-text text-center mb-5">お問い合わせを受け付けました。</p>
    <p class="d-inline-block text-left mb-4">
        お問い合わせ内容につきましては、通常3営業日程度を目処にご回答させていただきます。<br>
        恐れ入りますが、しばらくお待ちくださいませ。<br><br>
        なお、ご入力いただいたメールアドレス宛に受付確認メールをお送りしております。<br>
        確認メールが届かない場合、メールアドレスが誤っているか、<br>
        確認メールが迷惑メールフォルダ等に振り分けられている可能性がありますので、<br class="d-none d-md-block">
        再度ご確認をお願いいたします。<br><br>
        今後ともご愛顧賜りますよう、よろしくお願い申し上げます。
    </p>
</div>

<div class="text-center">
    <a class="contact__form--btn btn rounded-pill" href="/" ontouchstart="" onfocus="this.blur();">トップページに戻る</a>
</div>
{% endblock %}