{% extends "app/base.html" %}

{% block slider %}
<div id= "slides" class="top carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>
  <div class="top__item carousel-inner">
    <div class="top__item--image1 carousel-item active"></div>
    <div class="top__item--image2 carousel-item"></div>
    <div class="top__item--image3 carousel-item"></div>
  </div>
</div>
{% endblock %}

{% block nav %}
<nav class="nav navbar navbar-expand">
  <div class="nav__wrap container-fluid">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="/">
          PRODUCTS<br class="d-none d-sm-block">
          <span>-商品のご案内-</span>
        </a>
      </li>
      <hr>
      <li>
        <a class="nav-link" href="/">
          ABOUT<br class="d-none d-sm-block">
          <span>-当店について-</span>
        </a>
      </li>
      <hr>
      <li>
        <a class="nav-link" href="{% url 'order' %}">
          ORDER<br class="d-none d-sm-block">
          <span>-ご予約注文-</span>
        </a>
      </li>
      <hr>
      <li>
        <a class="nav-link" href="/">
          GUIDE<br class="d-none d-sm-block">
          <span>-ご利用方法-</span>
        </a>
      </li>
      <hr>
      <li>
        <a class="nav-link" href="/">
          ACCESS<br class="d-none d-sm-block">
          <span>-店舗のご案内-</span>
        </a>
      </li>
      <hr>
      <li>
        <a class="nav-link" href="/">
          CONTACT<br class="d-none d-sm-block">
          <span>-お問い合わせ-</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="title">
  <span>ALL CATEGORY</span>
</div>
<p class="title-text">各種フルーツやミルク、チョコ、ナッツなど、素材の味を生かして手作りされた16種類以上のジェラートをご用意しています。</p>
<div class="product">
  {% for item in object_list %}
  <div class="product__item">
    <div class="product__item--image">
      <a href="{% url 'product_detail' item.slug %}">
        <img src="{{ item.image.url }}">
        <p class="product__item--image--mask"></p>
        <p class="product__item--image--caption">READ MORE</p>
      </a>
    </div>
    <!-- <p>{{ item.category }}</p> -->
    <h4>{{ item.title }}</h4>
    <h3>{{ item.price }}<span>円(税別)</span></h3>
  </div>
  {% endfor %}
</div>
{% endblock %}