{% extends "app/base.html" %}

{% block title %}
<title>spoon | ジェラート＆焼菓子</title>
{% endblock %}

{% block slider %}
<div id= "slides" class="top carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="top__item--image1 carousel-item active"></div>
        <div class="top__item--image2 carousel-item"></div>
        <div class="top__item--image3 carousel-item"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-9 p-0">
        <div class="title">
            <span>WHAT'S NEW</span>
        </div>
        
        {% for news in news_data %}
            <p class="top__news mb-3">
                <span class="top__news--date">{{ news.date | date:"Y/m/d" }}</span>
                <span class="ml-3">{{ news.comment }}</span>
            </p>
        {% endfor %}

        <div class="title mt-5">
            <span>PICK UP</span>
        </div>

        {% for pick in pick_data %}
            <div class="d-flex mb-5">
                <img class="top__pick" src="{{ pick.image.url }}">
                <div class="ml-4">
                    <p>
                        <span class="top__pick--ename">{{ pick.e_name }}</span>
                        <span class="ml-2">{{ pick.j_name }}</span>
                    </p>
                    <p class="mb-5">{{ pick.comment | linebreaksbr }}</p>
                    <span class="mr-1">M:ミニ</span>
                    <span class="top__pick--price mr-4">\{{ pick.m_price }}</span>
                    <span class="mr-1">S:シングル</span>
                    <span class="top__pick--price mr-4">\{{ pick.s_price }}</span>
                    <span class="mr-1">W:ダブル</span>
                    <span class="top__pick--price">\{{ pick.w_price }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'app/sidebar.html' %}
</div>
{% endblock %}