{% extends "app/base.html" %}
{% load static %}

{% block title %}
<title>spoon | ジェラート＆焼き菓子</title>
{% endblock %}

{% block slider %}
<div id= "slides" class="top carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="top__item carousel-inner">
        <div class="top__item--image1 carousel-item active"></div>
        <div class="top__item--image2 carousel-item"></div>
        <div class="top__item--image3 carousel-item"></div>
    </div>
</div>
{% endblock %}

{% include 'app/nav.html' %}

{% block content %}
<div class="row">
    <div class="col-9 pl-0">
        <div class="title">
            <span>WHAT'S NEW</span>
        </div>
    </div>
    {% include 'app/sidebar.html' %}
</div>
{% endblock %}