<nav class="nav navbar navbar-expand">
    <div class="nav__wrap container-fluid">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="/">
                    MENU<br class="d-none d-sm-block">
                    <span>-商品のご案内-</span>
                </a>
            </li>
            <hr>
            <li>
                <a class="nav-link" href="/">
                    ABOUT<br class="d-none d-sm-block">
                    <span>-お店について-</span>
                </a>
            </li>
            <hr>
            <li>
                <a class="nav-link" href="{% url 'order' %}">
                    ORDER<br class="d-none d-sm-block">
                    <span>-ご予約注文-</span>
                </a>
            </li>
            <hr>
            <li>
                <a class="nav-link" href="{% url 'access' %}">
                    ACCESS<br class="d-none d-sm-block">
                    <span>-お店のご案内-</span>
                </a>
            </li>
            <hr>
            <li>
                <a class="nav-link" href="/">
                    CONTACT<br class="d-none d-sm-block">
                    <span>-お問い合わせ-</span>
                </a>
            </li>
        </ul>
    </div>
</nav>