{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>注文画面 | spoon</title>
{% endblock %}

{% block content %}
<div class="order-title">
    <span>ORDER</span>
</div>

<div class="text-center">
    <p class="order-text">ご注文様の情報とお受け取り日時をご入力ください。</p>
    <form method="POST" action="{% url 'order_confirm' %}">
        {% csrf_token %}
        <table class="mx-auto">
            <tr>
                <td class="text-left pb-4">
                    <label for="id_name">お名前</label>
                </td>
                <td class="pb-4">
                    {% render_field profile_form.name class="form-control" %}
                </td>
            </tr>
            <tr>
                <td class="text-left pb-4">
                    <label for="id_name">フリガナ</label>
                </td>
                <td class="pb-4">
                    {% render_field profile_form.furigana class="form-control" %}
                </td>
            </tr>
            <tr>
                <td class="text-left pr-3 pb-4">
                    <label for="id_email">メールアドレス</label>
                </td>
                <td class="pb-4">
                    {% render_field profile_form.email class="form-control" %}
                </td>
            </tr>
            <tr>
                <td class="text-left pb-4">
                    <label for="id_tel">電話番号</label>
                </td>
                <td class="pb-4">
                    {% render_field profile_form.tel class="form-control" %}
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <label for="">受取日時</label>
                </td>
                <td class="d-flex">
                    {% if today_order %}
                        <span>{% render_field receipt_form.date class="form-control" %}</span>
                        <span id="specified_time">{% render_field receipt_form.time class="form-control" %}</span>
                        <span id="full_time"" class="d-none">{% render_field receipt_form.fulltime class="form-control" %}</span>
                    {% else %}
                        <span>{% render_field receipt_form.no_today class="form-control" %}</span>
                        <span>{% render_field receipt_form.fulltime class="form-control" %}</span>
                    {% endif %}
                </td>
            </tr>
        </table>
        <p>※当日のご注文受付は16:29までとさせていただきます。また店舗の状況によりお受けいたしかねる場合がございます。<br>※16:30以降にご注文の場合は翌日11:30以降のお受け取りとなります。</p>
        <div class="mt-5">
            <a class="btn btn-primary" href="{% url 'order' %}">戻る</a>
            <button class="btn btn-danger" type="submit">注文確認画面へ</button>
        </div>
    </form>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}


{% block extrajs %}
<script>
    'use strict';

    // 本日選択時のみ指定時間に変更
    let date = document.getElementById('id_date');
    let specified_time = document.getElementById('specified_time');
    let full_time = document.getElementById('full_time');
    date.setAttribute('onchange', 'timeChange();');

    const timeChange = () => {
        if ( date.value.match(/本日/)) {
            specified_time.className = 'd-block';
            full_time.className = 'd-none';
        } else {
            specified_time.className = 'd-none';
            full_time.className = 'd-block';
        }
    } 
</script>
{% endblock %}