{% extends "app/base.html" %}

{% block content %}
<div class="order-title">
  <span>PLEASE CHECK YOUR ORDER</span>
</div>
<p>内容をご確認ください</p>
<table>
  <tr>
    <td>サイズ</td>
    <td>{{ size }}</td>
  </tr>
  <tr>
    <td>フレーバー</td>
    <td>{{ flavor }}</td>
  </tr>
  <tr>
    <td>オプション</td>
    <td>{{ option }}</td>
  </tr>
  <tr>
    <td>お名前</td>
    <td>{{ name }}</td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td>{{ email }}</td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td>{{ phone }}</td>
  </tr>
</table>
<!-- <form method="POST" action="{% url 'order_send' '1' '2' '0' ">
  {% csrf_token %}
  {% for field in form %}
      {{field.as_hidden}}
  {% endfor %} -->
  <div class="button mx-auto">
    <input type="button" value="戻る" onClick="javascript:history.go(-1);">
    <a href="{% url 'order_send' size flavor option name email phone %}" class="btn btn-lg btn-warning btn-block">注文</a>
  </div>
<!-- </form> -->
{% endblock %}