{% extends "app/base.html" %}
{% load humanize %}
{% load static %}

{% block title %}
<title>お持ち帰り予約 - 注文確認 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span>お持ち帰り予約</span>
</h1>

<div class="row justify-content-center">
    <div class="col-lg-7">
        <table class="order-ck__table mx-auto">
            <tbody>
                <tr class="d-block d-sm-table-row">
                    <th class="d-block d-sm-table-cell text-center text-sm-left py-1 py-sm-3 px-4">お名前</th>
                    <td id="name" class="d-block d-sm-table-cell text-center text-sm-left py-3 px-4">{{ name }}</td>
                </tr>
                <tr class="d-block d-sm-table-row">
                    <th class="d-block d-sm-table-cell text-center text-sm-left py-1 py-sm-3 px-4">フリガナ</th>
                    <td id="furigana" class="d-block d-sm-table-cell text-center text-sm-left py-3 px-4">{{ furigana }}</td>
                </tr>
                <tr class="d-block d-sm-table-row">
                    <th class="d-block d-sm-table-cell text-center text-sm-left py-1 py-sm-3 px-4">メールアドレス</th>
                    <td id="email" class="order-ck__table--email d-block d-sm-table-cell text-center text-sm-left py-3 px-4 overflow-auto">{{ email }}</td>
                </tr>
                <tr class="d-block d-sm-table-row">
                    <th class="d-block d-sm-table-cell text-center text-sm-left py-1 py-sm-3 px-4">電話番号</th>
                    <td id="tel" class="d-block d-sm-table-cell text-center text-sm-left py-3 px-4">{{ tel }}</td>
                </tr>
                <tr class="d-block d-sm-table-row">
                    <th class="d-block d-sm-table-cell text-center text-sm-left py-1 py-sm-3 px-4">受取日時</th>
                    <td id="receipt" class="d-block d-sm-table-cell text-center text-sm-left py-3 px-4">{{ date }}　{{ time }}</td>
                </tr>
            </tbody>
        </table>
        <div class="order-ck__table--help mx-auto mt-1">
            <p class="order-ck__table--help--text help-text d-sm-block m-0">
                ※お支払いは店舗にて現金のみでお願いします。
                ※店舗の状況により商品のお渡しにお時間をいただく場合がございます。
            </p>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="order-ck__cart card mt-5 mt-lg-0 mx-auto ml-lg-4">
            <p class="order__cart--content text-center p-1 mb-3">ご注文内容</p>
            {% for cart in cart_data %}
                {% if forloop.last %}
                    <div class="m-0">
                {% else %}
                    <div class="mb-3">
                {% endif %}
                    <div class="d-flex justify-content-between mx-2">
                        <strong>{{ cart.size_title }}</strong>
                        <div>
                            <strong class="order__select--cart--price m-0">&yen;{{ cart.size_price }}</strong>
                        </div>
                    </div>
                    <div class="order__select--cart d-flex justify-content-between mx-2">
                        <span>{{ cart.flavor_title }}</span>
                        <span class="order__select--cart--price m-0">&yen;{{ cart.flavor_price }}</span>
                    </div>
                    <div class="order__select--cart d-flex justify-content-between mx-2">
                        <span>{{ cart.flavor2_title }}</span>
                        {% if cart.flavor2_title != "" %}
                            <span class="order__select--cart--price m-0">&yen;{{ cart.flavor2_price }}</span>
                        {% endif %}
                    </div>
                    <div class="order__select--cart d-flex justify-content-between mx-2">
                        <span>{{ cart.option_title }}</span>
                        {% if cart.option_title != "" %}
                            <span class="order__select--cart--price m-0">&yen;{{ cart.option_price }}</span>
                        {% endif %}
                    </div>
                    <div class="order__select--cart d-flex justify-content-between mx-2">
                        <span>{{ cart.option2_title }}</span>
                        {% if cart.option2_title != "" %}
                            <span class="order__select--cart--price m-0">&yen;{{ cart.option2_price }}</span>
                        {% endif %}
                    </div>
                    <div class="order__select--cart d-flex justify-content-between mx-2">
                        <span>{{ cart.option3_title }}</span>
                        {% if cart.option3_title != "" %}
                            <span class="order__select--cart--price m-0">&yen;{{ cart.option3_price }}</span>
                        {% endif %}
                    </div>
                    <div class="order__select--cart d-flex justify-content-between mx-2">
                        <span>{{ cart.option4_title }}</span>
                        {% if cart.option4_title != "" %}
                            <span class="order__select--cart--price m-0">&yen;{{ cart.option4_price }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <hr class="order__cart--border mx-2">
            <div class="order-ck__cart--coupon d-none">
                <span>クーポンご利用</span>
                <span class="order-ck__cart--coupon--price"></span>
            </div>
            <div class="order__cart--total d-flex justify-content-between mx-2 mb-3">
                <strong>合計</strong>
                <span class="order__select--price">&yen;{{ get_total_price|intcomma }}</span>
            </div>
            <!-- クーポン -->
            <div class="order-ck__coupon mt-3 d-none">
                <div class="order-ck__coupon--content mx-auto">
                    <div class="order-ck__coupon--content--left">
                        <span class="order-ck__coupon--content--left--ribbon">SPECIAL</span>
                    </div>
                    <div class="order-ck__coupon--content--main d-flex justify-content-center align-items-center p-2">
                        <img class="order-ck__coupon--content--main--img" src="{% static 'img/gelato_illust.svg' %}" alt="シングルサイズジェラート">
                        <div class="ml-2">
                            <label for="coupon" class="order-ck__coupon--content--main--label m-0">
                                <span class="order-ck__coupon--content--main--label--header d-block mb-2">お誕生月特典</span>
                                <span class="order-ck__coupon--content--main--label--sub">シングルサイズ1個</span><br>
                                <span class="order-ck__coupon--content--main--label--title d-inline-block mt-1">無料クーポン</span>
                            </label><br>
                            <input type="checkbox" id="coupon" name="coupon" class="order-ck__coupon--content--main--ckbox">
                            <label for="coupon" class="order-ck__coupon--content--main--ckbox">利用する</label>
                        </div>
                    </div>
                    <div class="order-ck__coupon--content--right">
                        <span class="order-ck__coupon--content--right--ribbon">COUPON</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto text-center ml-lg-4">
            <p id="coupon_error" class="order-ck_coupon--error d-none"></p>
        </div>
        <div class="order-ck__cart--help mx-auto mt-1 ml-lg-4 d-none">
            <p class="order-ck__cart--help--text help-text d-sm-block m-0">
                ※金額がプラスになるフレーバー、オプションは別途料金がかかります。
                クーポンはお誕生月に1回限り利用可能です。
                イラストはイメージです。
            </p>
        </div>
    </div>
</div>
<div class="position-relative text-center">
    <a class="back-btn btn d-none d-sm-block rounded-pill" href="{% url 'order_user' %}" ontouchstart="">戻る</a>
    <a id="order_done" class="order-ck__btn btn rounded-pill" href="{% url 'order_thanks' %}" ontouchstart="">注文を確定</a>
</div>
{% endblock %}


{% block extrajs %}
<script>
    'use strict';

    // クーポン発行
    if ( '{{ coupon }}' == 'get' ) {
        const helpCoupon = document.querySelector('.order-ck__cart--help');
        const issueCoupon = document.querySelector('.order-ck__coupon');
        issueCoupon.classList.remove('d-none');
        helpCoupon.classList.remove('d-none');
    }

    // クーポン利用
    const cartCoupon = document.querySelector('.order-ck__cart--coupon');
    const useCoupon = document.querySelector('.order-ck__coupon--content--main--ckbox');
    const selectCouponPrice = document.querySelector('.order-ck__cart--coupon--price');
    const totalPrice = document.querySelector('.order__select--price');
    const couponError = document.getElementById('coupon_error');
    useCoupon.addEventListener('click', () => {
        if ( useCoupon.checked ) {
            // クーポンの利用可否を確認
            if ( '{{ use_coupon }}' == 'valid' ) {
                cartCoupon.classList.toggle('d-none');
                selectCouponPrice.textContent = '-\xA5' + 330
                let totalPriceNum = totalPrice.textContent.slice(1).replace( /,/g, '');
                let total = Number(totalPriceNum) - 330;
                totalPrice.textContent = '\xA5' + total.toLocaleString();
            } else {
                useCoupon.checked = false;
                // エラーメッセージを表示
                couponError.className = 'order-ck__coupon--error';
                couponError.textContent = '※シングルサイズをご注文ください。';
            }
        } else {
            if ( '{{ use_coupon }}' == 'valid' ) {
                cartCoupon.classList.toggle('d-none');
                let totalPriceNum = totalPrice.textContent.slice(1).replace( /,/g, '');
                let total = Number(totalPriceNum) + 330;
                totalPrice.textContent = '\xA5' + total.toLocaleString();
            }
        }
    });

    // CSRF対策
    const getCookie = name => {
        if (document.cookie && document.cookie !== '') {
            for (const cookie of document.cookie.split(';')) {
                const [key, value] = cookie.trim().split('=');
                if (key === name) {
                    return decodeURIComponent(value);
                }
            }
        }
    };
    const csrftoken = getCookie('csrftoken');

    // 注文を確定ボタンクリックで発動
    document.getElementById('order_done').addEventListener('click', e => {// ページ遷移をキャンセル
        const name = document.getElementById('name')
        const furigana = document.getElementById('furigana')
        const email = document.getElementById('email')
        const tel = document.getElementById('tel')
        const receipt = document.getElementById('receipt')
        if ( name.textContent == '' ||  furigana.textContent == '' || email.textContent == '' || tel.textContent == '' || receipt.textContent == '' ) {
            e.preventDefault(); // ページ遷移をキャンセル
            const element  = Object.assign(document.createElement('div'), { className: 'order__reorder sticky-top rounded-0 alert alert-warning alert-dismissible fade show m-0' });
            const element2  = Object.assign(document.createElement('strong'), { innerText: 'ご注文者様の情報を入力してください。' });
            const element3  = Object.assign(document.createElement('button'), { className: 'order__reorder--btn close', type: 'button' });
            const element4  = Object.assign(document.createElement('span'), { className: 'order__reorder--close', innerHTML: '&times;' });
            // 階層に合わせて要素をまとめる
            element3.appendChild(element4);
            element.appendChild(element2);
            element.appendChild(element3);
            // 最後に追加
            document.body.insertBefore(element, document.body.firstChild);

            let order_alert = document.querySelector('.order__reorder');
            order_alert.setAttribute('role', 'alert');
            let alert_btn = document.querySelector('.order__reorder--btn');
            alert_btn.setAttribute('data-dismiss', 'alert');
            alert_btn.setAttribute('aria-label', 'Close');
            let alert_close = document.querySelector('.order__reorder--close');
            alert_close.setAttribute('aria-hidden', 'true');
        } else if ( totalPrice.textContent == '\xA50' ) {
            e.preventDefault(); // ページ遷移をキャンセル
            const element  = Object.assign(document.createElement('div'), { className: 'order__reorder sticky-top rounded-0 alert alert-warning alert-dismissible fade show m-0' });
            const element2  = Object.assign(document.createElement('strong'), { innerText: 'カートに商品がありません。' });
            const element3  = Object.assign(document.createElement('button'), { className: 'order__reorder--btn close', type: 'button' });
            const element4  = Object.assign(document.createElement('span'), { className: 'order__reorder--close', innerHTML: '&times;' });
            // 階層に合わせて要素をまとめる
            element3.appendChild(element4);
            element.appendChild(element2);
            element.appendChild(element3);
            // 最後に追加
            document.body.insertBefore(element, document.body.firstChild);

            let order_alert = document.querySelector('.order__reorder');
            order_alert.setAttribute('role', 'alert');
            let alert_btn = document.querySelector('.order__reorder--btn');
            alert_btn.setAttribute('data-dismiss', 'alert');
            alert_btn.setAttribute('aria-label', 'Close');
            let alert_close = document.querySelector('.order__reorder--close');
            alert_close.setAttribute('aria-hidden', 'true');
        } else {
            const url = '{% url "order_thanks" %}';

            // クーポン金額を取得
            if ( '{{ use_coupon }}' == 'valid' && useCoupon.checked ) {
                var coupon = 330;
            } else {
                var coupon = 0;
            }

            // 日付から【本日】or【翌日】を削除
            let date = '{{ date }}'.replace( /【本日】/g, '').replace( /【明日】/g, '');
            // 12月で1月の日付を選択したら翌年を追加
            if ( new Date().getMonth() + 1 == 12 && '{{ date }}'.slice(0, 1) == 1 ) {
                var year = new Date().getFullYear() + 1;
            } else {
                var year = new Date().getFullYear();
            }
            let receipt = year + '年' + date + ' ' + '{{ time }}'

            // URLのクエリパラメータを管理
            const body = new URLSearchParams();
            body.append('name', '{{ name }}');
            body.append('furigana', '{{ furigana }}');
            body.append('email', '{{ email }}');
            body.append('tel', '{{ tel }}');
            body.append('receipt', receipt);
            body.append('coupon', coupon);

            fetch(url, {
                method: 'POST',
                body: body,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
                    'X-CSRFToken': csrftoken,
                }
            })
        }
    });
</script>
{% endblock %}