{% extends "app/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>お持ち帰り予約 - 注文情報 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span>お持ち帰り予約</span>
</h1>

<div class="mx-auto text-center">
    <p class="d-inline-block text-left mb-4">ご注文様の情報とお受け取り日時をご入力ください。</p>
    <form method="POST" action="{% url 'order_confirm' %}" class="text-center">
        {% csrf_token %}
        <table class="order-user__form d-table card mx-auto p-4 p-md-3 ">
            <tbody class="order-user__form--body mx-auto">
                <tr class="d-block d-md-table-row">
                    <th class="d-block d-md-table-cell text-left text-md-right align-top">
                        <label for="id_name" class="m-0">お名前
                            <span class="signup__required">【必須】</span>
                        </label>
                    </th>
                    <td class="d-block d-md-table-cell mb-4">
                        {% render_field form.name class="form-control" %}
                    </td>
                </tr>
                <tr class="d-block d-md-table-row">
                    <th class="d-block d-md-table-cell text-left text-md-right align-top">
                        <label for="id_furigana" class="m-0">フリガナ
                            <span class="signup__required">【必須】</span>
                        </label>
                    </th>
                    <td class="d-block d-md-table-cell mb-4">
                        {% render_field form.furigana class="form-control" %}
                    </td>
                </tr>
                <tr class="d-block d-md-table-row">
                    <th class="d-block d-md-table-cell text-left text-md-right align-top">
                        <label for="id_email" class="m-0">メールアドレス
                            <span class="signup__required">【必須】</span>
                        </label>
                    </th>
                    <td id="email-form" class="d-block d-md-table-cell mb-4">
                        {% render_field form.email class="form-control" placeholder="メールアドレス" %}
                        {% for field in form %}
                            <p class="error-msg email_error d-none text-left m-0">
                                {% for error in field.errors %}
                                    ※{{ error }}<br>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p class="error-msg email_error d-none text-left m-0">
                                ※{{ error }}
                            </p>
                        {% endfor %}
                    </td>
                </tr>
                <tr class="d-block d-md-table-row">
                    <th class="d-block d-md-table-cell text-left text-md-right align-top">
                        <label for="id_tel" class="m-0">電話番号
                            <span class="signup__required">【必須】</span>
                        </label>
                    </th>
                    <td class="d-block d-md-table-cell mb-4">
                        {% render_field form.tel class="form-control" %}
                    </td>
                </tr>
                <tr class="d-block d-md-table-row">
                    <th class="d-block d-md-table-cell text-left text-md-right align-top">
                        <label class="m-0">受取日時
                            <span class="signup__required">【必須】</span>
                        </label>
                    </th>
                    <td class="d-block mb-4">
                        <div class="d-sm-flex">
                            <select id="date" name="date" class="order-user__form--body--select--date form-control mb-2 mb-sm-0 mr-sm-3" onchange="timeChange();">
                                {% for date in date_list %}
                                    <option value="{{ date }}">{{ date }}</option>
                                {% endfor %}
                            </select>
                            <select id="specified_time" name="time" class="order-user__form--body--select--time form-control">
                                {% for time in time_list %}
                                    <option value="{{ time }}">{{ time }}</option>
                                {% endfor %}
                            </select>
                            <select id="full_time" name="fulltime" class="order-user__form--body--select--time d-none form-control">
                                {% for fulltime in fulltime_list %}
                                    <option value="{{ fulltime }}">{{ fulltime }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <p class="error-msg text-left mt-1 mb-0">※年末年始12/30～1/6と1月は毎週月・火曜日（1/9の祝日は営業）をお休みさせていただきます。</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="order-user__help mx-auto mt-1">
            <p class="help-text text-left m-0">
                ※当日のご注文受付は16:30までとさせていただきます。また店舗の状況により当日注文をお受けいたしかねる場合がございます。ご了承ください。※16:30以降にご注文の場合は翌日13:00以降のお受け取りとなります。
            </p>
        </div>
        <div class="position-relative">
            <a class="back-btn d-none d-sm-block btn rounded-pill" href="{% url 'order' %}" ontouchstart="">戻る</a>
            <button class="order-user__btn btn rounded-pill" type="submit" ontouchstart="">注文確認画面へ</button>
        </div>
    </form>
</div>
{% endblock %}


{% block extrajs %}
<script>
    'use strict';

    // 本日を選択時のみ指定時間に変更
    let date = document.getElementById('date');
    let specified_time = document.getElementById('specified_time');
    let fulltime = document.getElementById('full_time');

    let timeChange = () => {
        if (date.value.match(/本日/)) {
            specified_time.className = 'order-user__form--body--select--time d-block form-control';
            full_time.className = 'd-none';
        } else {
            specified_time.className = 'd-none';
            full_time.className = 'order-user__form--body--select--time d-block form-control';
        }
    }

    // エラーメッセージ（メールアドレス）
    const email_error = document.querySelectorAll('.email_error');
    const email = document.getElementById('id_email');
    for ( let i = 0; i < email_error.length; i++ ) {
        if ( email_error[i].textContent.match(/メール/) ) {
            email_error[i].className = 'error-msg m-0 d-block text-left';
            email.className = 'form-control form-error';
        }
        email.addEventListener('click', () => {
            email_error[i].className = 'error-msg email_error d-none m-0 text-left'
            email.className = 'form-control'
        })
    }

    // リアルタイムバリデーション
    email.oninput = () => {
        const emailForm = document.getElementById('email-form');
        let settingInfo = (link, carrier)  => {
            const element  = Object.assign(
                document.createElement('p'), {
                    className: 'order-user__form--body--email-warning text-left mt-1 mb-0',
                    innerHTML: `<i class="order-user__form--body--email-warning--icon fas fa-exclamation-triangle fa-fw mr-1" aria-hidden="true"></i>\
                        ご注文確認メールが「spoon.gelato.takasaki@gmail.com」から届きます。<br>\
                        <b>受信許可設定（迷惑メール設定）</b>はお済みですか？\
                        <a class="order-user__form--body--email-warning--detail" href=${link} target="_blank" rel="noopener">${carrier}</a>`
                }
            );
            emailForm.insertBefore(element, email.nextSibling);
        }
        if ( email.value.match(/ezweb.ne.jp/) && emailForm.children.length == 5 ) {
            settingInfo('https://www.au.com/support/service/mobile/trouble/mail/email/filter/detail/domain/', 'au受信リスト設定');
        } else if ( email.value.match(/softbank.jp/) && emailForm.children.length == 5 ) {
            settingInfo('https://www.softbank.jp/mobile/support/mail/antispam/email-i/white/', 'SoftBank受信リスト設定');
        } else if ( email.value.match(/docomo.ne.jp/) && emailForm.children.length == 5 ) {
            settingInfo('https://www.nttdocomo.co.jp/info/spam_mail/domain/', 'docomo受信リスト設定');
        } else if ( (email.value.match(/ezweb.ne.jp/) || email.value.match(/softbank.jp/) || email.value.match(/docomo.ne.jp/)) && emailForm.children.length == 6 ) {
            ;
        } else if ( (!email.value.match(/ezweb.ne.jp/) || !email.value.match(/softbank.jp/) || !email.value.match(/docomo.ne.jp/)) && emailForm.children.length == 6 ) {
            document.querySelector('.order-user__form--body--email-warning').remove()
        }
    }
</script>
{% endblock %}