{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block title %}
<title>商品注文 | spoon</title>
{% endblock %}

{% block content %}
<div class="order-title">
    <span>ORDER</span>
</div>

<div class="text-center mx-auto rounded">
    <div class="row">
        <div class="col-9">
            <form id="add_size" method="POST">
                {% csrf_token %}
                <p>1.　サイズをお選びください。</p>
                <div class="d-flex justify-content-around">
                    {% for size_item in size %}
                        <div class="flex-column">
                            {% if size_item.image %}
                                <img src="{{ size_item.image.url }}">
                            {% endif %}
                            <h5>{{ size_item.title }}</h5>
                            <h4>{{ size_item.price }}円</h4>
                            <input type="text" class="size_title" require>
                            <button class="btn btn-primary" type="submit">カートに追加</button>
                        </div>
                    {% endfor %}
                </div>
                <!-- <div class="mb-3">
                    {% render_field form %}
                </div> -->
                <!-- <p class="order-text">2.　フレーバーをお選びください。</p>
                <div class="mb-3">
                    {% render_field form.flavor %}
                </div>
                <p class="order-text">3.　オプションをお選びください。　※任意</p>
                <div class="mb-3">
                {% render_field form.option %}
                </div> -->
                <!-- <p class="order-text">4.　ご注文様情報をご入力ください。</p>
                <div class="mb-3">
                {% render_field form.name class="form-control" placeholder="名前" %}
                </div>
                <div class="mb-3">
                    {% render_field form.email class="form-control" placeholder="メールアドレス" %}
                </div>
                <div class="mb-3">
                    {% render_field form.phone class="form-control" placeholder="電話番号" %}
                </div> -->
                <div class="mb-3">
                    <button class="btn btn-warning" type="submit"><i class="fas fa-paper-plane"></i>送信する</button>
                </div>
            </form>
        </div>
        <div class="col-3">
            <div class="card">
                <p>ご注文内容</p>
                <div id="size">
                    {% for size in size_list %}
                        <p>{{ size.title }}</p>
                    {% endfor %}
                </div>
                <p>小計：</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    const getCookie = name => {
        if (document.cookie && document.cookie !== '') {
            for (const cookie of document.cookie.split(';')) {
                const [key, value] = cookie.trim().split('=');
                if (key === name) {
                    return decodeURIComponent(value);
                }
            }
        }
    }
    const csrftoken = getCookie('csrftoken');
    // カート追加
    const addSize = document.getElementById('add_size');
    addSize.addEventListener('submit', e => {
        e.preventDefault();
        const url = '{% url "addsize" %}';
        const size_title = document.querySelectorAll('.size_title');
        for (let i = 0; i < size_title.length; i++) {
            fetch(url, {
                method: 'POST',
                body: `title=${size_title[i].value}`,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
                    'X-CSRFToken': csrftoken,
                },
            }).then(response => {
                return response.json();
            }).then(response => {
                size_title[i].value = '';
                const sizeArea = document.getElementById('size');
                const p = document.createElement('p');
                p.textContent = response.title;
                sizeArea.insertBefore(p, sizeArea.lastChild);
            }).catch(error => {
                console.log(error);
            });
        }
    });
</script>
{% endblock %}