{% extends "app/base.html" %}
{% load static %}

{% block content %}
<div class="payment-title">
  <span>PLEASE CHECK YOUR ORDER</span>
</div>

<form action="." method="POST" id="payment-form">
  <div class="payment row">
    <div class="payment__wrap col-md-7 col-lg-8">
      <div class="card rounded-0">
        <div class="card-body">
          <div class="row">
            <div class="payment__wrap--item col-sm-6 col-md-12 col-lg-5">
              <p>
                <i class="fas fa-check-circle fa-fw" aria-hidden="true"></i>ご注文者様
              </p>
              <p>お名前　：{{ user_data.first_name }} {{ user_data.last_name }} 様</p>
              <p>ご連絡先：{{ user_data.tel }}</p>
            </div>
            <div class="payment__wrap--pay col-sm-6 col-md-12 col-lg-7">
              <p><i class="fas fa-check-circle fa-fw" aria-hidden="true"></i>お支払い方法</p>
              {% csrf_token %}
              <label for="card-number">カード番号</label>
              <div id="card-number" class="payment__wrap--pay--number"></div>
              <label for="card-expiry">有効期限（月/年）</label>
              <div id="card-expiry" class="payment__wrap--pay--expiry"></div>
              <label for="card-cvc">セキュリティコード</label>
              <div id="card-cvc" class="payment__wrap--pay--cvc"></div>
              <div id="card-errors"  class="payment__wrap--pay--errors" role="alert"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="payment__wrap col-md-5 col-lg-4">
      <div class="card rounded-0">
        <div class="card-body text-center pt-0">
          <p class="payment__wrap--order">ご注文内容</p>
          <p class="payment__wrap--price">
            商品の小計：
            <span>{{ order.get_subtotal }}</span>
            <span>円(税別)</span>
          </p>
          <p class="payment__wrap--tax">
            消費税：
            <span>{{ order.get_tax }}</span>
            <span>円</span>
          </p>
          <hr>
          <p class="payment__wrap--total">
            ご請求金額：
            <span>{{ order.get_total }}</span>
            <span>円(税込)</span>
          </p>
          <button class="btn rounded-pill" type="submit" ontouchstart="">
            <i class="fas fa-check fa-fw" aria-hidden="true"></i>注文を確定する
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}