{% extends "app/base.html" %}

{% block content %}
<div class="product-detail row">
  <div class="product-detail__wrap col-sm-6">
    <img src="{{ object.image.url }}" class="img-fluid">
  </div>

  <div class="product-detail__wrap col-sm-6">
    <h3>{{ object.title }}</h3>
    <h2 class="product-detail__wrap--price">価格：
      <span class="product-detail__wrap--price--num">{{ object.price }}</span>
      <span class="product-detail__wrap--price--chara">円(税別)</span>
    </h2>
    <hr>
    <p class="product-detail__wrap--explanation">{{ object.description|linebreaksbr }}</p>
    <a class="product-detail__wrap--button btn rounded-pill" href="/" ontouchstart="">
      <i class="fas fa-shopping-cart fa-fw" aria-hidden="true"></i>カートに入れる
    </a>
  </div>
</div>
{% endblock %}