{% extends "app/base.html" %}
{% load static %}

{% block title %}
<title>特定商取引法に基づく表記 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span class="sctl-title px-2 px-sm-3">特定商取引法に基づく表記</span>
</h1>

<ul class="sctl mx-auto p-0">
    <li class="sctl__li mb-5">
        <p class="sctl__li--heading mb-2 pl-3 py-2">販売業者名</p>
        <p class="sctl__li--text px-4">有限会社プラリネ</p>
    </li>
    <li class="sctl__li mb-5">
        <p class="sctl__li--heading mb-2 pl-3 py-2">代表者</p>
        <p class="sctl__li--text px-4">細谷和利</p>
    </li>
    <li class="sctl__li mb-5">
        <p class="sctl__li--heading mb-2 pl-3 py-2">販売元</p>
        <p class="sctl__li--text px-4">
            <span class="sctl__li--text--ename d-inline-block">spoon</span>
            ジェラート＆焼菓子
        </p>
    </li>
    <li class="sctl__li mb-5">
        <p class="sctl__li--heading mb-2 pl-3 py-2">所在地</p>
        <p class="sctl__li--text px-4">〒370-0074 <br class="d-sm-none">群馬県高崎市下小鳥町67番地5</p>
    </li>
    <li class="sctl__li mb-5">
        <p class="sctl__li--heading mb-2 pl-3 py-2">電話番号</p>
        <p class="sctl__li--text px-4">027-363-8258</p>
    </li>
    <li class="sctl__li mb-5">
        <p class="sctl__li--heading mb-2 pl-3 py-2">販売商品</p>
        <p class="sctl__li--text px-4">手づくりジェラート</p>
    </li>
    <li class="sctl__li mb-5">
        <p class="sctl__li--heading mb-2 pl-3 py-2">販売価格</p>
        <p class="sctl__li--text px-4">
            <a href="{% url 'order' %}">spoonのお持ち帰り予約</a>
            ページをご覧ください
        </p>
    </li>
    <li class="sctl__li mb-5">
        <p class="sctl__li--heading mb-2 pl-3 py-2">商品代金以外の必要料金</p>
        <p class="sctl__li--text px-4">特になし　<br class="d-sm-none">※料金に消費税を含みます</p>
    </li>
    <li class="sctl__li mb-5">
        <p class="sctl__li--heading mb-2 pl-3 py-2">お支払い方法</p>
        <p class="sctl__li--text px-4">店頭にて現金または高崎市子育て応援商品券のみの取り扱いとなります</p>
    </li>
    <li class="sctl__li mb-5">
        <p class="sctl__li--heading mb-2 pl-3 py-2">返品・交換・キャンセル等</p>
        <p class="sctl__li--text px-4">商品の性質上、お客様ご都合による返品、交換はいたしかねますのでご了承ください。万が一商品に不良や品違いがございましたら、当日中に購入店舗へ直接お電話にてご連絡ください。交換または返金をさせていただきます。翌日を過ぎますと返品交換のご要望はお受けできなくなりますのでご了承ください。</p>
    </li>
</ul>
{% endblock %}