{% extends "app/base.html" %}
{% load static %}

{% block title %}
<title>特定商取引法に基づく表記 | spoon</title>
{% endblock %}

{% block content %}
<h1 class="title">
    <span>特定商取引法に基づく表記</span>
</h1>

<table class="company mx-auto">
    <tbody>
        <tr>
            <th class="px-2 py-4 p-sm-4">社名</th>
            <td class="px-2 py-4 p-sm-4">有限会社プラリネ</td>
        </tr>
        <tr>
            <th class="px-2 py-4 p-sm-4 align-top">所在地</th>
            <td class="px-2 py-4 p-sm-4">〒370-0074<br class="d-sm-none">
                <span class="ml-sm-3">群馬県高崎市下小鳥町67番地5</span>
            </td>
        </tr>
        <tr>
            <th class="px-2 py-4 p-sm-4">電話番号</th>
            <td class="px-2 py-4 p-sm-4">027-363-8258</td>
        </tr>
        <tr>
            <th class="px-2 py-4 p-sm-4">代表取締役</th>
            <td class="px-2 py-4 p-sm-4">細谷和利</td>
        </tr>
        <tr>
            <th class="px-2 py-4 p-sm-4">設立</th>
            <td class="px-2 py-4 p-sm-4">2000年1月</td>
        </tr>
        <tr>
            <th class="px-2 py-4 p-sm-4">資本金</th>
            <td class="px-2 py-4 p-sm-4">300万円</td>
        </tr>
        <tr>
            <th class="px-2 py-4 p-sm-4 align-top">事業内容</th>
            <td class="px-2 py-4 p-sm-4">パンの製造・販売、カフェ経営、ジェラート店経営</td>
        </tr>
    </tbody>
</table>
{% endblock %}