{% load static %}

<div class="sidebar col-xl-3 mt-5 mt-xl-2">
    <div class="sidebar__store d-none d-xl-block text-xl-left">
        <img class="sidebar__store--img" src="{% static 'img/spoon_right.png' %}" alt="spoonお店外観">
        <p class="sidebar__store--name mb-0 mt-1">spoon ジェラート＆焼菓子</p>
        <p class="sidebar__store--info mt-2">
            <a class="sidebar__store--info--map" href="https://www.google.co.jp/maps/place/%E3%80%92370-3522+%E7%BE%A4%E9%A6%AC%E7%9C%8C%E9%AB%98%E5%B4%8E%E5%B8%82%E8%8F%85%E8%B0%B7%E7%94%BA%EF%BC%91%EF%BC%92%EF%BC%94%EF%BC%93%E2%88%92%EF%BC%99/@36.3803438,139.0080042,17z/data=!3m1!4b1!4m5!3m4!1s0x601e8c8d4e95f6e7:0x5882f4339e9e0814!8m2!3d36.3803395!4d139.0101929?hl=ja">群馬県高崎市菅谷町1243-10</a><br>
            営業時間 11:00～18:00 不定休<br>
            <span class="help-text">※材料が終わり次第、営業終了になることもございます。</span>
            TEL 027-310-0112<br>
        </p>
    </div>
    <!-- Instaglam -->
    <!-- <div id="insta-window" class="iswd-base p-3 p-sm-5 p-xl-2 mt-xl-5" data-username="spoon_gelato" data-display-image-count="9" data-wrapper-width></div> -->
</div>

{% block extrajs %}
    <script src="https://insta-window-tool.web.app/v2/insta-window.js"></script>
{% endblock %}